[2018-07-04 20:18] bashir2 commented on #529
@theacodes thanks for merging this. Do you have any idea of when the next release will be done such that I can pick up this fix in downstream projects?

[2018-07-05 03:01] mcdonc commented on #537
Awaiting credentials from Google for GSuite so I can confirm the issue.

[2018-07-07 06:11] iamlordaubrey opened #538 "Batch Request returns 404 "Not Found""
Hi guys, I'm having a recent issue

[code]

I keep getting an exception:
An exception occurred:  <HttpError 404 when requesting https://www.googleapis.com/customsearch/v1?q={q}&cx={cx}&hl=en&lr=lang_en&num=3&sort=date&orTerms={orTerms}&key={key}&alt=json returned "Not Found">
However, clicking on the link https://www.googleapis.com/customsearch/v1?q={q}&cx={cx}&hl=en&lr=lang_en&num=3&sort=date&orT

[2018-07-09 18:56] mcdonc commented on #538
Confirmed locally using the following:

[code]

[2018-07-09 19:18] mcdonc commented on #538
The effective batch API URL constructed by BatchHttpRequest is:
[code]

This URI is NotFound, which is why the exception happens, I believe.

[2018-07-09 19:38] nvllsvm opened #539 "Support Python 3.7"
Python 3.7 stable was released on June 27, 2018.

Todo:
- [x] Confirm working with Python 3.7
- [x] Add Python 3.7 to ``classifiers`` in setup.py

[2018-07-10 06:53] iamlordaubrey commented on #538
Hi @mcdonc, @JustinBeckwith
Thanks for all you've done so far. I'm new with these things (my first public issue ever); please what are the next steps?

[2018-07-10 12:02] mcdonc commented on #538
@iamlordaubrey I've marked this ticket as "backend" and I hope that at some point this week or next we can escalate it to the backend team, once I figure out how to do that.  In the meantime, there isn't much you or I can do :)

[2018-07-10 12:06] mcdonc commented on #539
I'll add one more step:

- [ ] Change travis configuration to do CI against 3.7

At this time, however, Travis doesn't officially support 3.7 yet... https://github.com/travis-ci/travis-ci/issues/9815

[2018-07-10 12:14] mcdonc commented on #517
@manikandan-enability  You need to use googleapiclient.http.MediaBaseIoBaseUpload; there is an example at https://google.github.io/google-api-python-client/docs/epy/googleapiclient.http.MediaIoBaseUpload-class.html

[2018-07-10 12:14] #517 closed

[2018-07-10 13:03] mcdonc commented on #235
Awaiting merge of https://github.com/google/google-api-python-client/pull/533

[2018-07-10 15:13] mcdonc commented on #535
Running debugging commentary for future reference:

- Not a function of the docstring being large; if I change createMethod to not set the docstring onto the dynamically generated method, it still leaks.

- Causing the generated method to be a noop doesn't fix the leak.

[2018-07-11 16:18] #235 closed

[2018-07-12 07:07] rnovacek commented on #536
It happens to me too, I'm using this as a workaround:

[code]

[code]

[2018-07-12 17:59] mcdonc commented on #535
This is the "leak", a very simple circref.  It cannot be avoided without a redesign.

![gapi-circref](https://user-images.githubusercontent.com/125174/42650919-c93c0f86-85db-11e8-9943-a207875a382e.png)

[2018-07-13 10:18] scottpazelt commented on #537
Experiencing the same issue assigning role\owner. Please advise if a workaround is available.

Thanks.

[2018-07-14 03:14] mcdonc commented on #535
Now that we've figured why we perceive there is a leak, a) is it a problem?  and b), if so, what can we do about it?

# Is it a problem?

Yes and no.

Theoretically, no, it's not a problem.  Reference cycles in programs are normal, and Python's garbage collector will eventually trash the objects involved in cycles.  Every time a Resource object is created (by calling methods on other Resource obje

[2018-07-14 06:55] iamlordaubrey commented on #538
Ok, thanks. Fingers crossed 🤞

[2018-07-14 11:36] mrc0mmand commented on #535
Thank you very much for the thorough analysis. As you already said, a complete fix would require some time to implement, so the temporary fix using a cache along with `gc.collect()` is good enough for now at keeping the memory consumption at bay.

Again, thanks!

[2018-07-14 13:01] mcdonc commented on #535
@mrc0mmand yes, in your particular case, creating "sheets" only once would make it leak so little that you won't need gc.collect()

[2018-07-14 13:32] mcdonc commented on #535
@theacodes can you advise about which one of the options in https://github.com/google/google-api-python-client/issues/535#issuecomment-404994715 is most appropriate?

[2018-07-16 14:17] mcdonc commented on #537
Assigned to @crwilcox at the behest of @JustinBeckwith

[2018-07-16 14:18] mcdonc commented on #536
Assigned to @crwilcox at the behest of @JustinBeckwith

[2018-07-16 14:20] mcdonc commented on #509
Closing due to lack of communication.  Please reopen if necessary.

[2018-07-16 14:20] #509 closed

[2018-07-16 15:36] mcdonc commented on #456
The epydoc-generated docs for google-api-python-client were updated Jun 25, so I am going to close this.  If any other docs need updating, please let us know.

[2018-07-16 15:36] #456 closed

[2018-07-16 16:47] mcdonc commented on #151
The latest uritemplate package version is 3.0.0, and its internal structure is a lot different than the version you're using.  I tried to recreate the symptom by doing e.g.

    siteUrl="http://www.lånsms.dk/{abc}"
    uritemplate.expand(siteUrl, {'abc':siteUrl})

And got a result ('http://www.lånsms.dk/http%3A%2F%2Fwww.l%C3%A5nsms.dk%2F' on py36 and 'http://www.l\xc3\xa5nsms.dk/http%3A%2F%2Fwww.l

[2018-07-16 16:56] mcdonc commented on #162
This code has been through so many changes by now that the original line of code mentioned by OP no longer exists, and I'm not keen on doing the archaelogy to find the version that was in use when the bug was submitted to do a 3-way comparison.  I'm going to close this as a result; if you find the problem continues to exist in modern versions of google-api-python-client, please reopen.

[2018-07-16 16:56] #162 closed

[2018-07-17 16:58] mcdonc commented on #164
I'm currently reviewing ways to avoid the folding.

[2018-07-17 17:15] mcdonc commented on #164
This appears to be the very simplest fix:

https://github.com/google/google-api-python-client/compare/master...mcdonc:content-id-linefolding-164

(once I finish tests, I'll submit a PR)

Thanks so much for the precise bug report (and apologies for the interminable wait for a response).

[2018-07-17 17:31] #503 closed

[2018-07-17 17:32] #524 closed

[2018-07-18 18:32] mcdonc commented on #536
I just submitted a PR (https://github.com/google/google-api-python-client/pull/545) that should fix this.

[2018-07-18 20:18] #164 closed

[2018-07-18 20:18] #536 closed

[2018-07-19 15:19] #207 closed

[2018-07-19 16:19] mcdonc commented on #226
It appears that the solution to this, which is currently documented as canon in the download_reports function at  https://developers.google.com/youtube/reporting/v1/code_samples/python#retrieve_reports is to pass a non-empty value as resourceName (a single space character).

If this seems unreasonable, please comment, and we will consider reopening.  Thanks a lot for the bug report and apologies f

[2018-07-19 16:19] #226 closed

[2018-07-19 16:48] mcdonc commented on #241
The original bug appears to now be fixed (verified by uploading empty file to Drive, then using MediaIoBaseDownload to download it successfully).  I'm closing this issue as a result, thanks so much for the report.

[2018-07-19 16:48] #241 closed

[2018-07-20 12:08] mcdonc commented on #528
This issue was moved to GoogleCloudPlatform/google-cloud-python#5662

[2018-07-20 12:08] #528 closed

[2018-07-20 12:10] mcdonc commented on #528
This bug was slightly misfiled.  I used a Github "issue mover" to put this issue into the correct place, which created https://github.com/GoogleCloudPlatform/google-cloud-python/issues/5662 .

[2018-07-21 08:33] lanec commented on #468
Hi @mcdonc

I shared the code snippets from the Google API documentation.

The application I am working on is proprietary but the code snippets that Google shares is verbatim what I was using.

[2018-07-21 14:56] mcdonc commented on #468
@lanec ok, I'll eventually try to divine what you're doing from your English description.  This issue will be closed faster, however, if someone is able to supply a script that demonstrates the issue so diviniation is unneccessary. :)

[2018-07-23 14:52] mcdonc commented on #476
I'm going to close this issue as @crwilcox seems to have identified the problem and provided a workaround.  If this is in error, please let me know, and let me know what more is required.  Thanks!

[2018-07-23 14:52] #476 closed

[2018-07-23 15:11] mcdonc commented on #371
This issue was moved to GoogleCloudPlatform/google-cloud-python#5673

[2018-07-23 15:11] #371 closed

[2018-07-23 15:17] mcdonc commented on #392
Hi @jerinshirley .  I understand that you're trying to run a sample script unchanged?  I know it may sound pedantic, but can you paste the script you're trying to run as well as the output from your console when it fails?

[2018-07-23 16:05] mcdonc commented on #354
I haven't actually tried uploading a 64+GB file because my connection won't support it at the moment, but the API now returns "5120GB" as the maxSize from discovery using v3 of the API.

[code]

As a result, I am closing this issue, because I believe this was a server-imposed limitation.  If anyone believes this is in error, please reopen or comment.  Thanks!

[2018-07-23 16:05] #354 closed

[2018-07-23 16:17] mcdonc commented on #315
This no longer appears to be the case with the master version of the API client.  I attempted to use MediaFileUpload with resumable=True and no warnings were produced.  Thanks for the report!

[2018-07-23 16:17] #315 closed

[2018-07-23 18:09] mcdonc commented on #407
This (perspectiveapi) appears to be a third-party service.  The endpoint of the third-party service is timing out, apparently.

You can work around this by doing this in your script before you make the call to the service:

[code]

3600 == 60 * 5 (5 minutes)

[2018-07-23 18:09] #407 closed

[2018-07-23 18:23] mcdonc commented on #441
Someone with access to a Doubleclick Agency Manager will need to triage this.  I am assigning to @crwilcox provisionally to indicate this.

[2018-07-24 14:49] mcdonc commented on #313
I think this issue may need closing, for better or worse.  Rationale: it has been many months since a post that isn't a "+1" or "me too" style, and a coherent set of steps to reproduce never appeared here.  I'm going to leave it open with a "needs more info" tag for a bit; if someone can boil this down to a set of steps to reproduce that includes code, please comment here and I'll follow up.  If w

[2018-07-24 15:01] mcdonc commented on #530
I think I need some handholding to understand this, apologies.  Background:  I'm helping take care of this repository, but I'm not an expert on every backend API that the client library talks to, nor the configuration capabilities of particular ones, so please be patient.

As far as I can tell from the docs, the Apps Script API is "in the cloud", and there aren't any options to secure by IP restri

[2018-07-24 15:06] mcdonc commented on #527
It appears there is a "create" method accessed via:

service.accounts().customApps().create(...)

See https://developers.google.com/resources/api-libraries/documentation/playcustomapp/v1/python/latest/playcustomapp_v1.accounts.customApps.html

I hope this helps.

[2018-07-24 15:06] #527 closed

[2018-07-24 15:19] mcdonc commented on #511
Hi @baxtery I suspect you may want to be using https://googlecloudplatform.github.io/google-cloud-python/latest/translate/usage.html instead of the google-api-python-client service to do translation; it's the more recent iteration of translation service provided by Google.  I'll close this issue as a result, but if you feel that you must use this API via the google-api-python-client, let me know,

[2018-07-24 15:19] #511 closed

[2018-07-24 15:55] mcdonc commented on #478
For the record, this error is almost certainly due to the following combination of events:

-  The certificate database of the operating system on which the script is run is outdated.

- You are running Python 2 >= 2.7.9 or Python 3 >= 3.4

In these versions of Python, SSL certificate verification is turned on by default (in previous versions, it was turned off by default).  The solution is to upd

[2018-07-24 15:55] #478 closed

[2018-07-24 17:03] mcdonc commented on #449
Apologies, only the google-cloud-pubsub library will ever support this envvar; the google-api-python client library has no direct knowledge of pubsub; it simply translates discovery documents into a Python API.

[2018-07-24 17:03] #449 closed

[2018-07-24 17:09] mcdonc commented on #409
This issue was moved to google/oauth2client#739

[2018-07-24 17:09] #409 closed

[2018-07-24 17:10] mcdonc commented on #409
I moved this issue to the oauth2client issue tracker, as it's actually an issue with this library, and not google-api-python-client itself.

[2018-07-24 17:16] mcdonc commented on #391
I may be missing something here, but the purpose of the client library is to abstract away the details of the HTTP operations from the developer.  The client library doesn't expose this level of control.  As a result, I am closing this issue.  If you believe I'm in error, please let me know.  Thanks!

[2018-07-24 17:16] #391 closed

[2018-07-24 17:53] mcdonc commented on #400
I'm assigning this to @crwilcox provisionally because I don't believe I can use this API without some administrative help from a Googler.

[2018-07-24 17:56] mcdonc commented on #431
Closing this, as it is effectively a dupe of #166 (the sample needs to be updated for a more recent Django).

[2018-07-24 17:56] #431 closed

[2018-07-24 17:58] mcdonc commented on #186
The suggestion that @bantini offered works for me too.  I'll close this issue as a result.

[2018-07-24 17:58] #186 closed

[2018-07-24 21:38] jparris opened #549 "Problems with mediaItems().search() for photos api"
Hi There,

I'm trying to list a google photo library using the [api](https://developers.google.com/photos/library/guides/list#listing-library-contents) in python.

# Code
get_authenticated_service is from [chunked_transfer.py](https://github.com/GoogleCloudPlatform/storage-file-transfer-json-python/blob/master/chunked_transfer.py)
[code]

# Error
[code]

# Version info
[code]

[2018-07-25 14:07] mcdonc commented on #549
@jparris you don't need to pass JSON as the body.  Instead:

[code]

[2018-07-25 14:07] #549 closed

[2018-07-25 15:04] jparris commented on #549
@mcdonc this works for me. Thanks for the prompt response.

-Jon

[2018-07-25 18:45] mcdonc commented on #388
I don't think there's anything we can do on the client library side to help fix this.  It appears to be an intermittent connectivity issue between the host that is running the client library and the googleapis.com cluster.  I'm closing this as a result.  Even though this is nominally a "google problem" (as the code is running on GCE), there's not much from the perspective of the maintainers of thi

[2018-07-25 18:45] #388 closed

[2018-07-25 18:52] mcdonc commented on #176
As the client library talks to many backend APIs (including YouTube) and each one has the opportunity to signify its own type of rate-limiting, and we cannot tie the client library to any particular static set of them for maintainability reasons, I'm going to close this issue.  Please let me know if you think this is in error, but please try to provide some example code changes if you do that give

[2018-07-25 18:52] #176 closed

[2018-07-25 19:06] mcdonc commented on #245
The comment from @badnoodle describes the correct way to call this API.

[2018-07-25 19:06] #245 closed

[2018-07-25 19:20] mcdonc commented on #322
You can also fix this issue by adding

[code]

To your /etc/mime.types file (on UNIX) or to your Windows registry on WIndows.

On my Ubuntu 18.04 machine, this line already exists in /etc/mime.types.  I'm closing, as a result.

[2018-07-25 19:20] #322 closed

[2018-07-26 03:29] lanec commented on #468
@mcdonc I don't blame you for not being able to make progress on this in a timely manner.

It was frustrating writing software to interface with this API since the Google documentation is very much out of date. Even determining the dependencies for authenticating with them was a project all in of itself.

The project is proprietary so I can't share it on here.

I provided links to the specific req

[2018-07-26 07:46] dtheodor commented on #292
Yea this would work. I think it would be slightly better if the library supported this instead of resorting to this god awful hack.

[2018-07-26 14:12] mcdonc commented on #138
Related:  https://developers.google.com/api-client-library/python/guide/media_upload#resumable-media-chunked-upload

[2018-07-26 16:33] #216 closed

[2018-07-27 11:52] kapilt commented on #539
its not well documented, but travis does support 3.7,  example https://github.com/capitalone/cloud-custodian/blob/master/.travis.yml

[2018-07-27 12:58] mcdonc commented on #380
Thanks for the report.  Can you provide the code you're using when this error is generated?

[2018-07-27 13:18] mcdonc commented on #366
It does not appear there is an API to get the data presented by https://myactivity.google.com/myactivity , apologies.

[2018-07-27 13:18] #366 closed

[2018-07-27 13:21] mcdonc commented on #356
I do not have G-Suite access yet, so provisionally assigning this to @crwilcox.

[2018-07-28 23:49] paulgholin opened #551 "Scope has changed"
Hi there,
I ran the final complete example of https://developers.google.com/api-client-library/python/auth/web-app but encountered the following warning:

**builtins.Warning**
Warning: Scope has changed from "https://www.googleapis.com/auth/drive.metadata.readonly" to "https://www.googleapis.com/auth/plus.moments.write https://www.googleapis.com/auth/plus.profile.agerange.read https://www.googleap

[2018-07-30 16:46] chrish10e commented on #536
I still get this error in `1.7..4`

[2018-07-30 16:48] chrish10e opened #552 "googleapiclient.errors.BatchError: <BatchError "Invalid value for Content-ID""
Still getting error reported in this issue: https://github.com/google/google-api-python-client/issues/536

Only difference from original ticket is the error is on line `1192` of `http.py` now

[2018-07-30 17:06] mcdonc commented on #536
@chrish10e indeed.. the next release will include the fix. Or you can use the master version from github.

[2018-07-30 17:07] mcdonc commented on #552
Please try the master version from Github.

[2018-07-30 17:07] #552 closed

[2018-07-31 14:29] mcdonc commented on #551
I cannot replicate this.  Here is the output from my terminal when I run the flask application with my own credentials and hit the /test endpoint with my browser.  I authenticate successfully and see the API repsonse.

[code]

[2018-07-31 14:34] mcdonc commented on #551
Here's a diagnosis from another project with a similar symptom:

https://github.com/gratipay/gratipay.com/issues/2862

[2018-08-03 18:53] paulgholin commented on #551
It's pretty weird that there is no issue after I tried the same settings in a brand-new project...

[2018-08-03 18:53] #551 closed

[2018-08-05 11:09] omi10859 opened #553 "No module named 'apiclient.discovery'"
Im getting No module named 'apiclient.discovery' error while all dependencies are already installed
and updated using

[2018-08-05 14:05] mcdonc commented on #553
Try using "googleapiclient.discovery" instead, e.g.:

[code]

[2018-08-08 12:08] quistian opened #554 "from oauth2client import client problems"
I have tried to run the calendar.py application from the samples directory. When I do, the line:

from oauth2client import client

Generates the following error:
 File "./calendar.py", line 23, in <module>
    from oauth2client import client
  File "/usr/local/lib/python2.7/site-packages/oauth2client/client.py", line 39, in <module>
    from oauth2client import transport
  File "/usr/local/lib/pyt

[2018-08-08 17:39] paulgholin opened #555 "migrate from oauth2client"
Hi there,
Our website is built based on:
https://github.com/googleplus/gplus-quickstart-python/blob/master/signin.py

Since oauth2client is deprecated in favor of google-auth and we want to upgrade from python2 to python3 as well as use Flask Quart, I tried it and it **worked originally** by basically changing from v1 to v2 as the following:

v1:
[code]

v2:
[code]

But recently it shows the follo

[2018-08-08 19:56] pavelkrejsa opened #556 "Error with local dev_appserver.py on MacOSX macOS 10.13.6 (17G65)"
Hi,
I moved my development from Cloud9 IDE to my MacBook Pro. Using homebrew instalation of Python 2.7.15, but the same problem was with vanilla MacOSX Python installation 2.7.10.

There is no problem on Cloud9 IDE (Ubuntu LTS), but when I run dev_appserver.py on my MacBook Pro locally, I get following error:

I was able to go up to /Users/pavelkrejsa/VividIT/iknowmytime-python/lib/pendulum/tz/loc

[2018-08-14 10:19] karthick-ck opened #557 "Need help on Oauth2 decorators used in Appengine code"
Hi Team,

I have to read spreadsheet data in one of my appengine handler and have to send it in the response.

I have used "oauth2client.appengine.OAuth2Decorator" to get OAuth tokens by which I can call the spreadsheet api. Now I am facing issue that the redirection to 'accounts.google.com' is failing due to
"No 'Access-Control-Allow-Origin' header is present on the requested resource" error.

Ca

[2018-08-16 13:11] bgi commented on #554
I have the same issue, nice to see that no one reacts. Its annyoing as f***, I cant count the times I sat there trying to import some google libraries in app engine. Cant remember it going smoothly ever.

[2018-08-16 13:26] bgi commented on #554
Okay, got it. When one googles this issue the the commonly proposed fix is: "pip install --upgrade oauth2client" and vendor in the lib directory. See the problem? The command should be "pip install --upgrade -t lib oauth2client" or else you vendor in nothing. I really love the attention to detail of some folks.

[2018-08-16 19:36] crwilcox commented on #400
Thank you @antoniomika for your assistance. That is correct. For regionally scoped managers, you need to use `regionInstanceGroupManager`

@mcdonc , I think this may be something we can fix with better documentation perhaps. By design, `instanceGroupManagers` are not scoped to regions.
Perhaps if we added a mention of `regionInstanceGroupManagers` in https://developers.google.com/resources/api-lib

[2018-08-16 23:45] thehesiod opened #558 "ConnectionResetError missing in retry"
Here's a callstack we just got and it wasn't retried:

[code]

looks like a python3 support issue, this case is covered in py2 by socket.error.  In my implementation I've centralized this logic here: https://github.com/thehesiod/google-api-python-client/blob/thehesiod/batch-retries/googleapiclient/http.py#L143

[2018-08-17 18:02] cas756323 opened #559 "new gmail problem"
Hi,
I have a problem with drafts in new gmail.
I wrote the code with old gmail and works perfect.

With new gmail there are two problems:
* i cant import .ics file (if i use the "text', "calendar")
* some clients (i think, the ones that don't have new gmail) don't receive any attachments or received duplicated. But in the sent mail, the attachments are right.

If i turned to old gmail, everything

[2018-08-21 07:16] grant commented on #531
@stephanepiriou Can you be specific with what changes you're looking for?

We unfortunately, haven't migrated the Drive API code from developers.google.com to GitHub yet. Some upload samples for python are here:
https://developers.google.com/drive/api/v3/manage-uploads

Please state 1-2 specific things you want added or changed.

[2018-08-22 00:11] paulgholin opened #561 "can't get User credentials"
Hi there,
I can run your following example properly:
https://developers.google.com/api-client-library/python/auth/web-app

When I just changed SCOPES in your code to the following:
SCOPES = ['https://www.googleapis.com/auth/plus.login']

I can get authorization_response from  `authorization_response = flask.request.url` but cannot get credentials in the next line from `credentials = flow.credentia

[2018-08-22 18:26] michaelbannister opened #562 "Can't get discovery doc for API in Alpha (specifically, containeranalysis v1alpha1) as developerKey (API key) not passed"
Using version 1.7.4 of this library.
I have access to the alpha of the Container Analysis feature and am trying to write some client code against the API.

[code]
fails with:
[code]

Testing this with `curl`, a request to `https://containeranalysis.googleapis.com/$discovery/rest?version=v1alpha1` _without_ a `key` param returns:
[code]
whereas adding the `key` param with my API key _does_ return t

[2018-08-23 00:17] thehesiod opened #563 "socket.timeout with will cause api client to become unuseable"
We recently ran into a socket.timeout issue using the google api client, and noticed that then all our requests would fail in the same way.  I later find that connections are cached here: https://github.com/httplib2/httplib2/blob/master/python3/httplib2/__init__.py#L1759

however there is no code to remove cached connections that are bad.  This is a major oversight.

Here's the callstack we hit:
[

[2018-08-23 00:29] thehesiod commented on #563
looks like this should do something similar to what's being done in the cloud-sdk retry code: http://testcompany.info/google-cloud-sdk/lib/third_party/apitools/base/py/http_wrapper.py

[2018-08-23 00:30] thehesiod commented on #558
probably should bring this into line with what the cloudsdk does: http://testcompany.info/google-cloud-sdk/lib/third_party/apitools/base/py/http_wrapper.py  at the same time handle: https://github.com/google/google-api-python-client/issues/563

[2018-08-23 00:31] thehesiod commented on #563
note: a separate callstack happens via discovery.build

[2018-08-23 00:33] thehesiod commented on #563
I think a better solution would be for httplib2 to handle most of these cases, like socket.*.  Higher level errors can be handled by the google client

[2018-08-23 01:56] thehesiod commented on #563
see: https://github.com/httplib2/httplib2/issues/18

[2018-08-29 23:13] BoPengGit opened #566 "Async requests with pagination"
Hi,

I have a question on requesting the API client asynchronously. For example, for the Google Plus API, I already know I want to request 20 pages each time. Is there a way for me to do this asynchronously instead of making each request one at a time and requesting again with the nextpage token. I'm building a dashboard and this could be time consuming to wait to request the next page after getti

[2018-08-30 17:33] bgi opened #567 "Calling the built API with dot in parameter name"
Im on Google App Engine, I try to call the a specific method of the Monitoring API via Google API Client. When I call the `timeSeries.list` with `interval.startTime` then the error is `SyntaxError: keyword can't be an expression`. When I replace `interval.startTime` and `interval.EndTime` with `interval=intervalobj` the error is:

[code]

Im not sure if this is normal.

CODE:

[code]

[2018-09-07 09:11] Chronial commented on #345
A workaround for this was posted here: https://github.com/google/google-api-python-client/issues/325#issuecomment-274349841

[2018-09-07 09:13] Chronial commented on #299
For anybody else looking for this: The open issue tracking this is #325. It also contains some better workarounds.

[2018-09-07 09:54] Chronial commented on #325
Based on [Schweigi's solution](https://github.com/google/google-api-python-client/issues/325#issuecomment-274349841), I wrote a simple file based cache to also cache across processes.
[code]

[2018-09-07 10:04] Chronial opened #568 "Missing note about lack of thread-safety in docs"
This library is not thread-safe. It would be nice if that was noted in the official docs.

[2018-09-07 15:17] hx2A commented on #535
If I get a vote I'd like to see the second option, adding a .close() method. I've spent the past week or so tracking down this same memory error and found my way to this page. It happens I specifically looked for close() methods in the Resource objects because I knew something somewhere wasn't being released.

Adding a .close() method seems cleaner than my having to call gc.collect(). Either way I

[2018-09-07 17:17] hgrimberg01 commented on #562
I am experience the exact same issue with another semi-public API and the above message is the cause as well.

[2018-09-08 02:01] kjenney commented on #405
The request to export just dumps the file. I ended up just writing the data to a file:

[code]

[2018-09-09 22:47] jleroy commented on #510
Any progress on this issue?

[2018-09-10 14:46] arturaslayerv commented on #567
+

[2018-09-10 16:28] tseaver commented on #567
The recommended way to use the Monitoring API is via the [`google-cloud-monitoring` library](https://googlecloudplatform.github.io/google-cloud-python/latest/monitoring/).

[2018-09-10 16:28] #567 closed

[2018-09-12 10:40] AnanyaChandraker commented on #13
Please use:
pip install --upgrade google-api-python-client

This worked perfectly for me in python 2.7 and with python 3.6.5

[2018-09-15 20:27] viveksinghtt commented on #318
@Chris-May can you share the resolution?I am stuck at the same point.

[2018-09-19 12:00] Folyd opened #569 "Does python client support proxy?"
Hello,  you know the google APIs are blocked in China, so we can only access these APIs by proxy, but I don't know whether the python client support proxy setup? If yes, please tell me how. If no, could you please add the proxy feature? Thanks!

However, I can set up a global proxy manually by this way, but it a global proxy, other requests would go through with the proxy, which is unnecessary.
[c

[2018-09-20 12:47] lucasbrynte commented on #537
I get the same behavior... Is it confirmed that this behavior is unintended? If it is intended - why?

Thanks

[2018-09-21 08:49] Folyd opened #570 "How to get user email after authorized for Google Calendar API?"
Hi, I followed this example (https://developers.google.com/api-client-library/python/auth/web-app#example) to authorize a user for Google Calendar API, however, in the meanwhile, I don't know how to obtain the user email by oauth2 API.

Did I miss some documentation?  Please help me out. Thanks! ❤️

[2018-09-27 08:06] gregroberts opened #571 "Filename is blank when importing cost data .csv file via Management API"
This was originally raised as an issue against Google Analytics itself:

https://issuetracker.google.com/issues/35353754

It was found there that the issue is with the api client stripping the filename from the POST body, so I'm raising this as an issue here, potentially to get a better response.

[2018-09-27 15:16] luisdemarchi commented on #476
I am with the same problem, I am with serverless in the last version and using the range of versions.

[2018-09-28 04:40] BoPengGit opened #572 "Google Plus API slow response times for large request due to max results of 20."
I'm trying to grab 200 Google Plus Activities posts for a dashboard I'm creating. But there is a max limit of 20 posts per request, and a next page token is given. Because I have to use the nextpagetoken from the previous response to make the next request, I'm not sure how I can make the requests in parallel. It takes about 1 second to get a response, so for 10 requests this is taking around 10 se

[2018-10-02 04:07] #555 closed

[2018-10-02 04:09] paulgholin commented on #561
git around by https://stackoverflow.com/questions/51499034/google-oauthlib-scope-has-changed

[2018-10-02 04:09] #561 closed

[2018-10-02 04:10] paulgholin commented on #555
get around by https://stackoverflow.com/questions/51499034/google-oauthlib-scope-has-changed

[2018-10-03 11:39] alexander-vo opened #573 "Empty rows in response from Youtube Analytics API"
Hello!
Need help with youtube analytics api.
Have this problem:
I want to get some data from youtube analytics. In the developer console I enter the following parameters:
![image](https://user-images.githubusercontent.com/35242752/46405801-12969f80-c712-11e8-9b38-875471dca5ac.png)
with this scopes:
![image](https://user-images.githubusercontent.com/35242752/46405867-51c4f080-c712-11e8-9c24-1f4459a

[2018-10-04 08:19] sandguardian opened #574 "Regarding cloud print"
Hi,

I tried to use cloudprint in python with
`from googleapiclient.discovery import build`

But cannot find proper service name and version for cloud print on https://developers.google.com/api-client-library/python/apis/.

Anyone with samples to use cloud print in python?

Thanks

[2018-10-04 18:14] alexaugustoribeiro commented on #299
EXCELLENT! that worked for me
when calling the auth I just added `cache_discovery=False` as a new parameter
`service = build('admin', 'directory_v1', **cache_discovery=False**, http=creds.authorize(Http()))`

[2018-10-09 19:35] omarryhan commented on #568
How so? @Chronial

[2018-10-09 21:13] Chronial commented on #568
This quite reliably triggers the issue for me:
[code]

Example Output: https://pastebin.com/0gFt2yfW
It then hangs for a minute before outputting further errors.

[2018-10-09 22:02] omarryhan commented on #568
Judging by your example output, it seems like an SSL issue. Did you verify that it works without threading?

[2018-10-09 22:06] Chronial commented on #568
Yes, the code works both without threading and by creating a separate `job_service` per thread.

[2018-10-10 13:49] aagarwal959 commented on #321
Is it still pending. Or any solution found so far?

[2018-10-10 22:00] wangxf123456 opened #575 "Receive warnings "ResourceWarning: unclosed file" when using googleapiclient.http.MediaFileUpload"
On google-api-python-client/googleapiclient/http.py:552, a file is opened. But this file is never closed. So I receive the following warning:

ResourceWarning: unclosed file <_io.BufferedReader name=<file_name> media_body = http.MediaFileUpload()

[2018-10-12 07:46] rkhwaja opened #576 "How to upload an empty file to Google Drive?"
I am using MediaFileUpload, files().create() and files().update() followed by request.next_chunk() in a loop to successfully upload files containing data.
However, if there is no data, I get HTTP error 400 when I call next_chunk().

How can I do this?

[2018-10-12 09:06] rkhwaja commented on #576
I found that if I use resumable=False and call execute with no next_chunk loop, it succeeds

[2018-10-12 09:08] #576 closed

[2018-10-16 09:00] MikioSuematsu commented on #478
I also encountered an error.

[code]

version.
[code]

Once I enabled disable_ssl_validation.

[2018-10-19 09:39] dfv-ms opened #577 "Missing documentation"
The link to the documentation (http://google.github.io/google-api-python-client) points to an error 404. Where can I find the documentation?

[2018-10-19 14:10] tseaver commented on #577
The domain should be `googleapis.github.io`.  That leads to the docs link:

 http://googleapis.github.io/google-api-python-client/docs/epy/index.html

[2018-10-19 14:10] #577 closed

[2018-10-20 17:08] tasha5151 commented on #573
i've got the same problem, have no idea with it.

[2018-10-20 18:34] mcdonc commented on #556
Somewhere in your Python's sys.path or within pendulum/tz or within the current working directory when you run your program, you have a module named "subprocess" (a file name subprocess.py or a directory with an ``__init__.py`` in it named subprocess) that is overriding the module of the same name in the Python stdlib.  You can fix it by renaming or deleting that module.

[2018-10-20 18:34] #556 closed

[2018-10-20 22:07] mcdonc opened #578 "Test via Kokoro rather than Travis"
This will allow us to close https://github.com/googleapis/google-api-python-client/issues/539

[2018-10-22 14:36] LindaLawton commented on #573
I didn't realize that YouTube analytics supported service accounts.

mine is reading the service accounts YouTube analytics a count.   Which apears to have no data for that time frame

[2018-10-22 17:31] mcdonc commented on #554
For the record, I was able to get this working in a Python virtual environment without issue by just running "pip install oauth2client" in that virtualenv.  Here's how that worked:

[code]
I'm not sure how we can make this better across the board for every possible configuration.  Often "system" Pythons have preexisting copies of libraries that the apiclient wants to use installed in nonstandard w

[2018-10-22 17:31] #554 closed

[2018-10-23 11:04] manmat opened #579 "HttpError 400 when requesting users"
Hey, I am trying to list all users in a domain to check who hasn't logged in for at least 90 days. Here is the code I use to achieve this:

[code]

Here is the error I get back:

`googleapiclient.errors.HttpError: <HttpError 400 when requesting https://www.googleapis.com/admin/directory/v1/users?maxResults=10&alt=json returned "Bad Request">`

The delete operation seems to be working fine, only th

[2018-10-23 15:06] Georgiiliev commented on #478
Also when I enable disable_ssl_validation I get this error,

[code]

Is anyone familiar with this error ?

[2018-10-23 17:33] mcdonc commented on #578
Thea will attempt to hand this off to a fellow googler.

[2018-10-23 17:36] theacodes commented on #578
@busunkim96 do you mind taking this on?

[2018-10-23 18:12] manmat commented on #579
I did not include the domain parameter, once I change the last line to `result1 = b.users().list(domain='DOMAIN', maxResults=10).execute()` it works.

[2018-10-23 18:12] #579 closed

[2018-10-25 20:49] #578 closed

[2018-10-26 15:25] JCurtis1 opened #581 "400 "Invalid Given/Family Name: FamilyName" users().insert()"
I have the following code:
[code]
Which returns the following error:
[code]
The JSON user_body dict:
[code]
I have used the `get_users_api()` with .get() and .list() without issue.  I am authorized perform this process via:  https://developers.google.com/admin-sdk/directory/v1/reference/users/insert

I can also perform this task as expected using requests.post() using the same user_body JSON.

It

[2018-10-27 22:10] aardvark82 opened #582 "BUG when using both metadata and gmail.readonly scopes together"
There is a bug with using an access token with both metadata and gmail.readonly scopes together -
# when a token has both, it is unable to make a gmail query with the query parameter (error 403 forbidden - metadata cannot use the query parameter)

As of Oct 2018 the issue is acknowledged by the Google team, with no timeline for a fix.

This issue is not an issue with this library, and exists at th

[2018-10-29 21:32] timc13 commented on #325
Is there a resolution for this?  I'm using https://github.com/GoogleCloudPlatform/google-auth-library-python-oauthlib and OAuth has suddenly been broken for me because `oauth2client` module is not available

I am using GAE flex by the way.

[2018-10-31 07:21] JohannesKopetschke commented on #478
Hello,

I get the same error. This is my Script:
import urllib2

if __name__ == '__main__':
    url = 'www.google.at'
    response = urllib2.urlopen(url).read()
    print response

Error:
/usr/local/bin/python2.7 /Users/jkopetschke/smartninja_2018/wd1_2018/python_00600_webscrapen/example_01707_scraping_get_webpage_exercise_solution.py
Traceback (most recent call last):
  File "/Users/jkopetschke/s

[2018-11-02 07:41] redhawk19 opened #583 "User does not have sufficient permissions for this profile"
Hi,

I am getting following error after giving site verification code, Please help to get rid of this issue.

Secondly let me know how could i get current ActiveUsers details alongwith rt:deviceCategory.

Thank you!

[2018-11-03 03:48] vsoch commented on #531
I'd like to see:

 - full import statements for modules required. For example, the download file page Python references a `MediaIoBaseDownload` but I don't know what that is.
 - A full example of starting from creating a client to downloading a file, downloading a version, and saving. It's not completely straightforward to a new user that there are several different versions or even modules to use

[2018-11-03 13:05] redhawk19 commented on #583
Anyone please help me in order to find out the solution ?

[2018-11-09 17:06] benamar opened #586 "cache should handle appengine memcache 1000000 bytes limitation"
discovery_cache is crashing with exception
ValueError: Values may not be more than 1000000 bytes in length; received 1544709 bytes

perhap's multi_set cache keys should be used?

[2018-11-11 23:33] yiga2 commented on #558
Is there any traction on this ?
`ConnectionResetError` has become very common for those using the api in `Google Cloud Functions`.

We raised this with Google Support and their answer was to implement a exponential backup.
As per @thehesiod , adding the error as retriable would be an easy fix.

[2018-11-12 10:21] benamar commented on #586
Can some one give some help please,
I find a fix to overcome the limitation, create a branch and a pull request, but as you may guess, it says I need reviewers to merge it, unfortunately I don't see how to find or add a reviewer?

[2018-11-13 03:52] abhyudayasrinet commented on #343
[this](https://stackoverflow.com/a/50213172/1783688) can he helpful for anyone facing this issue

[2018-11-13 17:02] Fryuni commented on #566
This is not an issue with the client. Without making the request there is no way of knowing the token for the next one.
All the paginated results must be requested sequentially.

Probably you already did this, but in case you didn't, you can up the number of items per response.
For activities and people you can change it up to 100, comments up to 500.

[2018-11-14 05:32] #566 closed

[2018-11-19 10:52] ppawiggers commented on #558
+1, same issue here, often happens on Cloud Functions.

[2018-11-19 14:12] gjainumbs opened #589 "EOFError: Compressed file ended before the end-of-stream marker was reached"
#### Environment details

  - OS: Amazon Linux AMI release 2018.03
  - Python version: 3.6.7
  - pip version: 10.0.1
  - `google-api-python-client` version: google-api-python-client==1.7.4

#### Steps to reproduce

  1. call discovery.build as follows:
      service = discovery.build('dfareporting', 'v3.2', http=http)
  2. receive the error message

Complete log:

 File "/home/storage/sgk751/googl

[2018-11-20 16:34] busunkim96 commented on #539
Tests are being run with 3.7 on Kokoro, and 3.7 has been added to `setup.py`.

[2018-11-20 16:34] #539 closed

[2018-11-21 23:54] busunkim96 commented on #573
As @LindaLawton mentioned, YouTube Analytics are being fetched for the service account.

When you made queries in the APIs Explorer, all requests were sent on behalf of your user account. In the Python code, you authenticated using the service account credentials that are in `awo182-youtube-key.json`. When you later requested analytics for `ids='CHANNEL==MINE'`, the API returned data for the servi

[2018-11-22 00:06] busunkim96 commented on #583
Hello! Would you be able to provide us with some more details by filling out this form?

#### Environment details

  - OS:
  - Python version:
  - pip version:
  - `google-api-python-client` version:

#### Steps to reproduce

  1. ?
  2. ?

[2018-11-22 00:14] alexander-vo commented on #573
Yeah, you are right. It is not possible to use the service account with Youtube Analytics in this way. I chose a different path with OAuth2.0, I will log in once, and then I will just update the token when I need a server-to-server request. Hope it works.
Thanks for the help! Very useful! We can close this ticket.

[2018-11-22 00:16] #573 closed

[2018-11-22 08:50] LindaLawton commented on #583
Is an error message form the Google analytics real-time API.  This message has nothing to do with the Python library.  The user you are logging in with must have access to the profile that you are trying to request data from.   In the event you are requesting data using a service account.   Remember that it needs to be pre approved.  Go to the google analytics website add the service account email

[2018-11-27 21:46] eckardt commented on #558
I'm having the same issue when using the google-cloud-bigquery client running within a cloud function in us-east1.

@thehesiod It looks like you implemented a fix for this in your private fork. There are also some unrelated changes in that branch. Do you plan to extract the fix for this issue and open a separate pull request here? That should make it easier for someone to review it and getting it

[2018-11-27 23:50] thehesiod commented on #558
@eckardt \<rant> the google APIs are IMHO a mess ;)  Here they switched to google-auth, however that doesn't support token storage so depending on your impl you may do a lot of auth calls.  Also beware of batched API calls as they didn't add retries to that (nor cared for my fixes as technically this is just in "support" mode). Also there are some weird auth errors (saying you're unauth'd when you

[2018-11-27 23:59] theacodes commented on #558
Hey @thehesiod, we hear your frustration and we're working hard to improve all of these libraries, but please keep comment this issue tracker on topic and respectful.

Just want to add some context here- it's risky for us to do this as we don't want to introduce bugs for other users, and our APIs are largely moving away from API-level batching towards protocol-level batching (gRPC). We could defin

[2018-11-28 21:38] VikramTiwari opened #592 "Tab names of duplicated google sheets should not reset to default"
#### Environment details

  - OS: OSX
  - Python version: 3.7.0
  - pip version: 18.1
  - `google-api-python-client` version: 1.7.4

#### Steps to reproduce

  1. Create a google sheet (original) and change the name of the tab from `Sheet 1` to `Sheet1`
  2. Duplicate the sheet (duplicate) using the python SDK
  3. Duplicated file's tab name is `Sheet 1` (Wrong!)

Intended behavior: The name of sh

[2018-11-30 22:43] VikramTiwari opened #595 "drive api - get all files not share with me"
No matter which sample query parameter I use, I can't seem to files which are just mine. Query response always includes files which are shared with me.

  - OS: OSX
  - Python version: 3.7.0
  - pip version: 18.1
  - `google-api-python-client` version: 1.7.4

Queries that I have tried:
- `q: "not sharedWithMe"`
- `q: "!sharedWithMe"`
- `q: "sharedWithMe=false"`
- `q: "sharedWithMe!=true"`
- `q: "s

[2018-12-01 17:45] SexyCatGirls opened #596 "file handle is open after uploading in chunks"
Im using python 2.7 with the google api python class to upload multiple videos.
after uploading it i want to delete the file which fails as the handler is still open.
my code is following:

[code]

os.remove will fail in this case cause it is still in use from MediaFileUpload.

[2018-12-03 16:19] tseaver commented on #596
@SexyCatGirls you can get access to the underlying file object using the `stream()` method (inherited from `MediaIoBaseUpload`).   E.g.:

[code]

[2018-12-03 16:20] tseaver commented on #596
One could argue that `MediaFileUpload` should expose a `close` method, since it is the party responsible for opening the file.

[2018-12-03 17:38] tristanthomas commented on #596
Thank you! This fixed my issue: After uploading a file using MediaFileUpload, it kept the file descriptor open. When I try to move, rename, or change the original file afterwards, I encounter the error "[Error 32] The process cannot access the file because it is being used by another process". Note: I only ran into this issue on Windows. I did not have this issue under macOS and Linux.

[2018-12-03 18:32] busunkim96 commented on #537
@rohithmn3, @lucasbrynte

It looks like this behavior is intended. The [documentation](https://cloud.google.com/iam/docs/understanding-roles#invitation_flow) says that it is not possible to grant he owner role through `gcloud`  or the Cloud IAM API. Owners can only be added through the GCP Console.

[2018-12-03 18:33] #537 closed

[2018-12-04 18:20] busunkim96 commented on #595
Hi @VikramTiwari,

This is the intended behavior, and a bug has been filed for updating the documentation. If you are looking for files that you own (were not shared with you by someone else) `q: 'me' in owners` should work. If you have additional questions, please let us know.

Thanks!

[2018-12-04 18:20] #595 closed

[2018-12-04 18:21] #583 closed

[2018-12-04 18:34] busunkim96 commented on #574
Hi @sandguardian,

Unfortunately, Cloud Print does not have client libraries. Here is the current [documentation ](https://developers.google.com/cloud-print/docs/appDevGuide)on interacting with the API. There are also some Python samples [here](https://developers.google.com/cloud-print/docs/pythonCode) on working with cloudprint, although they seem to be outdated.

[2018-12-04 18:34] #574 closed

[2018-12-04 18:37] #582 closed

[2018-12-04 18:40] #428 closed

[2018-12-04 18:42] #222 closed

[2018-12-04 18:50] #380 closed

[2018-12-04 19:10] #311 closed

[2018-12-04 19:18] busunkim96 commented on #557
Hi Karthick,

Please take a look at this [guide](https://developers.google.com/api-client-library/python/guide/google_app_engine) and the AppEngine [sample](https://github.com/googleapis/google-api-python-client/tree/master/samples/appengine).

[2018-12-04 19:18] #557 closed

[2018-12-04 19:23] #562 closed

[2018-12-04 21:52] busunkim96 commented on #572
Hi @BoPengGit,

There is an [optional query parameter](https://developers.google.com/+/web/api/rest/latest/activities/list ) called `maxResults` that defaults to 20. It can be set to values between 1 and 100 (inclusive). Try increasing the value; you should be able to get your 200 posts faster.

[2018-12-04 21:52] #572 closed

[2018-12-04 22:21] busunkim96 commented on #420
Hi @daocsm,

It looks like that KeyError is a result of  `web_response` not containing the field you were expecting. This sample checks to make sure there is a field `rows` in the response before trying to access the value.
https://github.com/googleapis/google-api-python-client/blob/fef743a41e8f0e533469d621567f322a5f8465be/samples/searchconsole/search_analytics_api_sample.py#L159-L172

You can che

[2018-12-04 22:21] #420 closed

[2018-12-04 22:46] #392 closed

[2018-12-04 22:48] #400 closed

[2018-12-04 23:02] busunkim96 commented on #104
Uploads via the API still produce a raw field name or "unknown". The raw filename _does not_ play a role in SEO ranking. If you have another reason for wanting accurate filenames from API uploads, please try adding the 'Slug' header as a temporary workaround.

[code]

[2018-12-04 23:02] #104 closed

[2018-12-04 23:18] busunkim96 commented on #581
Hi @JCurtis1,

Would you be able to try passing `user_attributes` as the body instead of `user_body`? I think this may be related to #222.

[code]

[2018-12-05 00:11] busunkim96 commented on #575
Hi @wangxf123456,

Thank you for reporting this! Would you be willing to submit a PR to fix it?

[2018-12-05 11:54] Nov1kov opened #597 "firebase projects.androidApps.getConfig"
#### Environment details

  - OS: MacOS 10.13.1 (17B1003
  - Python version: 3.6
  - pip version: 10.0.1
  - `google-api-python-client` version: 1.6.4 or 1.7.5

#### Steps to reproduce

I try to use this api https://firebase.google.com/docs/projects/api/reference/rest/

setup auth:
[code]

this methods are correctly works
[code]

but if I use [getConfig](https://firebase.google.com/docs/projects/a

[2018-12-06 00:07] busunkim96 commented on #563
This has been resolved as of httplib2 v0.12.0.

[2018-12-06 07:00] thehesiod commented on #563
actually no, it's post 0.12.0 (806de52a2939d95800e43b1ab96be45a33b882d1 vs 806de52a2939d95800e43b1ab96be45a33b882d1 for 0.12.0), supposedly 12.1.  This should be re-opened

[2018-12-06 14:02] mvrozanti commented on #563
Can confirm.

[code]

Checked to see if credentials were expired but it's fine. Not sure why this is happening

[2018-12-06 14:14] Nov1kov commented on #597
this python sdk works!
https://github.com/firebase/firebase-admin-python

setup:
[code]

get config:
[code]

[2018-12-06 18:01] sduskis commented on #188
Google plus is shutting down soon.  I'm going to close this issue as "obsolete"

[2018-12-06 18:01] #188 closed

[2018-12-06 18:09] sduskis commented on #209
@theacodes, is this still worth doing?  If so, let's figure out who ought to do this.  If not, let's close this.

[2018-12-06 18:57] busunkim96 commented on #597
@Nov1kov

That's good to hear!

It looks like this is an issue with the scopes. When I used the scope `https://www.googleapis.com/auth/firebase` I ended up with the same error. When I used the scope `https://www.googleapis.com/auth/cloud-platform` I was able to get the app config. The current REST API documentation states that either one should work.

I'll follow up internally to see whether the d

[2018-12-06 19:35] wangxf123456 commented on #575
Sure I can do this.

[2018-12-06 19:40] Nov1kov commented on #597
@busunkim96 thank!
You can answer for the my [SO question ](https://stackoverflow.com/questions/53620161/firebase-projects-api-getconfig) about right scope.

[2018-12-06 20:42] #592 closed

[2018-12-06 20:45] #596 closed

[2018-12-06 20:46] #151 closed

[2018-12-06 20:59] busunkim96 commented on #589
Hi @gjainumbs,

I wasn't able to reproduce this issue. Would you be able to provide a code snippet showing what you did?

There are also samples in the [googleads-dfa-reporting-samples](https://github.com/googleads/googleads-dfa-reporting-samples) that might be of use to you.

[2018-12-06 21:59] busunkim96 commented on #597
Internal bug 120613120

[2018-12-06 22:21] sduskis commented on #417
@theacodes, should we pass this on to someone else?

[2018-12-06 23:43] busunkim96 commented on #530
I am closing this since it has been inactive for 6 months, but please let us know if this is still an issue for you @rueyjye.

[2018-12-06 23:43] #530 closed

[2018-12-07 04:02] sduskis commented on #586
@googleapis/yoshi-python or @busunkim96, can someone help with this issue?

[2018-12-07 14:02] mvrozanti commented on #563
Anyone got any fix in the meantime?

[2018-12-11 00:10] mvrozanti commented on #563
Magically started working again

[2018-12-11 17:42] gjainumbs commented on #589
I was able to resolve this with help from our enterprise google account manager. Here's what he told me:

Talking with my cloud counterpart it looks like you are facing a known issue with the API Client libraries and your enterprise proxy configuration.

The shortest term fix would be to leverage the httplib2shim in your API Client installation.

You can close this issue since it's resolved for no

[2018-12-11 17:43] #589 closed

[2018-12-12 23:49] #313 closed

[2018-12-13 07:30] shakna-israel opened #604 "__file__ is None"
#### Environment details

  - OS: CentOS 7
  - Python version: 3.7.1
  - pip version: 10.0.1
  - `google-api-python-client` version: 1.7.4

#### Steps to reproduce

[code]

[code]

```__file__``` being a ```None``` is a bit unexpected, and causes a problem with one of my dependencies.

[2018-12-13 15:21] tseaver commented on #604
Trying to reproduce:

[code]

Note that there is no `__init__.py` installed:  Python is inferring the package's existence here, via [PEP 420](https://www.python.org/dev/peps/pep-0420).  See the [PyPA guide to namespace packages](https://packaging.python.org/guides/packaging-namespace-packages/).

[2018-12-13 15:21] #604 closed

[2018-12-14 19:04] SwapnaReddyL opened #605 "Batch request for oauth2 token requests returns 400 Bad Request error"
I'm using **google api client 1.7.4** with **python 2.7** and unable to make successful batch requests with new_batch_http_request api. I keep getting **400 Bad Request** error

After debugging google api client lib, final request body is following :

`--===============6159072106655335965==
Content-Type: application/http
MIME-Version: 1.0
Content-Transfer-Encoding: binary
Content-ID: <943c8367-618

[2018-12-14 19:59] tseaver commented on #605
@SwapnaReddyL Can you please show the full traceback and error message?

[2018-12-14 21:46] SwapnaReddyL commented on #605
@tseaver  It's http error "<HttpError 400 when requesting https://www.googleapis.com/oauth2/v4/token returned "Bad Request">"

**Here is what i found in response content :**

--batch_gHThtkbBoB8_AAJxz-pPuhE
Content-Type: application/http
Content-ID: <response-6b6d70c6-b4d2-46ef-90d2-9b3a1ab0bfb1+0AB7uSPqRpNOnUk9PVA%40%40%3F%7C%3F%40%40administrator%40testcloudlockprimary1.com>

HTTP/1.1 400 Bad Re

[2018-12-17 13:54] SwapnaReddyL commented on #605
Hoping to get some help on this, as this is blocking us on to proceed with google api client upgrade and affecting dependent teams.

[2018-12-17 18:34] busunkim96 commented on #605
@SwapnaReddyL The batching looks correct to me ([Batch requests in Python](https://developers.google.com/api-client-library/python/guide/batch)). If you are putting more than 1000 calls in the batch request you will need to make multiple batch requests.

It looks like it's the individual requests that don't have the correct fields. A refresh request needs `refresh_token`, `client_id`, `client_secr

[2018-12-17 18:56] busunkim96 commented on #605
If you do decide to use google-auth, the object will refresh the access token as needed.

https://developers.google.com/identity/protocols/OAuth2WebServer#offline

This guide walks through how to use google-auth: [OAuth2.0 for Web Server Applications](https://developers.google.com/api-client-library/python/auth/web-app)

[2018-12-18 00:36] SwapnaReddyL commented on #605
**I still see same issue with request matching to documentation**

`
--===============6986313775479449592==
Content-Type: application/http
MIME-Version: 1.0
Content-Transfer-Encoding: binary
Content-ID: <b930b9ed-a31e-4a93-a637-4f7ff876a3ce+0AB3OY9kg45UOUk9PVA%40%40%3F%7C%3F%40%40administrator%40testcloudlockprimary1.com>

POST /oauth2/v4/token HTTP/1.1
Content-Type: application/x-www-form-urlenco

[2018-12-18 07:51] keni7385 commented on #531
I would like to see also an example of updating a file

[2018-12-18 21:22] SwapnaReddyL commented on #605
Is there input on this batch request failure for "https://www.googleapis.com/batch/oauth2/v2" batch uri?
Also in terms of response, it only shows 400 Bad Request. Is there a way to get more data on error, like what is wrong and what is expected? At this point its been really hard to figure out why the request is Bad.

[2018-12-18 21:59] busunkim96 commented on #605
Hey @SwapnaReddyL. Sorry about the confusion, I'm still learning about this myself. To summarize, it looks like things are working as intended. I would recommend you read all of [OpenID Connect](https://developers.google.com/identity/protocols/OpenIDConnect), which explains the OAuth2.0 flow from beginning to end.

The [Google OAuth2 API](https://developers.google.com/api-client-library/python/api

[2018-12-19 15:15] SwapnaReddyL commented on #605
@busunkim96 thanks for information. But nested requests in batch does use token_endpoint "POST /oauth2/v4/token HTTP/1.1" . Is the oauth2 service **build('oauth2', 'v2', http=LoggingHttp())** right batch service for nested token requests?

[2018-12-20 00:38] busunkim96 commented on #605
I am doing some more investigating internally to see if this is the intended behavior. Unfortunately it may be a while because of the approaching holidays in the US.

For now, you should be able to make a batch request to the token endpoint using raw HTTP requests.
[code]

[2018-12-20 14:12] SwapnaReddyL commented on #605
We were doing batch request by directly invoking BatchHttpRequest.__init__. The reason we are trying to switching to new_http_batch_requests is due to WARNING seen after api client library upgrade.

**"You have constructed a BatchHttpRequest using the legacy batch "
        "endpoint %s. This endpoint will be turned down on March 25, 2019. "
        "Please provide the API-specific endpoint or use

[2018-12-20 16:56] busunkim96 commented on #605
Yes, the global batch endpoint is being turned down. Please try https://**oauth2**.googleapis.com/batch which seems to be the batch endpoint for the token endpoint `https://oauth2.googleapis.com/token`.

[2018-12-20 16:57] busunkim96 commented on #597
Documentation has been updated to the correct scopes.

[2018-12-20 16:57] #597 closed

[2018-12-20 20:47] SwapnaReddyL commented on #605
No luck yet. I still see 404 Not found with "Invalid Request" error.
I'm using similar request for "drive" service and that works fine. Issue is just with oauth url.

[2018-12-20 21:19] busunkim96 commented on #605
Could you provide a code snippet and/or the requests and responses you're getting?

[2018-12-20 22:07] busunkim96 commented on #605
Please try the following combination of URIs

**BatchHttpRequest URI**: `https://oauth2.googleapis.com/batch`
**HttpRequest URI**: `https://oauth2.googleapis.com/token` (instead of the value in credentials.token_uri)

[code]

I suspect other combinations will work. It looks like what matters is that the outer BatchHttpRequest's URI and the inner request URI's match.

For example:
**BatchHttpReques

[2018-12-20 22:09] SwapnaReddyL commented on #605
I had shared request body in the same thread.

`
        batch_request = BatchHttpRequest(batch_uri="https://oauth2.googleapis.com/batch",
       callback=self._callback())

        # oauth_service = build('oauth2', 'v1', http=LoggingHttp(),
               discoveryServiceUrl='https://{api}.googleapis.com/$discovery/rest?'
        #             'version={apiVersion}')
        # batch_request = oau

[2018-12-20 22:12] SwapnaReddyL commented on #605
I received your response right after my comment, i will try out those combinations and let you know. But can you also take look at the body params in my comment?

[2018-12-20 22:36] busunkim96 commented on #605
The body should like like the second one, per the documentation
[code]

Everything looks fine except for `refresh_token`. The `refresh_token` is a special token you should have received the first time the user authenticated.

https://developers.google.com/identity/protocols/OAuth2WebServer#exchange-authorization-code

[2018-12-21 17:06] SwapnaReddyL commented on #605
@busunkim96 thanks for your continuous support!
I will also try to work with team about "refresh_token" retrieval, it might take little time with holidays around.

[2018-12-21 19:16] seawolf42 opened #607 "Attempt to `pip install google-appengine` fails"
#### Environment details

  - OS: MacOS 10.14
  - Python version: 2.7.15 (installed with homebrew)
  - pip version: 18.1
  - `google-api-python-client` version: latest

#### Steps to reproduce

  1. `pip install google-appengine`

Output:
[code]

[2018-12-21 19:17] seawolf42 commented on #607
Hrm, this might not be the right place for this... was not looking at the repo name when I landed here from a google search.

[2018-12-21 19:17] #607 closed

[2018-12-25 17:40] littlebenlittle opened #608 "Possible invalid request generated by client"
It appears the client is generating an invalid request. I'm not sure if this is an issue with the client itself or with the endpoint. I have also opened a [stackoverflow question](https://stackoverflow.com/questions/53917186/python-client-for-compute-engine-returns-required-field-resource-not-specifie).

#### Environment details

  - OS: Ubuntu 18.04
  - Python version: 3.6.7
  - pip version: pip3

[2019-01-03 17:55] symonsoft opened #609 "There is no documentation how to sign URL for GCS with your new client"
Please provide documentation on how I can create signed URL with new client.

[2019-01-03 21:22] tseaver commented on #609
@symonsoft Just for clarity, is the "new" client you are referring to the one provided by the `google-cloud-storage` package?  If so, that package is maintained in a [different repository](https://github.com/googleapis/google-cloud-python/), and its docs are at https://googleapis.github.io/google-cloud-python/latest/storage/ (see particularly the [docs for `Blob.generate_signed_url`](https://googl

[2019-01-04 08:56] symonsoft commented on #609
Found the solution. Came here for help because several manuals were referencing to this project

[2019-01-04 08:56] #609 closed

[2019-01-06 05:29] bmccutchon opened #610 "Add _iter methods as an improvement upon _next methods"
**Is your feature request related to a problem? Please describe.**
When working with APIs whose results span multiple pages (using `pageToken`), this long-winded and potentially error-prone pattern occurs:
[code]
 **Describe the solution you'd like**
In addition to generating `_next` methods (done [here](https://github.com/googleapis/google-api-python-client/blob/9d779cc2497e12cf23695b57b45d35bdf1

[2019-01-10 12:08] golankopi commented on #15
Still Happens for `BytesIO` (and not for `FilesIO`) - using the `MediaIoBaseDownload` with example on https://developers.google.com/drive/api/v3/manage-downloads

adding the fh.seek(0) fixes it

[2019-01-11 04:51] bobbycloudlock commented on #605
Hi @busunkim96 , thanks for the helps on this issue.

Some clarification w.r.t the context. The way we are using is `Service Account`, which uses `JSON Web Token (JWT) Profile for OAuth 2.0`, In contrast to other OAuth 2.0 profiles, no users are involved and the application "acts" as the service account. This should also be the reason why you saw it use `grant_type=jwt-bearer` instead of `grant_ty

[2019-01-11 18:23] mthaddon opened #611 "google.auth.exceptions.RefreshError using delegated credentials"
Hi,

I'm trying to use the Google API client to retrieve email for a user using a service account. I've created the service account credentials with a role of Project Owner, and with domain-wide delegation enabled. However, when I try to connect as a particular user I get:

[code]

In terms of software versions I have:

google-api-python-client (1.7.7)
google-auth (1.6.2)
google-auth-httplib2 (0.0

[2019-01-11 20:16] SwapnaReddyL commented on #605
@busunkim96 @tseaver I'm sharing a script which helps to reproduce the issue that we see in our application to refresh access token using oauth2client service account and googleapiclient.http BatchHttpRequest .
Script prints exact error message.
Please use this script to debug. Considering march deadline to support legacy batch uri, we are hoping if you could provide your support to understand if

[2019-01-12 00:41] busunkim96 commented on #605
@bobbycloudlock Ah that makes sense. This is the guide on the OAuth 2.0 guide with service accounts, in case you haven't seen it yet. [OAuth 2.0 for Service Accounts](https://developers.google.com/identity/protocols/OAuth2ServiceAccount)

The JWT grant_type works fine with the token endpoint `https://oauth2.googleapis.com/token`. You can test this yourself with the sample curl command provided in

[2019-01-12 10:42] mthaddon commented on #611
I've discovered that credentials.token is empty and credentials.valid is `False`. Looks like there are additional steps needed to authorize the credentials? I'm following https://developers.google.com/api-client-library/python/auth/service-accounts and https://developers.google.com/gmail/api/quickstart/python for the GMail API portion but don't see any steps to authorize beyond what I'm doing abov

[2019-01-12 15:18] Zoynels commented on #309
I get a sample from https://github.com/gsuitedevs/python-samples/tree/master/drive/driveapp and try it change. I need to know on what step of uploading is my file (0-100%). Examples for chunked upload in internet I found, But I get an error.

[code]

Python is Python 3.6.3

[driveapp.zip](https://github.com/googleapis/google-api-python-client/files/2752193/driveapp.zip)

[2019-01-12 22:06] SwapnaReddyL commented on #605
@busunkim96 during run time oauth2client/serviceaccount.py:: _generate_assertion method is invoked to generate assertion. With that we see invalid_grant error

**Following is the error message:**

/Users/swareddy/Documents/GitHub/platform-core2/npvenv/bin/python /Users/swareddy/Documents/GitHub/quickstart-python/drive/driveapp/oauthReq.py
({'status': '400', 'vary': 'Referer', 'content-type': 'appl

[2019-01-13 12:51] JCurtis1 commented on #581
@sduskis Removing the json.dumps and feeding the python dictionary to body parameter resolved the issue.  Thank you.

[2019-01-13 12:51] #581 closed

[2019-01-14 15:30] aj07mm commented on #37
I was having the same problem. What was happening is that I had 2 connections one in two different scopes, try to use it as a singleton and see if it works.

[2019-01-14 21:44] osvalban opened #612 "Cloud SQL MySQL 5.7 import from CSV file defaults to utf8 (!= utf8mb4)"
#### Environment details

  - OS: Mac OS Mojave, 10.14.2
  - Python version: 3.6
  - pip version: 18.1
  - `google-api-python-client` version: google-api-python-client==1.6.2

#### Steps to reproduce

Import CSV file in GCS bucket to Cloud SQL using service.instances().import_(), CSV file must have at least one character supported only by 'utf8mb4' character set.

Python sample code from: https://

[2019-01-14 21:57] SwapnaReddyL commented on #605
@busunkim96 Please provide your input on error message shared in previous message. Assertion code generated by same script works with legacy batch uri and "https://www.googleapis.com/oauth2/v3/token" api end points.

[2019-01-14 23:06] busunkim96 commented on #608
Hi @littlebenlittle.

I'm able to get the same error by passing an empty config:
[code]
I was also able to create an instance with the config you provided in your stackoverflow question.

[code]
Can you take a look to make sure `config` is being defined correctly? If you haven't looked at it already [this script](https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/compute/api/cr

[2019-01-14 23:37] busunkim96 commented on #605
Please confirm that the `aud` claim in the JWT claimset is set to https://oauth2.googleapis.com rather than https://www.googleapis.com/oauth2/v3/token.

[2019-01-15 14:05] SwapnaReddyL commented on #605
@busunkim96 by changing `token_uri=GOOGLE_OAUTH_TOKEN_URI` to `aud=GOOGLE_OAUTH_TOKEN_URI` in getCredentials method within script, helps to generate access token .
And yes GOOGLE_OAUTH_TOKEN_URI uses  https://oauth2.googleapis.com

I'm going to integrate changes in our product and hoping things would work.
Thanks a lot for your input!
 Will touch base on outcome of integration!

[2019-01-15 14:56] LindaLawton commented on #571
This is a known issue with the API and not related to this library [Management API Cost Data Upload .csv Doesn't Have Filename](https://issuetracker.google.com/issues/35353754)   Its been tracked here for several years  [unable to assign a file name when uploading data by Analytics API](https://github.com/googleapis/google-api-dotnet-client/issues/1087)

I am not sure how you expect to get a bette

[2019-01-15 15:51] gregroberts commented on #571
I don't understand your point.

The issue on Google states the problem is specifically related to client libraries stripping the filename from the POST body.

The discussion includes an example of using the API directly to avoid the issue.

The issue is with the client library, and you state as much in the .NET library issue you linked to.

[2019-01-15 21:23] busunkim96 commented on #611
Unfortunately I don't think it's possible to get more details for this error. There's a similar issue filed in the Ruby repository that might be helpful in troubleshooting the reason for this error. If those solutions doesn't work for you, please do let us know. https://github.com/googleapis/google-auth-library-ruby/issues/123

[2019-01-16 00:59] dapsjj opened #614 "How to use extendedProperties in google calendar api?I can only see "private": { "everyoneDeclinedDismissed": "-1" } in response."
A part of my response likes this:

    "private": {
     "everyoneDeclinedDismissed": "-1"
    }
   },

How did this attribute `"everyoneDeclinedDismissed": "-1" ` come about?

How do I add more attributes likes `"everyoneDeclinedDismissed": "-1" `?

[2019-01-16 07:49] mthaddon commented on #611
I was able to get this working, thanks. The fix was to delete any non-service-account credentials for this account (I'd set up some oauth credentials as well). Is there somewhere I could propose a doc update to clarify this?

[2019-01-16 20:30] busunkim96 commented on #570
Closing this issue due to inactivity.

[2019-01-16 20:30] #570 closed

[2019-01-17 18:45] littlebenlittle commented on #608
It looks I was sending a string as `config` instead of a dict and that was causing the problem.

[2019-01-17 18:58] tseaver commented on #608
@littlebenlittle Glad you've found a resolution!

[2019-01-17 18:58] #608 closed

[2019-01-20 11:31] AsserAboElkhair opened #615 "How can I retrieve more than 100 results per query"
When I use [`CSE: list`](https://developers.google.com/custom-search/v1/cse/list) I get an error when I set parameter `num=11` or more, I need to retrieve 1,000 results, so I read about `start=number_of_starting_page` but that also limit my search to 100 and that's in not enough, how can I increase this number?

[2019-01-21 00:08] #614 closed

[2019-01-24 23:58] busunkim96 commented on #611
If you have additional suggestions we'd be happy to see those here. I'll be creating an internal issue to improve the documentation.

[2019-01-26 07:34] osvalban commented on #612
Any update on this? is it not as straightforward as supporting a 'charset' kwarg in the API that is eventually fed into the generated LOAD DATA INFILE ... CHARACTER SET <arg> command?

[2019-01-30 16:12] ramonmedeiros opened #618 "discovery.build( ) raises ResourceWarning: unclosed <ssl.SSLSocket fd=13,"
#### Environment details

  - OS:
Linux hu3br 4.18.16-300.fc29.x86_64 #1 SMP Sat Oct 20 23:24:08 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
  - Python version:
Python 3.6.7
  - pip version:
pip 19.0.1 from /home/ramonm/git/bigtable-backups/.venv/lib/python3.6/site-packages/pip (python 3.6)

  - `google-api-python-client` version:

Name: google-api-python-client
Version: 1.7.8
Summary: Google API Clie

[2019-01-30 21:33] Jeremiad opened #619 "Compute Engine Api issue with regionInstanceGroupManagers().recreateInstances()"
Hi,

I'm trying to recreate all instances in region instance group after updating instance groups template. But for some reason instances are not being recreated. From Stackdriver logs and projects Operations page everything shows that nothing went wrong, but still it's not recreating instances. Snipped which is causing my issues:

[code]

[2019-02-02 13:48] ebrahimamini1370 opened #620 "cannot import name 'ServiceAccountCredentials' from 'oauth2client.service_account'"
I want to use the library googleanalytics in my python file, but the code would encounter the following error.
cannot import name 'ServiceAccountCredentials' from 'oauth2client.service_account'
My command is :
from oauth2client.service_account import ServiceAccountCredentials
I have been searching much in different cites and installed all the related library, but it didn't work.
My python version

[2019-02-02 14:30] Os-carsun opened #621 "python3 get TypeError when using next_chunk"
#### Environment details

  - OS: macos
  - Python version: 3.6
  - pip version: 19.0.1
  - `google-api-python-client` version: 1.7.8

#### Steps to reproduce

  when I run following code
[code]
and I get TypeError like this

[code]

It seems like a bug.
 ```self._fd.write(content)```
and I think it can be fixed by
```self._fd.write(content.decode())```
or
``` self._fd.write(str(content))```

Than

[2019-02-06 07:56] mwaseemwali opened #622 "Google Drive API authentication didn't create token.pickle"
i use Google Drive Api  Quick Start. and code  as given in google example.
when i system start authentication it takes too much time and at the end show http:/localhost:8080 error page
.

code is
 SCOPES = ['https://www.googleapis.com/auth/drive.file']
    creds = None
    # The file token.pickle stores the user's access and refresh tokens, and is
    # created automatically when the authorization

[2019-02-06 13:02] Jeremiad commented on #619
I'm looking for similar functionality what this does: https://cloud.google.com/compute/docs/instance-groups/updating-managed-instance-groups#starting_a_basic_rolling_update

[2019-02-07 15:26] SwapnaReddyL commented on #605
@busunkim96  based on our last solution in terms of updating audiences list, token batch request was working with
      batch_request = BatchHttpRequest(batch_uri="https://oauth2.googleapis.com/batch",
                                         callback=None) . But today i noticed that "https://oauth2.googleapis.com/batch" url doesn't work anymore . We were above to push our updated changes and its

[2019-02-07 15:31] trojek opened #623 "Calendar API: Don't get `items` in events().list() incremental sync response if event is `all day`."
#### Environment details

  - OS: Ubuntu 18.10
  - Python version: 3.7.1
  - pip version: I use pipenv
  - `google-api-python-client` version: 1.7.8

#### Steps to reproduce

1. Start watch calendar
`cal_API.events().watch(calendarId=cal_id, body=settings).execute()`

Correct situation:
2. Add new event (via web browser calendar app) with **date and time**.
I get Google Calendar API push notificat

[2019-02-07 20:57] nheimann1 commented on #403
Another solution to overcome this issue until it is being fixed:
[code]
I also tried to use the credentials to authorize an httplib2 and use it, but didn't manage to make it working. If it can be used, it can be used in a very similar way to the AuthorizedSession solution

[2019-02-08 17:16] busunkim96 commented on #605
There was an internal bug, but it looks like it has been resolved as of today. Please let us know if you have any other problems.

[2019-02-08 18:51] SwapnaReddyL commented on #605
Thanks for confirming. Works now.

[2019-02-08 18:54] #605 closed

[2019-02-11 02:36] #621 closed

[2019-02-11 14:09] andyljones opened #624 "Expose bearer token generation"
Working with the GCP the past few days, I've found twice that I need to get my own bearer token to use services loosely connected to the main API. The first time was [connecting to Kubernetes inside a GKE cluster](https://stackoverflow.com/questions/54410410/authenticating-to-gke-master-in-python/54621644#54621644), and the second time was using the [Docker registry API](https://cloud.google.com/c

[2019-02-11 16:43] acidnine opened #625 "Resumable media (chunked upload) slow"
#### Issue
I'm getting a max of around 20Mbps on any file upload which is resumable=True and chunked (regardless of chunksize), however I get my full internet speed of around 180Mbps upload on the same file when not using this method. The problem is that if the file is too big to fit in memory (or even threading many uploads) the computer will run out of memory and I will have to use chunked uploa

[2019-02-11 17:15] busunkim96 commented on #624
Hello @andyljones,

Please take a look at [google-auth](https://google-auth.readthedocs.io/en/latest/user-guide.html), the Google authentication library for Python.

[2019-02-11 17:17] busunkim96 commented on #623
Hi @trojek, would you be able to provide a code snippet that shows the issue?

[2019-02-11 17:22] andyljones commented on #624
Aha, thanks very much!

[2019-02-11 17:22] #624 closed

[2019-02-12 07:33] mosesokemwa commented on #622
You were on the right path and as far as I can tell your code is working. The missing step of the code is to save the ``creds`` in `token.pickle` file. Refer to this [example](https://developers.google.com/gmail/api/quickstart/python) in the Python quickstart doc.

Short version, you need to add the following at the end of you code

[code]

[2019-02-12 12:48] mwaseemwali commented on #622
that actual problem. token.pickle not saved. i try again and again, in 40th
attempt it creates.
i want to know , why it happened.

On Tue, Feb 12, 2019 at 12:33 PM Moses Okemwa <notifications@github.com>
wrote:

[2019-02-12 14:09] trojek commented on #623
Hi @busunkim96. What do you mean by the code which shows the issue? The way how I consume data from the notification URL is provided in the problem description. When I get a hit from google I make a call to API: `cal_API.events().list(calendarId=cal_id, syncToken=sync_token).execute()` and I get response as in documentation: https://developers.google.com/calendar/v3/reference/events/list but the `

[2019-02-12 22:56] frankwaltz opened #626 "thread safe or not?"
contra to #568 (only a few months old now), I am _not_ having a problem with thread safety with the following pseudocode:

[code]

I was reading https://developers.google.com/api-client-library/python/guide/thread_safety which claims this won't work, that I need to pass a thread-specific http instance to build() or execute(). However when I follow either approach (custom requestBuilder, or call ex

[2019-02-15 22:38] busunkim96 commented on #538
This appears to be resolved. I was able to get the expected results using the script above.

[2019-02-15 22:38] #538 closed

[2019-02-17 14:15] biranchi2018 commented on #478
Why is it closed ? Is the issue resolved ?

[2019-02-18 11:29] mosesokemwa commented on #622
I can't be certain why that happened without a way of recreating the error.

[2019-02-18 16:18] nonagonal commented on #418
Thanks! This worked for me too - it's unclear why list() performs translation successfully, but translate() seems to complain about "Missing required field target".

[2019-02-19 09:09] janneh commented on #218
I'm experiencing this issue as well...

Using:

`Python 3.6.7`

[code]

Stack trace:
[code]

It's something that happens now and then, not super common. Constantly recurring though.

As an example in a sample of 7,741,334 publishes I have 6 of those errors.

[2019-02-21 10:07] lbatteau opened #627 "PID check failed. RNG must be re-initialized after fork(). Hint: Try Random.atfork()"
When attempting to download files from Google Drive, we are getting the following error in production.

[code]

This seems a similar issue as reported here https://github.com/GoogleCloudPlatform/gsutil/issues/390.

#### Environment details

  - OS: Ubuntu 18
  - Python version: 2.7.15
  - pip version: 9.0.1
  - `google-api-python-client` version: 1.7.8

[2019-02-22 15:49] p-doyle opened #628 "Getting "Request contains an invalid argument" on script v1 requests"
#### Environment details

  - OS: Windows 10 and Ubuntu 16.04
  - Python version: 2.7.12
  - pip version: 18.1
  - `google-api-python-client` version: 1.7.4 and 1.7.8

I've been using the script API for several months but within the last 2 days I am unable to even build the service as I keep getting "Request contains an invalid argument".
[code]

Traceback is:
[code]

[2019-02-22 20:34] greg-mckeon commented on #628
We're hitting this too.  The issue seems to be that when you pass in an authenticated http, the library uses it even though the discovery api now gives a 400 error if you send a bearer token.  We worked around it by changing L212-214 in discovery.py from
`if http is None:
    discovery_http = build_http()
  else:
    discovery_http = http
`
to
`
discovery_http = http
`

[2019-02-22 21:10] p-doyle commented on #628
I tried that but it didn't work for me.  Not sure why I had it like this originally but I ended up changing
[code]
to this:
`service = discovery.build('script', 'v1', credentials=credentials)`

and it's working fine now.

[2019-02-23 03:59] thehesiod commented on #628
yep, I just had to push a fix for this, replacing `discovery_http` with `build_http()` here:

https://github.com/googleapis/google-api-python-client/blob/master/googleapiclient/discovery.py#L223

[2019-02-23 14:58] phenomax opened #629 "Can't send request containing german umlauts"
#### Environment details

  - OS: macOS High Sierra
  - Python version: 3.7.2
  - pip version: 18.1
  - `google-api-python-client` version: 1.7.8

#### Steps to reproduce

  1. Use the people api to add a contact
  2. Use name, containing german umlauts
  3. Get `<HttpError 400 when requesting https://people.googleapis.com/v1/people:createContact?alt=json returned "Request contains an invalid argu

[2019-02-23 19:07] majestique commented on #628
As noted in the referenced issue, this may not be a long term solution since oauth2client is deprecated: https://google-auth.readthedocs.io/en/latest/oauth2client-deprecation.html

[2019-02-24 02:16] thehesiod commented on #628
Ya, and unfortunately gauth doesn't support token storage

[2019-02-24 15:02] #629 closed

[2019-02-26 11:12] Adamdawg commented on #620
Did you solve this? I'm experiencing the same issue.

[2019-02-28 11:01] yahanvesh commented on #628
Im getting socket timed out error even after making the  change to
`
`service = discovery.build('script', 'v1', credentials=credentials)``
**Error**
`  File "/home/admin/automation/googledriveautomation/getediturls.py", line 158, in <module>
    main()
  File "/home/admin/automation/googledriveautomation/getediturls.py", line 103, in main
    service = discovery.build('script', 'v1', credentials=c

[2019-02-28 13:09] ivan-aguirre opened #630 "KeyError: 'path' intermittent error"
We've been facing an intermittent error when trying to use oauth2 services. It was working fine until we deployed a new version on GAE. Notice that we haven't changed anything related to this code or the google libraries versions.

That's the exception:
[code]
#### Environment details

  - OS: Google App Engine Flexible, `debian:stretch-slim` docker image
  - Python version: 2.7.15
  - pip version

[2019-02-28 20:40] Jeremiad commented on #619
This was the thing what i was looking for https://cloud.google.com/compute/docs/reference/rest/beta/regionInstanceGroupManagers/update.

[2019-02-28 20:40] #619 closed

[2019-02-28 22:41] sripakdp commented on #628
@yahanvesh

Recently I am getting

 ssl.SSLError: ('The read operation timed out',)

This happened after changing the code to

service = discovery.build('script', 'v1', credentials=credentials)

I think this is an issue on the server side.

[2019-03-01 01:17] ngandhy commented on #630
Just started getting this myself. Looks like Google is slowly releasing a breaking change

[2019-03-01 13:55] AdeyinkaAdegbenro commented on #630
This is happening to me too!

[2019-03-01 18:43] ivan-aguirre commented on #630
@ngandhy @AdeyinkaAdegbenro

Which version you are using?

[2019-03-02 15:45] seyisulu commented on #630
@ivan-aguirre

This started with version 1.6.2. An upgrade to the latest version 1.7.8 did not solve it.
We first noticed this on a staging project on GAE but now the error happens on our production instance.

[2019-03-02 21:10] raliste opened #631 "Remove google-auth explicit dependency"
Because of rules_python issue bazelbuild/rules_python#14 I propose to remove the explicit dependency on google-auth and google-auth-httplib2 as they break the google namespace.

The googleapiclient already checks for any available auth lib, such as non-google oauth2client which is compatible with googleapiclient. However, oauth2client is deprecated, so I also propose to add a wrapper for oauthlib.

[2019-03-03 17:22] hsyyid opened #632 "Google Drive Batch Request Error: socket.timeout: The read operation timed out"
Possibly related to #563

Occasionally when executing a batch request using the Python client library calling`drive.files().copy` the operation fails with the error `socket.timeout: The read operation timed out`

#### Environment details

Running Python 3.7 on Google Cloud Functions environment

#### Relevant Code

[code]

#### Error

[code]

Thanks!

[2019-03-03 18:59] agiUnderground commented on #620
python 2.7, same issue.

[2019-03-03 19:19] agiUnderground commented on #554
You driving me crazy google with your app engine imports.

[2019-03-03 23:59] ngandhy commented on #630
@ivan-aguirre
google-api-python-client==1.7.4
google-auth==1.6.1
google-auth-httplib2==0.0.3

Any luck figuring it out? Seems to be intermittent

[2019-03-04 11:55] salvador-bynd commented on #630
Having the same issue!

[2019-03-04 12:38] salvador-bynd commented on #630
Clearing the App engine memcache solved the issue.
Will keep an eye on it.

[2019-03-05 00:48] ngandhy commented on #630
is everyone getting it on service.userinfo().get().execute() ?

[2019-03-05 18:26] tseaver commented on #631
I'm sorry, but that isn't going to work for us:  `google-auth` is the preferred / supported library for doing authentication here. See https://github.com/googleapis/google-auth-library-python/issues/274: the issue is with Bazel's `rules_python`, not `google-auth`, which is *correctly* declaring the namespace package.

[2019-03-06 01:13] raliste commented on #631
Thank you @tseaver . I know `google-auth` is the preffered / supported library, but your code does check to "see" if google-auth is not installed, and if it's not, you look for oauth2client (which is deprecated). My point is that `google-auth` can remain the official supported library, but don't enforce it as a strict dependency. The checking for oauth2client doesn't make sense, in my opinion, if

[2019-03-06 11:22] Y4hL opened #633 "FileNotFound 'credentials.json'"
Using the offical quickstart.py example (https://developers.google.com/gmail/api/quickstart/python)

#### Environment details

  - OS: Raspbian Linux
  - Python version: 3.6.6
  - pip version: 19.0.3
  - `google-api-python-client` version: 1.7.8

#### Steps to reproduce

  1. run quickstart.py example

[2019-03-06 11:25] #633 closed

[2019-03-06 15:40] yuri-wisestamp commented on #630
Clearing app engine cache fixed it for me. Are we expected to have more of this breaking awesomeness any time soon?

[2019-03-06 20:09] treethought opened #634 "Cannot insert ACL rule for some domains"
#### Environment details

  - OS: MacOs
  - Python version: 2.7
  - pip version: 19.0.3
  - `google-api-python-client` version: 1.7.8

#### Steps to reproduce

  1. Authenticate with service account setup for delegated domain wide authority
  2. Create delegated credentials (either with oauth2client or google-auth - I've tried both)
  3. Insert new ACL rule for a given calendar resource with role:

[2019-03-06 23:59] ninjaspl0it commented on #445
Having the same issue

[2019-03-07 06:06] fasilpv opened #635 "Site restricted custom search"
Hi there,

Is it possible to invoke site restricted custom search api (https://developers.google.com/custom-search/v1/site_restricted_api) using google-api-python-client? If so, please let me know how to do that?

[2019-03-07 18:43] ivan-aguirre commented on #630
That's interesting, my application does not use GAE's memcache.
It may be used by some internal GAE stuff...

[2019-03-08 00:45] thehesiod commented on #558
fyi another issue I've found is that discovery is not retried on socket.timeout. We're seeing this call periodically fail. The reliance on http2lib means that anytime socket.timeout/socket.gaierror/unhandled socket.error means the client (google-api-python-client) needs to implement the retry.  Eventually I'll add fixes for these in the batch-retries branch and our httplib2 branch (will update thi

[2019-03-08 20:31] ngandhy commented on #630
@yuri-wisestamp - considering @ivan-aguirre and I don't use Appengine, I'm assuming it'll kick up again at some point and def seems to be cache related.

I've tried multiple solutions that help for a bit but starts erroring again within 12-24 hours (again possibly pointing to a cache issue).

The most promising solution that has worked for a few days now was to create my own cache instead of using

[2019-03-11 18:31] ivan-aguirre commented on #630
@ngandhy, in fact I use app engine flexible but I don't directly use memcache services from my code.

[2019-03-19 04:10] VikramTiwari opened #636 "Can't catch 400 errors"
#### Environment details

  - OS: Ubuntu
  - Python version: 3.7
  - pip version: 19.0.3
  - `google-api-python-client` version: 1.7.7

![Screen Shot 2019-03-18 at 9 05 22 PM](https://user-images.githubusercontent.com/1330677/54579661-c2f71800-49c1-11e9-9e31-ceb7dc1847fd.png)
Here's a screenshot of metrics dashboard for google sheets. You can see that most requests are fine with 200 but a few of t

[2019-03-19 23:55] VikramTiwari commented on #636
I was able to catch 404s but still unable to catch `400` errors.

[2019-03-20 20:10] yahanvesh commented on #628
@sripakdp Im facing the same issue, but unfortunately my scripts take longer times. Anyone who can help get this resolved?

[2019-03-25 21:49] bwarner-nf commented on #24
It looks like this was addressed in: the following commit:
[63caac0](https://github.com/googleapis/google-api-python-client/commit/63caac01ea7b9fbd8ae70bcbb4c6ecbec833ad3d#diff-380df39541e6061ebfb98cf8d2da4168)

[2019-03-26 13:35] nheimann1 commented on #611
Unfortunately it still doesn't work for me. Full description of my exact issue can be found [here](https://stackoverflow.com/q/55325978/1020530)

Any idea?

[2019-03-26 22:24] busunkim96 commented on #620
Hello,

[oauth2client](https://github.com/googleapis/oauth2client) was deprecated last year. We recommend that you use [google-auth](https://google-auth.readthedocs.io/en/latest/).

[2019-03-26 23:27] busunkim96 commented on #636
Hi,

You mention 404s and 429s in your original post and 400s in your second one. Just to clarify, you're able to catch 404s and 429s, but unable to catch 400s?

[2019-03-26 23:31] busunkim96 commented on #635
Hi fasilpv,

It looks like this is possible. Please take a look at the documentation: https://developers.google.com/resources/api-libraries/documentation/customsearch/v1/python/latest/customsearch_v1.cse.siterestrict.html

[2019-03-26 23:31] #635 closed

[2019-03-26 23:44] busunkim96 commented on #634
Hello,

If I understand correctly, domain_a and domain_b are able to gain access to each other's calendars, and domain_c is not? Is there anything different about domain_c?

I do see one note about G Suite domains in the Calendar API documentation that may be impacting you:

https://developers.google.com/calendar/concepts/sharing

[2019-03-27 00:40] VikramTiwari commented on #636
Yes! Sorry, updated the issue to reflect that. I still can't catch 400 errors though.

[2019-03-27 17:57] EmiCarrizo opened #637 "Return all OrderId using Google Play Developer API"
Hello, I am trying to manage subscriptions made by the In-App Billing API. Right now i want to retrieve all orders, just like it can be seen in the google play console.
I can get the last orderId, using the token to get subcription info:
[code]
My question is, there's a method to get ALL orderIds, or am i using the only way the get them?

[2019-03-28 09:16] 9kmmr opened #638 "HttpError 400 on uploading 0 bytes files, 416 on downloading 0 bytes files"
It seems like the bug #241 and @Aran-Fey's problem happened again when i trying to download and upload 0 bytes file using google drive api.

[code]
throws
[code]

[2019-03-28 20:15] treethought commented on #634
Thanks for the response @busunkim96.

Not quite, it's not only that domain_c is not able to access the calendars. It's that I cannot add a new `type: domain` `role:reader` ACL rule with `value:domain_c` for any calendar at all.

The issue is that I am trying to insert the ACL rule applying to calendar resources in both domain_a and domain_b and I get a 404 when _creating the rule_.

To be clear:
-

[2019-03-29 14:08] saranshbansal opened #639 "Google calendar api with service account: Change sender's mail address in Calendar API"
https://stackoverflow.com/questions/55286024/google-calendar-api-integration-with-python-change-senders-mail-address-in-ca

I’m trying to let users reply to calendar invites which are being sent from my service account. the emails are being sent from my google's service account mail address which is in the form:

    <project_name>-django@<project_name>.iam.gserviceaccount.com

which is coming fro

[2019-03-31 20:00] johntmyers commented on #403
Just encountered this issue. Thanks @pacohh for the fix, it's working, but what's the deal on fixing the Python lib?

[2019-04-01 15:29] jfernandez04 commented on #625
is there any news on this?

[2019-04-01 16:15] skebanga opened #640 "Stopping VM instance in object destructor raises exception: ssl.SSLError: Underlying socket connection gone"
I have a simple class `Test` below which starts a Google Compute Engine VM and then stops it by either calling a function (**explicit**), or relying on object destruction, via `__del__` (**implicit**).

    class Test:
        def __init__(self):
            os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = 'secret.json'
            self._compute = googleapiclient.discovery.build('compute',

[2019-04-01 16:30] busunkim96 commented on #625
@jfernandez04 A chunksize of -1 indicates that the file should be uploaded in one request. Could you try setting it to a different value?

[code]

https://googleapis.github.io/google-api-python-client/docs/epy/googleapiclient.http.MediaFileUpload-class.html

[2019-04-02 12:15] ajzuse opened #641 "No way to send version Release Notes to Google Play using plugin"
Hi! I try to send the release notes to apps using python plugin, but the api return that error:

[code]

In documentation, that field existis (https://developers.google.com/android-publisher/tracks#specifying_release_notes) but doesn't work.

#### Environment details

  - OS: MacOS 10.14.4 (18E226)
  - Python version: 3.7.2
  - pip version: 19.0.2
  - `google-api-python-client` version: 1.7.8

###

[2019-04-02 13:01] phpedinei commented on #641
I have some problem

[2019-04-02 13:30] ajzuse commented on #641
I found my mistake.

To send release notes, i need change ```service = build('androidpublisher', 'v2', http=http)``` to ```service = build('androidpublisher', 'v3', http=http)``` and the send command to it:

[code]

Now working as expected!
Thanks!

[2019-04-02 13:30] #641 closed

[2019-04-02 22:02] acidnine commented on #625
I didn't have any luck with any other chunksize setting, I'm now really curious if I'm the only one affected by this..? PyDrive works fine however they use api v2 which uses insert which doesn't exist in v3.

https://developers.google.com/resources/api-libraries/documentation/drive/v2/python/latest/drive_v2.files.html
-vs-
https://developers.google.com/resources/api-libraries/documentation/drive/v

[2019-04-03 09:52] james7mac commented on #622
Hey im having this same issue trying to get quickstart to work with google sheets.

I'm a rookie but i have noticed some strange behavior that i think is related to having sabNZBD operating on localhost:8080

do you have anything using localhost:8080 ?

[2019-04-03 10:11] james7mac commented on #622
Confirmed! I changed sabNZBD's operating port from 8080 to 8081 and the problem was resolved!

Note: shutting down the sabnzbd didnt fix the issue, i had to change the port for it to be resolved.

If you have any software using port 8080 i suggest changing it so that port 8080 is clear

[2019-04-03 19:08] busunkim96 commented on #622
It's possible to specify the operating host and port when using `.run_local_server`. The host defaults to 'localhost' and the port '8080'.

[code]
https://google-auth-oauthlib.readthedocs.io/en/latest/reference/google_auth_oauthlib.flow.html#google_auth_oauthlib.flow.InstalledAppFlow.run_local_server

[2019-04-03 19:09] busunkim96 commented on #622
I am going to close this issue now, please let us know if you are still experiencing issues.

[2019-04-03 19:09] #622 closed

[2019-04-05 06:44] ninjaspl0it commented on #445
Figured I would reply to this with how I solved this. By only including the "BaseHTTPRequestHandler" in my class all my troubles were gone somehow:

`    class CaptivePortal(BaseHTTPRequestHandler):`
`global httpd
    httpd = HTTPServer(('', PORT), CaptivePortal)`

[2019-04-05 13:06] jfernandez04 commented on #625
@acidnine I set it like this and have no problem with my upload.

`        media = MediaFileUpload(archivo,
                                mimetype='text/plain', chunksize=256 * 1024, resumable=True)`

[2019-04-07 08:38] adam-ah opened #642 "Add "preview accept all" when downloading documents using export_media(fileId=doc_id, mimeType=type)"
**Feature request**

I'm using the official Google Drive Python API to download Google Documents using the following command:

[code]
It works well, although I have two problems:

- The downloaded documents show the document _before_ all recommended changes
- The comments are added at the end of the document in a [a]...[b]... format.

Feature request:

Add a flag to ```export_media``` so I can def

[2019-04-10 16:07] michimussato opened #643 "Unclear error 403 message"
Hi

I get the following error when trying to download a series of files from Google Drive.

`Traceback (most recent call last):
  File "/Users/michaelmussato/PycharmProjects/SyncAudio/sync_audio.py", line 187, in <module>
    main()
  File "/Users/michaelmussato/PycharmProjects/SyncAudio/sync_audio.py", line 78, in main
    status, done = downloader.next_chunk()
  File "/Users/michaelmussato/Pycha

[2019-04-12 00:06] chris360KS commented on #93
Still needs fixing :(

[2019-04-12 07:41] yahanvesh opened #644 "Getting "Request is missing required authentication credential""
#### Environment details

  - OS: CentOS Linux release 7.6.1810
  - Python version: Python 3.6.4
  - pip version: pip 18.0 from /home/admin/.pyenv/versions/3.6.4/lib/python3.6/site-packages/pip (python 3.6)
  - `google-api-python-client` version:
google-api-python-client==1.7.8
google-auth==1.6.3
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.3.0

#### Steps to reproduce

  Error:- After doin

[2019-04-16 00:48] CaViCcHi commented on #354
this still seems to be an issue, I think the confusion comes from the fact that we're talking about youtube.insert which should return "128GB" rather than drive.create which does return "5120GB"

[2019-04-16 06:05] SolomonSHY opened #645 "Alerts API returns 400 Error"
#### Environment details

  - OS: Darwin 18.5.0
  - Python version: 2.7.14
  - pip version: 9.0.3
  - `google-api-python-client` version: 1.7.8

#### Steps to reproduce

  1. Am trying to hit the alerts app, but every endpoint I get has the following error:
`<HttpError 400 when requesting https://alertcenter.googleapis.com/v1beta1/settings?alt=json returned "Request contains an invalid argument.">

[2019-04-16 11:35] OmerJog opened #646 "error 400 parameter is missing but it doesn't says what"
I'm trying to export table from BigQuery to Storage using Airflow:
[code]

The lib raises exception:
[code]

It doesn't say what is missing. What is the parameter that causes the problem?

I should note I have no problem with loading from Storage to BigQuery.

[2019-04-16 12:20] OmerJog commented on #646
Found the problem it should be:
`destination_cloud_storage_uris=[gcs_export_uri_template]`

In any case I still think the library should raise a better error message explaining in which parameter there is a problem.

[2019-04-16 19:19] CaViCcHi commented on #354
and I can confirm it doesn't work when uploading to youtube, I tried faking the first method that checks the api maxSize to return 128GB so the upload starts, but after uploading 70GB, at the end of the file the API explodes saying that the maximum upload size is 64GB, just tried last night.

[2019-04-16 19:21] busunkim96 commented on #354
@CaViCcHi, Would you mind opening a new issue and referencing this one? We unfortunately are more likely to miss comments made on older issues.

[2019-04-16 19:36] CaViCcHi opened #647 "Youtube.insert video upload maxSize set to 64GB"
This reopens Issue #354 which was originally opened downstream tokland/youtube-upload#153

even with v3 google api the upload limit seems to be stuck at 64GB,
I can confirm it doesn't work when uploading to youtube, I tried faking the first method that checks the api maxSize to return 128GB so the upload starts, but after uploading 70GB (~15hours later), at the end of the file the API errors sayin

[2019-04-16 19:37] CaViCcHi commented on #354
@busunkim96  Done, thanks :)

[2019-04-17 09:53] ferrucc-io opened #648 "Django Sample project missing"
This sample link is broken:
https://github.com/googleapis/google-api-python-client/blob/master/samples/django_sample

Is there a Django sample project or it's still a work in progress?

If there is one consider fixing the link in this page:
https://github.com/googleapis/google-api-python-client/blob/master/samples/README.md

[2019-04-17 15:07] shilomagen opened #649 "Getting all calendars of organisation users"
Hi,
I'm trying to figure out if as an organisation admin I can get all my users calendar and meeting.
Is it possible? Could not find any documentation for it.

Thanks!

[2019-04-17 16:19] busunkim96 commented on #648
We've removed the Django sample. I will remove the link in the README, thank you!

[2019-04-17 16:22] busunkim96 commented on #649
Hi @shilomagen, you would want to use a service account with domain-wide delegation. There is a bit about that in the Calendar API documentation: https://developers.google.com/calendar/concepts/domain#accessing_domain_calendars_as_an_app

[2019-04-17 16:42] shilomagen commented on #649
Thank you @busunkim96 !

[2019-04-17 16:42] #649 closed

[2019-04-19 09:06] khushbuparakh commented on #299
GCP_discovery.build('compute', 'v1', credentials=self.credentials, cache_discovery=False)

[2019-04-19 15:56] busunkim96 commented on #299
@khushbuparakh If you have this issue, please open a new issue (or comment on one that is currently open). Unfortunately it's easy for us to miss comments added to closed issues.

[2019-04-22 21:04] seanwhudson commented on #611
I found this to be a Roles issue.

1. In your Developers Console -> Project -> IAM ensure that your service account is listed there.
  - if it isn't, click Add and start typing the name to add it
2. For Role, select Access Approval -> Access Approval Approver

This allowed me to query any domain user's calendar event list.

[2019-04-24 08:38] inf3cti0n95 opened #651 "Uploading a file with google photos API"
Hi, I am trying to upload image, video via photoslibrary v1 API. But I am not getting how to upload? There are no demos and no clear documentation upon how to do it?

[code]

It does not have API with for MediaFileUpload https://developers.google.com/api-client-library/python/guide/media_upload

[2019-04-25 19:52] yahanvesh commented on #628
@sripakdp  and others who might have faced same issue.

The timeout atleast in my case happened always, even before actual execution of the script took place. Primarily the problem is the httplib bundled with googleapiclient, so i have overriden it with latest httplib2 wherever needed. So i made some changes also in googleapiclient and its now **working**.

httplib2==0.12.1
google-api-python-clien

[2019-04-25 19:55] yahanvesh commented on #644
For benefit of others, i have found another piece of code lying among multiple samples on Google api Quickstarts, most of which were not working. I have attached my code for getting credentials from token.json which is also called token pickle in some documentation.

There was a timeout atleast in my case, even before actual execution of the script took place. Primarily the problem is the httplib

[2019-04-25 19:55] #644 closed

[2019-04-25 22:26] Chronial commented on #626
Your code does not contain any threading, so you question is not quite clear. Are you starting threads that run `threaded`? That is expected to work – it's sharing the `service` object across threads that's not safe.

[2019-04-26 00:00] frankwaltz commented on #626
ok got it. I now also grok the bit in the docs that one should `override construction of [the http instance] within the service object`.

[2019-04-26 00:00] #626 closed

[2019-04-28 17:15] CircleOnCircles commented on #651
I do using `requests`.
[code]

[2019-04-28 17:16] CircleOnCircles commented on #651
still cannot figure out is there a way to do it via `service`

[2019-04-29 14:56] inf3cti0n95 commented on #651
@CircleOnCircles I figured out the same way. It would have been better if this api would also have something like https://developers.google.com/api-client-library/python/guide/media_upload

[2019-04-29 16:18] busunkim96 commented on #651
Hello! The photos API is maintained separately. Here is their [support page](https://developers.google.com/photos/library/support/how-to-get-help). The Photos API has Java and PHP client libraries, but not one for Python. You can interact with the Photos REST API via `requests` in Python.

If a Python client library is of interest, it may be worth putting in a feature request. There is more inform

[2019-04-29 16:18] #651 closed

[2019-04-30 12:13] CircleOnCircles commented on #651
Totally agree! the same here. I also tried.

@busunkim96 `google-api-python-client` could be used to call the photo api.

for example,
[code]

[Media Uploading](https://developers.google.com/api-client-library/python/guide/media_upload) become the only request which cannot be used via the library. thus, it becomes very counter-intuitive.

[2019-04-30 16:12] busunkim96 commented on #651
@CircleOnCircles It may be possible to get parts of the library to work with our client, but they unfortunately aren't designed to be completely compatible. Sorry for any confusion this may have caused!

The full list of APIs that can be accessed with `google-api-python-client` is [here](https://developers.google.com/api-client-library/python/apis/).

[2019-05-01 06:23] inf3cti0n95 commented on #651
@busunkim96 Can we work on a PR to get support for Photos API?

[2019-05-01 16:09] busunkim96 commented on #651
Unfortunately that's unlikely -- the Photos API is maintained separately, and this library is in maintenance mode (We will address critical bugs but won't add new features).

If a Python client library for the Photos API is of interest, I would strongly recommend filing a feature request on the Photos Library [issue tracker](https://b.corp.google.com/savedsearches/5157556) and the Photos team will

[2019-05-01 16:11] inf3cti0n95 commented on #651
Okay, thank you!

On Wed, May 1, 2019 at 9:40 PM Bu Sun Kim <notifications@github.com> wrote:

[2019-05-01 22:21] Lamroy95 commented on #620
Hello guys, find out something in one tutorial. Instead of using this:

[code]

You should use this:

[code]

[2019-05-04 15:33] dengjiuhong commented on #569
face same problem,
anyone have solutions?

[2019-05-09 09:09] CircleOnCircles commented on #651
I have created a feature request.

https://issuetracker.google.com/issues/132280301

[2019-05-10 21:00] alanyee opened #653 "Change dependency from pycrypto"
**Is your feature request related to a problem? Please describe.**
Pycrypto has not been maintained since 2014. So it susceptible to vulnerabilities like CVE-2013-7459 and CVE-2018-6594, and lacks some compatibility with the latest versions of python. Thus should not be in the tox file, documentation, etc.
 **Describe the solution you'd like**
Replace pycrypto with an active, well-maintained pytho

[2019-05-13 00:36] bchess opened #654 "Special header required to update deployments in deployment manager."
#### Environment details

  - OS: MacOS 10.14.4
  - Python version: 3.7.3
  - pip version: 19.1.1
  - `google-api-python-client` version: 1.7.8

#### Steps to reproduce

I originally filed support case # 19148710. In that case, the Deployment Manager team confirmed this issue and the tech asked me to file an issue here.

I'm attempting to add a new label to an existing deployment:

[code]
The upda

[2019-05-13 14:11] trojek commented on #623
I found where was the problem. If your scope: 'role' is 'freeBusyReader' (in ACL while getting access to calendar) you will not see any information about events without time. This is a bug related to Google Calendar API, not Python library.

[2019-05-13 14:11] #623 closed

[2019-05-13 16:23] andyhky opened #655 "bigtable: Implement consistent retry mechanisms"
**Is your feature request related to a problem? Please describe.**
It is frustrating to utilize a provided retry mechanism for one API call, and being forced to implement our own retry mechanism for a very similar API call because retries aren't provided.

https://googleapis.github.io/google-cloud-python/latest/bigtable/table.html#google.cloud.bigtable.table.Table.read_row

https://googleapis.gith

[2019-05-13 17:07] andyhky commented on #655
Wrong project!  https://github.com/googleapis/google-cloud-python/issues/7955

[2019-05-13 17:07] #655 closed

[2019-05-16 20:16] enriquejosepadilla opened #656 "Modify User Agent on Discovery Service Class for Python"
Hello,

We are using the discovery service in our cli tool and would like to modify the user agent string as a way for concord to collect data from the api calls made by our tool.

I tried this bit of code L53 to L60:

https://github.com/GoogleCloudPlatform/django-cloud-deploy/blob/master/django_cloud_deploy/cloudlib/project.py#L53

but when making print statements of the http request it shows the

[2019-05-16 20:40] busunkim96 commented on #654
Hi @bchess. This library is in maintenance mode, so we will fix critical bugs and security issues but will not add new features.

It sounds like overriding the header is working for you. I also checked this issue internally and it looks like there is work to update the documentation.

Closing this out for now, but let us know if you have any other concerns.

[2019-05-16 20:41] #654 closed

[2019-05-16 20:43] enriquejosepadilla commented on #656
after digging around, the following stack trade produces the following:  File "/Users/epad/Projects/django-cloud-deploy/venv/lib/python3.7/site-packages/googleapiclient/discovery.py", line 799, in method
    actual_path_params, actual_query_params, body_value)
  File "/Users/epad/Projects/django-cloud-deploy/venv/lib/python3.7/site-packages/googleapiclient/model.py", line 145, in request

looking

[2019-05-16 21:11] busunkim96 commented on #656
I think the order may matter here -- could you try creating auth_http and then setting user_agent?

[code]

[2019-05-16 21:20] #648 closed

[2019-05-16 22:05] enriquejosepadilla commented on #656
You are right that order matters, as it seems like it does what its suppose to, which is replace the new_request method, the problem with that it seems it isnt with the same API that request is used throught the package.

After further discussion, we are using the AuthorizedHttp Class, which has a different signature:

    def request(self, uri, method='GET', body=None, headers=None,

[2019-05-16 22:10] enriquejosepadilla commented on #656
Following questions are what im thinking:

1. Do i need to use authorizedHttp (Will test this out on my own)
2. Do we want to modify the set_user_agent string to check what type of http class was passed in? not sure if that is clean though.
3. Is there anywhere else where we can inject the header? Its super ugly, but i think i played around with:

[2019-05-16 22:20] enriquejosepadilla commented on #656
Final note, alternatively i understand the code enough to make a copy of set_user_agent function and handle it for AuthorizedHttp.

[2019-05-17 13:36] danicat opened #659 "intermittent error 400 when calling bigquery API"
I'm experiencing a cryptic error message while running a long bigquery job:

[code]

The point of attention is the `returned "{0}"` part of the message where the reason was supposed to be. When looking at the job history with the `bq --format=prettyjson show -j <jobid>` command it also doesn't show the reason field, so that may be the root cause.

#### Environment details

- Python version: 3.6.5

[2019-05-17 16:30] busunkim96 commented on #659
Hi @danicat!

It looks like you're using both `google-cloud-bigquery` and `google-api-python-client` to talk to the BigQuery API. We would generally recommend you use `google-cloud-bigquery` which is maintained in [googleapis/google-cloud-python](https://github.com/googleapis/google-cloud-python/tree/master/bigquery) repo. Is there a feature you're only able to get through this library?

[2019-05-17 16:40] busunkim96 commented on #659
There is also an active issue with bigquery. See [link](https://status.cloud.google.com//incident/bigquery/19003?_ga=2.238563202.-360086766.1557874141).

[2019-05-17 16:41] danicat commented on #659
I'm sorry, my bad, I should've explained this better. This is actually run on Airflow, using the `bigquery_hook` (https://github.com/apache/airflow/blob/master/airflow/contrib/hooks/bigquery_hook.py). I have never looked how this hook connects to bq, but it seems to use pandas_gbq which by uses the bigquery client you suggested.

Since the requirements.txt file I've used to base my answers above c

[2019-05-17 16:44] busunkim96 commented on #659
@tswast Do you have any thoughts on what could be causing this?

[2019-05-17 16:45] danicat commented on #659
I don't think my issue is related to the above bigquery issue, as our region is EU, not US. We do have an active support contract so I've raised an issue with the support team. The thing that concerns me the most is that the command line tool doesnt show any error message on the given job.

[2019-05-17 16:57] tswast commented on #659
CC @leahecole as FYI re: BigQuery and Airflow / Composer (and maybe motivation to switch Airflow to google-cloud-bigquery)

[2019-05-17 17:01] tswast commented on #659
Usually when I see this kind of error, it's because the project ID or the job ID wasn't actually populated in the request, but that doesn't seem to apply here since the error is intermittent.

400 isn't the expected error code for `resourcesExceeded`, but perhaps it's related to some backend change.

CC @shollyman

[2019-05-17 17:04] danicat commented on #659
Yes, and in this particular execution the job managed to fetch several rows before hitting this error.

The `resourcesExceeded` error was documented under HTTP 400 on https://cloud.google.com/bigquery/troubleshooting-errors. The other 400 errors doesn't seem to make any sense here.

[2019-05-17 19:46] leahecole commented on #659
Ack. @tswast - would love to chat about what that switch would entail

[2019-05-17 23:03] #656 closed

[2019-05-20 10:48] shollyman commented on #659
@danicat, it sounds like this may be a case where you're getting the first page of results, but constructing the request(s) to fetch subsequent pages of results are having issues?

Can you provide more details on how you're triggering the error?  It looks like fetchmany() may be confusing rows returned with pages returned, but I'd like to understand more about how you're getting to this state.

[2019-05-20 11:20] danicat commented on #659
@shollyman Actually its not the second request that has an issue. We are able to process many requests before hitting this error (ie: 10's or 100's even). Last time we saw this error was on the 16th, so it hasn't occurred again for the past 3 days. No changes to the code were made during this time window.

It may or may not be related, but we've seen a similar 400 error with message "{0}" on Dataf

[2019-05-20 12:53] shollyman commented on #659
It smells like a backend error, but absent more information we'll have trouble tracking it down.  If you can provide more details about when it last happened and values like the project id, we might be able to find something useful in the backend logs.  Feel free to send the details to me privately (my github username at google.com) if you'd prefer not to disclose them in the public issue.

[2019-05-20 13:27] danicat commented on #659
I've just sent you more info by e-mail. Let me know if you need anything else.

[2019-05-20 13:36] shollyman commented on #659
Filed 133138422 internally for investigation.

[2019-05-20 19:32] achantavy opened #662 "Expose HttpError.reason when available"
Is there a better way to get the error `reason` than parsing `HttpError.content` from json string to object?

This is what I'm currently doing:
[code]

Ideally I'd like to avoid the call to `json.loads()`.

[2019-05-20 22:16] busunkim96 commented on #662
Hi @achantavy, I believe you can get that through the `error_details` attribute on `HttpError`.

https://github.com/googleapis/google-api-python-client/blob/1d2e240a74d2bc0074dffbc57cf7d62b8146cb82/googleapiclient/errors.py#L34-L77

[2019-05-20 23:42] achantavy commented on #662
Thanks for your reply!

`error_details` seems to be an empty string though.  Here's a dump of the public members of the HttpError object that I get back; the `reason` field that I am interested in seems to be embedded in the `content` byte array:

[code]

The approach in my original post takes the byte array `exc.content`, uses the `json` module to load it as a dict, and then gets the `reason` fie

[2019-05-21 17:40] busunkim96 opened #664 "Snyk is unable to find django/requirements.txt"
The Snyk security check fails because the django requirements.txt has been removed.

See #663 for an example.

[2019-05-21 17:47] jceresini opened #665 "Discovery base url inconsistent in some cases"
Sometimes the baseUrl for the compute api is returned as `www.googleapis.com/compute`, other times I see `compute.googleapis.com/compute`. The code this is affecting for me determines if the api is in the hostname, or the first segment of the URL, but doesn't expect it to be both. I think latter result mentioned above is incorrect.

I reference the script, and a link to the inconsistent results be

[2019-05-21 18:05] jceresini commented on #665
Just to provide more info, we noticed this while attempting to generate a [full resource name](https://cloud.google.com/apis/design/resource_names#full_resource_name) using the request URL using the google-api-python-client library. That code is open sourced: https://github.com/forseti-security/resource-policy-evaluation-library/blob/master/rpe/resources/gcp.py#L116

I realize its an odd use-case

[2019-05-21 18:06] busunkim96 commented on #665
@jceresini Thank you for the report and the sample scripts! We'll investigate to see if this is something odd happening in the discovery document or in the way we build the url.

[2019-05-21 20:13] busunkim96 commented on #665
It looks like we're in the process of rolling out a change to the baseUrl for some of our APIs (including compute). Both those URLs are correct (we're moving from the `www.googleapis.com/compute/v1/projects` to `compute.googleapis.com/compute/v1/projects`.

This is working as intended, so I will close the issue. It looks like you already have a workaround for determining the full resource name. Le

[2019-05-21 20:13] #665 closed

[2019-05-21 20:53] jceresini commented on #665
Every other api I've run into uses one of these 2 format:

`www.googleapis.com/[api_name]/[version]`
`[api_name]'.googleapis.com/[version]`

This is the first I've seen that is a combination of the 2. Its not an issue with this library though, so I submitted some feedback in the compute issuetracker: https://issuetracker.google.com/issues/133249122

Thanks for looking into it!

[2019-05-22 23:45] busunkim96 commented on #656
@enriquejosepadilla This is fixed in the latest release: https://pypi.org/project/google-api-python-client/1.7.9/

[2019-05-23 17:44] enriquejosepadilla commented on #656
@busunkim96 Thank you! You are awesome! Will get this incorporated into our PR.

[2019-05-27 04:44] lucidsushi commented on #558
Also getting a ton of this error... going to assume the easiest way is to exponential back off on both `ConnectionResetError` and `errors.HttpError` (had some issue with this one too) ?

[2019-05-28 02:50] lidatou1991 commented on #480
I have same problem to use google sheets api. Although I can ping www.google.com and access google website ( by shadowsocks since I am in China), the result of ping www.googleapis.com is request time out.

I think that is the reason why pygsheets and gspread raise socket.time out error as in [issue](https://github.com/gsuitedevs/python-samples/issues/105).

I am wondering is there any restriction

[2019-05-28 04:47] lidatou1991 commented on #569
I can visit google.com ( with shadowsocks) while the request time out error is raised if I ping www.googleapis.com

[2019-05-30 17:20] jongoogle opened #667 "APIs that accept arrays as an input parameter blocked by client validation"
Currently, when an API supports multiple parameters via an array, the API client throws an exception due to this logic:

https://github.com/googleapis/google-api-python-client/blob/ffea1a7fe9d381d23ab59048263c631cc2b45323/googleapiclient/_helpers.py#L155-L158

What is the purpose of this validation? It seems unnecessary as sending an HTTP request with multiple parameter values is valid against the

[2019-06-03 06:41] OmerJog commented on #659
My reported issue:
https://github.com/googleapis/google-api-python-client/issues/646

Is also from Airflow but it's unrelated (as you can see I provided a str param where it expected list) However The library simply doesn't give good error messages. They are very general and they don't explain what exactly is the problem. There is so much that Airflow can enforce.

[2019-06-03 17:10] tswast commented on #646
cc @leahecole Some feedback on the Airflow operator for BigQuery.

[2019-06-04 11:16] sbimochan commented on #611
I'm getting this error even after having refresh token after an hour.

[2019-06-06 13:41] eloiup opened #668 "google contact duplicated entries // query"
Hi!

I am using this API to edit & create contacts at **Google Contacts**.

So far I am able to:

Retrieve N contacts.
Create a contact.

However when I create a contact, if the contact is already in the base, it creates a duplicated contact.
I would like to avoid that.

I can remove duplicated contacts through the GUI. However that is not ideal.

Is there any way to prevent to create a contact if

[2019-06-06 16:11] busunkim96 commented on #668
Hi @eloiup! Any idea if this happens only when you use the Python library? In that case, it might be a bug with our API. If it happens with direct HTTP requests, this question is probably better suited for someone who works on the Google Contacts API.

[2019-06-06 17:59] grant opened #669 "DevSite Import: Python Client Home"
Notice: This DevSite page will soon be deleted per [b/133171590](http://b/133171590). Please add this sample to GitHub if it is relevant still:

https://developers.google.com/api-client-library/python/

---

# Easily access Google APIs from Python

## Call Google APIs simply

Use the simple, clean library to make calls from Python to one of the many supported Google APIs. This example uses the Goo

[2019-06-06 18:02] grant opened #670 "DevSite Import: Support"
Notice: This DevSite page will soon be deleted per [b/133171590](http://b/133171590). Please add this sample to GitHub if it is relevant still:

https://developers.google.com/api-client-library/python/support

---

# Support
If you need help, found a bug, or want to request a feature, this page will direct you to the right place.

## Getting help
If you have questions, problems, or comments not ad

[2019-06-06 18:04] grant opened #671 "DevSite Import: Samples"
Notice: This DevSite page will soon be deleted per [b/133171590](http://b/133171590). Please add this sample to GitHub if it is relevant still:

https://developers.google.com/api-client-library/python/samples/samples

---
# Sample Applications

<section>
  <p>
    This page lists sources and information for sample scripts that demonstrate use of this library.
  </p>
  <p>
    Before diving into th

[2019-06-06 18:06] grant opened #672 "DevSite Import: Interactive Help"
Notice: This DevSite page will soon be deleted per [b/133171590](http://b/133171590). Please add this sample to GitHub if it is relevant still:

https://developers.google.com/api-client-library/python/reference/interactive_help

---

# Interactive Help

<section>
  <p>
    You can use Python's <code>help()</code> function in an interactive Python shell
    to view PyDoc generated documentation at

[2019-06-06 18:19] grant opened #673 "DevSite Import: Getting Started"
Notice: This DevSite page will soon be deleted per [b/133171590](http://b/133171590). Please add this sample to GitHub if it is relevant still:
https://developers.google.com/api-client-library/python/start/get_started

---

# Getting Started

<section>
  <p>
    This document provides all the basic information you need
    to start using the library.
    It covers important library concepts,
    s

[2019-06-06 18:21] grant opened #674 "DevSite Import: Installation"
Notice: This DevSite page will soon be deleted per [b/133171590](http://b/133171590). Please add this sample to GitHub if it is relevant still:

https://developers.google.com/api-client-library/python/start/installation

---

# Installation

<div class="devsite-article-body clearfix
            " itemprop="articleBody">

<section>
  <p>
    This page contains information about installing the Googl

[2019-06-06 18:24] grant opened #675 "DevSite Import: Authentication Overview"
Notice: This DevSite page will soon be deleted per [b/133171590](http://b/133171590). Please add this sample to GitHub if it is relevant still:

https://developers.google.com/api-client-library/python/guide/aaa_overview

---

# Authentication Overview

<div class="devsite-article-body clearfix
            " itemprop="articleBody">

<section>
  <p>
    This document is an overview of how authentica

[2019-06-06 18:25] grant opened #676 "DevSite Import: Using API Keys"
Notice: This DevSite page will soon be deleted per [b/133171590](http://b/133171590). Please add this sample to GitHub if it is relevant still:

https://developers.google.com/api-client-library/python/auth/api-keys

---

## Using API Keys

<div class="devsite-article-body clearfix
            " itemprop="articleBody">

<section>
<p>When calling APIs that do not access private user data, you can us

[2019-06-06 18:25] tseaver commented on #668
@eloiup Does the duplication happen if you use e.g., `curl` to create a contact, following the [Contacts API doc](https://developers.google.com/contacts/v3/#creating_contacts)?

[2019-06-06 18:26] grant opened #677 "DevSite Import: OAuth 2.0"
Notice: This DevSite page will soon be deleted per [b/133171590](http://b/133171590). Please add this sample to GitHub if it is relevant still:

https://developers.google.com/api-client-library/python/guide/aaa_oauth

---

# OAuth 2.0

<div class="devsite-article-body clearfix
            " itemprop="articleBody">

<section>
  <p>
    This document describes OAuth 2.0,
    when to use it,
    how

[2019-06-06 18:27] grant opened #678 "DevSite Import: Using OAuth 2.0 for Web Server Applications"
Notice: This DevSite page will soon be deleted per [b/133171590](http://b/133171590). Please add this sample to GitHub if it is relevant still:

https://developers.google.com/api-client-library/python/auth/web-app

---

# Using OAuth 2.0 for Web Server Applications

<div class="devsite-article-body clearfix
            " itemprop="articleBody">

<p>

  This document explains how web server applica

[2019-06-06 18:29] grant opened #679 "DevSite Import: Using OAuth 2.0 for Installed Applications"
Notice: This DevSite page will soon be deleted per [b/133171590](http://b/133171590). Please add this sample to GitHub if it is relevant still:

https://developers.google.com/api-client-library/python/auth/installed-app

---

# DevSite Import: Using OAuth 2.0 for Installed Applications

<div class="devsite-article-body clearfix
            " itemprop="articleBody">

<section>

<p>The Google APIs C

[2019-06-06 18:34] grant opened #680 "DevSite Import: Using OAuth 2.0 for Server to Server Applications"
Notice: This DevSite page will soon be deleted per [b/133171590](http://b/133171590). Please add this sample to GitHub if it is relevant still:

https://developers.google.com/api-client-library/python/auth/service-accounts

---

# Using OAuth 2.0 for Server to Server Applications

<div class="devsite-article-body clearfix
            " itemprop="articleBody">

<section>

<p>The Google APIs Client

[2019-06-06 18:36] grant opened #681 "DevSite Import: Client Secrets"
Notice: This DevSite page will soon be deleted per [b/133171590](http://b/133171590). Please add this sample to GitHub if it is relevant still:

https://developers.google.com/api-client-library/python/guide/aaa_client_secrets

---

## Client Secrets

<div class="devsite-article-body clearfix
            " itemprop="articleBody">

<section>
  <p>
    The Google APIs Client Library for Python uses t

[2019-06-06 18:39] grant opened #682 "DevSite Import: Logging"
Notice: This DevSite page will soon be deleted per [b/133171590](http://b/133171590). Please add this sample to GitHub if it is relevant still:

https://developers.google.com/api-client-library/python/guide/logging

---

# Logging

This page provides logging tips to help you debug your applications.

Log Level
---------

You can enable logging of key events in this library by configuring Python's

[2019-06-06 18:47] grant opened #683 "DevSite Import: Upload Media"
Notice: This DevSite page will soon be deleted per [b/133171590](http://b/133171590). Please add this sample to GitHub if it is relevant still:

https://developers.google.com/api-client-library/python/guide/media_upload

---

# Media Upload

Some API methods support uploading media files in addition to a regular body. All of these methods have a parameter called `media_body`. For example, if we ha

[2019-06-06 18:51] grant opened #684 "DevSite Import: Using Mocks"
Notice: This DevSite page will soon be deleted per [b/133171590](http://b/133171590). Please add this sample to GitHub if it is relevant still:

https://developers.google.com/api-client-library/python/guide/mocks

---

# Using Mocks

<section>
    <p>
      The use of <a href=
      "http://en.wikipedia.org/wiki/Mock_object">Mock objects</a>
      is a standard testing methodology for Python and o

[2019-06-06 18:52] grant opened #685 "DevSite Import: Pagination"
Notice: This DevSite page will soon be deleted per [b/133171590](http://b/133171590). Please add this sample to GitHub if it is relevant still:

https://developers.google.com/api-client-library/python/guide/pagination

---

# Pagination

<p>
    Some API methods may return very large lists of data.
    To reduce the response size, many of these API methods support pagination.
    With paginated re

[2019-06-06 18:53] grant opened #686 "DevSite Import: Performance Tips"
Notice: This DevSite page will soon be deleted per [b/133171590](http://b/133171590). Please add this sample to GitHub if it is relevant still:

https://developers.google.com/api-client-library/python/guide/performance

---

# Performance Tips

<section>
  <p>
    This document covers techniques you can use to improve the performance of your application.
    The documentation for the specific API

[2019-06-06 18:55] grant opened #687 "DevSite Import: Thread Safety"
Notice: This DevSite page will soon be deleted per [b/133171590](http://b/133171590). Please add this sample to GitHub if it is relevant still:

https://developers.google.com/api-client-library/python/guide/thread_safety

---

# Thread Safety

<section>
  <p>
    This page contains important information about the thread safety of this library.
  </p>
</section>

<section>
  <h2>The httplib2.Http()

[2019-06-06 19:01] grant opened #688 "DevSite Import: Using Google App Engine"
Notice: This DevSite page will soon be deleted per [b/133171590](http://b/133171590). Please add this sample to GitHub if it is relevant still:

https://developers.google.com/api-client-library/python/auth/api-keys

---

# Using Google App Engine

<section>
  <p>
    The Google APIs Client Library for Python has special support for
    <a href="/appengine">Google App Engine</a>
    applications.

[2019-06-06 19:03] grant opened #689 "DevSite Import: Using Django"
Notice: This DevSite page will soon be deleted per [b/133171590](http://b/133171590). Please add this sample to GitHub if it is relevant still:

https://developers.google.com/api-client-library/python/guide/django

---

# Using Django

<section>
  <p>
    The Google APIs Client Library for Python has special support for the
    <a href="https://www.djangoproject.com/">Django</a>
    web framework.

[2019-06-06 19:25] grant opened #690 "DevSite Import: Batch"
Notice: This DevSite page will soon be deleted per [b/133171590](http://b/133171590). Please add this sample to GitHub if it is relevant still:

https://developers.google.com/api-client-library/python/guide/batch

---

# Batch

<section>
  <p>
    Each HTTP connection that your application makes results in a certain amount of overhead.
    This library supports batching,
    to allow your applicat

[2019-06-06 19:25] grant commented on #690
Before closing this issue, if adding this sample, see
https://b/65590380

[2019-06-06 19:39] busunkim96 commented on #689
@grant Thanks for the heads up! We deleted the Django sample from this repo a while back, so I don't think we have any concerns.

[2019-06-09 00:13] braunchris commented on #453
I am getting the same error with the following:
Python 2.7.15
google-api-python-client==1.7.9
httplib2==0.12.1
oauth2client==4.1.3
PyOpenSSL==18.0.0
six==1.12.0

[2019-06-10 00:14] benminer commented on #427
🥇

[2019-06-10 18:11] busunkim96 commented on #610
@bmccutchon thank you for filing an issue! I am opting to close this as this library is in maintenance mode and it's not likely that we would actually implement this.

(From README.md)

[2019-06-10 18:11] #610 closed

[2019-06-10 18:12] busunkim96 commented on #642
Hi @adam-ah, thank you for filing an issue! I'm opting to close this as it's unlikely we will implement it in the future.

[2019-06-10 18:12] #642 closed

[2019-06-10 18:15] busunkim96 commented on #281
@c0b, thank you for filing an issue! I'm opting to close this as it's unlikely we will implement it in the future.

[2019-06-10 18:15] #281 closed

[2019-06-10 18:15] busunkim96 commented on #278
I'm opting to close this as it's unlikely we will implement it in the future.

[2019-06-10 18:15] #278 closed

[2019-06-10 18:15] busunkim96 commented on #166
I'm opting to close this as it's unlikely we will implement it in the future.

[2019-06-10 18:15] #166 closed

[2019-06-10 18:16] busunkim96 commented on #154
I'm opting to close this as it's unlikely we will implement it in the future.

[2019-06-10 18:16] #154 closed

[2019-06-10 18:18] busunkim96 commented on #325
I'm opting to close this as it's unlikely we will implement it in the future.

[2019-06-10 18:18] #325 closed

[2019-06-10 18:21] busunkim96 commented on #615
Hi @AsserAboElkhair, the max # of results a limitation imposed by the CSE API, so there's nothing we can do on the client library side.

Please look into contacting the CSE team directly: https://developers.google.com/custom-search/docs/support

[2019-06-10 18:21] #615 closed

[2019-06-10 19:07] busunkim96 commented on #647
The discovery document says `insert` has a max size of 64GB
https://www.googleapis.com/discovery/v1/apis/youtube/v3/rest
[code]

In contrast the API documentation says `128 GB`.

https://developers.google.com/youtube/v3/docs/videos/insert

I think this is something that will need to be fixed on the backend, I will file an issue with the YouTube team.

[2019-06-10 19:16] busunkim96 commented on #647
Filed internal issue b/134945730.

[2019-06-10 19:28] busunkim96 commented on #668
@eloiup  There are currently no ways to prevent a duplicate contact from being created.

You can use the People API to query contacts based on different parameters like phone number. [documentation](https://developers.google.com/people/api/rest/v1/people/get)

[2019-06-10 19:28] #668 closed

[2019-06-10 20:39] busunkim96 commented on #639
This was answered on Stack Overflow by Edo Aske.

https://stackoverflow.com/a/55796468/10756733

[2019-06-10 20:39] #639 closed

[2019-06-10 21:17] busunkim96 commented on #638
Hi @9kmmr, could you let us know which version of the API (V2 or V3) you are using?

[2019-06-10 21:22] busunkim96 commented on #563
[v0.12.1](https://github.com/httplib2/httplib2/commit/ead7f8038f1cd02a923544c4f3294c1389ad3e03) of httplib2 has been released and contains the update to clear dead connections.

[2019-06-10 21:22] #563 closed

[2019-06-10 21:26] busunkim96 commented on #632
Hi! Thanks for the report. I've seen issues in other client libraries saying that timeouts can be a little weird in the Cloud Functions environmentt. Would you mind showing us what's in your requirements.txt?

[2019-06-10 21:43] busunkim96 commented on #637
Hi @EmiCarrizo. google-api-python-client generates libraries based off the discovery document. [reference docs](https://developers.google.com/android-publisher/api-ref/#Purchases.subscriptions) and [discovery document](https://developers.google.com/android-publisher/api-ref/#Purchases.subscriptions).  It looks like the API doesn't have a method for getting all orders, so it won't be possible with

[2019-06-10 23:41] hsyyid commented on #632
@busunkim96

[code]

[2019-06-11 05:34] jerrythomas opened #693 "Documentation not accessible."
The documentation links are all redirected to this repository. The following links are from the readme

* [Developer Documentation](https://developers.google.com/api-client-library/python/start/get_started)
* [full documentation for this library](https://developers.google.com/api-client-library/python/)

All of them redirect to https://github.com/googleapis/google-api-python-client
Even the links

[2019-06-11 07:42] adam-ah commented on #642
That's fine if you don't want to implement this @busunkim96, but could you help me to understand whether the API itself supports this or not, irrespective of the python client? I presume the API itself is still an active project?

[2019-06-11 14:58] grant commented on #645
The error states:
"Request contains an invalid argument"
It seems like the code given has an error.

Currently, we only have samples in Java:
https://developers.google.com/admin-sdk/alertcenter/quickstart/java

[2019-06-11 15:02] grant commented on #638
@busunkim96 The error states Drive V2. (It's generally recommended to use V3)

@9kmmr It looks like the API request is bad. Here are more samples for uploading files:
https://developers.google.com/drive/api/v2/manage-uploads

[2019-06-11 15:10] davepmarshall commented on #453
@braunchris Try upgrading your PyOpenSSL to 19.0.0 which supports OpenSSL 1.1.1

[2019-06-11 16:00] 9kmmr commented on #638
@busunkim96 It is V2
@grant I tried with no-empty file and it worked

[2019-06-11 16:39] busunkim96 commented on #693
Hi @jerrythomas, we're in the process of removing documentation on that site, and have open issues on this repo to add documentation here.

Thank you for filing an issue!

[2019-06-11 16:41] busunkim96 commented on #637
@EmiCarrizo, questions with the Google Play Developer API are best directed to the [Google Play developer support](https://support.google.com/googleplay/android-developer/answer/7218994?hl=en). Please reach out to them with your question. Thanks!

[2019-06-11 16:41] #637 closed

[2019-06-11 17:50] busunkim96 commented on #453
Hi @braunchris, if you are having the same issue please post to a new issue and reference this one. Repository maintainers are more likely to miss replies to closed issues.

Thanks!

[2019-06-11 20:46] c0b commented on #281
but is there alternative library still taking new features development?

[2019-06-11 21:04] busunkim96 commented on #281
Hi @c0b. It looks like you're using BigQuery. We'd recommend using the newer client under active development here:

https://github.com/googleapis/google-cloud-python/tree/master/bigquery

[2019-06-12 16:29] shollyman commented on #659
@danicat It looks like the BigQuery engineering team has identified a situation in the tabledata backend that can trigger the unusual 400 response with the poorly formatted response.  No details/ETA on resolution yet, but thanks for the report helping to identify this.  I'll keep this issue open until the internal issue is resolved.

[2019-06-12 18:37] grant opened #694 "GitHub Pages Outdated"
The GitHub pages are outdated and haven't been updated recently.
Last update was July 2018.

Example:

http://googleapis.github.io/google-api-python-client/docs/dyn/drive_v3.html

(branch `gh-pages`)

APIs like Sheets should be included or this branch should be removed.

[2019-06-12 21:20] andreabac3 opened #695 "Issue with GMAIL API for Python2 and Python3"
#### Environment details

  - OS: Manjaro Linux
  - Python version: 2.7.16
  - pip version: pip 19.0.3 from /usr/lib/python2.7/site-packages/pip (python 2.7)
  - `google-api-python-client` version: 1.7.9

#### Steps to reproduce

I have followed the guide on this link https://developers.google.com/gmail/api/quickstart/python
I run the command:
[code]
I have run the software reported in the guide a

[2019-06-13 14:51] eloiup commented on #668
@busunkim96 @tseaver only tried with the python library

if i do the same insert command twice it creates two identical entries except by the unique id which is generated by google.

[code]

results in a new entry where

`... 'source': {'type': 'CONTACT', 'id': '*ID*}}, ...`

ID is auto generated.

It would be useful if the api user cld specify the unique ID, which would overwrite old contact info

[2019-06-13 14:52] eloiup commented on #668
thank you.

Is there a python example/reference on such requests/queries?

[2019-06-13 16:59] busunkim96 commented on #695
Hi @andreabac3, I'm not able to replicate this in a clean virtual environment.

Could you make sure that the package is getting installed to the correct place with a `pip show`?

[2019-06-13 17:17] busunkim96 commented on #695
You can also try installing this in a virtualenv:

Please see the tutorial for more detailed instructions and explanations. [Python Packaging User Guide to virtual environments](https://packaging.python.org/guides/installing-using-pip-and-virtual-environments/)

Installing virtual env
[code]
Make virtualenv named `env`
[code]

Activate the environment `env`
[code]

Then install this library and ru

[2019-06-13 17:27] busunkim96 commented on #668
It looks like I was mistaken. Querying in the People API has been requested but is not yet implemented. [see issue](https://b.corp.google.com/issues/73864682)

The Contacts API supports querying by parameters, but the list of query parameters is limited. [link](https://developers.google.com/contacts/v3/#retrieving_contacts_using_query_parameters)

Please put in a feature request to the Contacts AP

[2019-06-14 19:47] busunkim96 commented on #634
@treethought Sorry for the delay!

This looks like an issue with the underlying API, not the client library. I'm not sure what's special about `domain_c` from the info you've provided, but the calendar team should be able to help you debug this further.

https://developers.google.com/calendar/support

[2019-06-14 19:47] #634 closed

[2019-06-14 20:27] busunkim96 opened #697 "docs: Provide list of libraries."
Related to #693.

Currently it's only possible to get to specific client documentation if you have a direct link to the page under `dyn/`.

At the very least, there should be an index page on `dyn` that lists the API top-level pages.

[2019-06-14 20:37] busunkim96 commented on #694
@grant Is there another place that hosts the Python docs?

[2019-06-14 21:08] grant opened #698 "Pypi Project Description"
The Pypi package has a description that is very old and not useful.

https://pypi.org/project/google-api-python-client/1.7.9/

For example, the G+ API is deprecated.

This should be updated to something more useful. It's hard to tell that this is the real pypi package!

[2019-06-14 21:39] grant commented on #694
@busunkim96 Not that I know of. I just reported the issue. I don't maintain the library.

[2019-06-14 23:57] busunkim96 commented on #694
Closed by #701

[2019-06-14 23:57] #694 closed

[2019-06-16 22:00] andreabac3 commented on #695
Hi Busunkim96,
sorry for the delay to response
I executed the procedure as you indicated for the instantiation of the new virtual environment with the python3 version.
I copied the email.py file to the new directory avoiding possible cached files.

I got the same error. I have tried with my MacBook Pro (Mojave) with python3 and the library works well.
I have attached the result obtained with the p

[2019-06-17 14:41] doransmestad commented on #693
Any recommendations in the meanwhile?  I'd like to use this project to interact with the Google APIs, but no available documentation makes this a bit challenging.  Is there a place we can find the documentation while it is being migrated?   Thanks

[2019-06-17 17:06] busunkim96 commented on #695
Hi Andrea, are you saying that the library works for you on your Macbook but doesn't work somewhere else?

[2019-06-17 17:16] busunkim96 commented on #693
Hi @doransmestad, if you're looking for the generated ref docs they are currently available under:
`https://googleapis.github.io/google-api-python-client/docs/dyn/{api_name}_{version}`

*Examples:
https://googleapis.github.io/google-api-python-client/docs/dyn/accesscontextmanager_v1beta
https://googleapis.github.io/google-api-python-client/docs/dyn/customsearch_v1

For other docs (auth guide, for

[2019-06-17 17:44] andreabac3 commented on #695
No, I had done a mistake, I have re-tried, it's not working with my MacBook, I encountered the same error with py3 and py2.
I just have tried with classmate's computer with Arch Linux (not Manjaro) as distro and he got the same error.

All the tests are done using a new env.

[2019-06-18 08:33] csudcy commented on #693
Hey @busunkim96, I had a look through PRs but couldn't see any which look like they're for adding docs; it looks like there are some recent merges which update docs though so maybe the links in the root readme just need updating?

@doransmestad in the meantime, I've found this sample most helpful: https://github.com/googleapis/google-api-python-client/blob/master/samples/appengine/

[2019-06-18 16:55] busunkim96 commented on #693
My mistake, the docs are currently in issues (labeled `type: docs`) and all made on June 6th.

Here's the App Engine one:
https://github.com/googleapis/google-api-python-client/issues/688

[2019-06-19 02:43] llinfeng commented on #569
@Folyd, thank you for posting your script! I use Jupyter notebook mostly, and the following snippet from your code helped a lot! For Jupyter notebooks, all interpreters for different notebooks are naturally separated from each other. Then, the solution that you are not satisfied with should work perfectly for Jupyter notebooks.

[code]

PS: more on setting things up for those who stumble into this

[2019-06-23 20:00] sflis opened #703 "Setting loglevel with logging.basicConfig raises import error when calling googleapiclient.discovery.build"
Running the sample script found at https://developers.google.com/sheets/api/quickstart/python in isolation was fine but when tried to access a spreadsheet in one of my projects where multiple other packages are imported I got:
[code]
Eventually I traced it down to the `logging` module and setting the logging level with `basicConfig`, which was done in one of the import of my project.

#### Environ

[2019-06-24 07:47] LindaLawton opened #704 "Python == 2.7"
The read me states that

It does not appear to work with Python == 2.7.  (link to question on [SO](https://stackoverflow.com/q/56731694/1841839))

Should this note be removed from the [readme](https://github.com/googleapis/google-api-python-client/edit/master/README.md)?  to me deprecation means that it should still work just be removed soon.

[2019-06-24 16:31] busunkim96 commented on #704
Python 2.7 is deprecated, but we intend to drop support for Python 2.7 on January 1, 2020.

The stack trace points to an incompatibility in httplib2. httplib2 started releasing py3 wheels on [PyPI ](https://pypi.org/project/httplib2/#history) a few months ago. (starting with 0.12.3)

The python2 version appears to be available in the `.tar.gz`.  If they install from the tarfile or pin an older ver

[2019-06-25 20:50] ktbernoulli commented on #632
Hiya, I have been seeing this error when I run reports for Google Analytics, a lot during 11am to 3pm PDT yesterday & just today again so far at 3am PDT. Is there a solution to this so far? I also updated to the 1.7.9 version on all forms.

[2019-06-25 21:29] busunkim96 commented on #632
I haven't had the chance to dig into this further, unfortunately.

How long are your functions running for, on average? Are you close to the [9 minute max](https://cloud.google.com/functions/docs/concepts/exec#timeout), or does this happen earlier?

If each request invocation takes a while, it may be worth moving the client instantiation out into the global scope. There are other networking best p

[2019-06-25 21:33] busunkim96 commented on #632
There are a few other support channels that might be worth reaching out to:

https://cloud.google.com/functions/docs/getting-support

[2019-06-26 16:12] ktbernoulli commented on #632
Whoop, I apologize; I am seeing this error not on Google's Cloud platform, but running locally.
Intermittently works, but my function does not run for that long, a minute at most.
Do you recommend increasing the timeout for now?

[2019-06-26 17:15] grant commented on #690
The docs are now added to the `docs/` folder.
Fixed with #706.

[2019-06-26 17:15] #690 closed

[2019-06-26 17:15] grant commented on #689
The docs are now added to the `docs/` folder.
Fixed with #706.

[2019-06-26 17:15] #689 closed

[2019-06-26 17:15] grant commented on #688
The docs are now added to the `docs/` folder.
Fixed with #706.

[2019-06-26 17:15] #688 closed

[2019-06-26 17:15] grant commented on #687
The docs are now added to the `docs/` folder.
Fixed with #706.

[2019-06-26 17:15] #687 closed

[2019-06-26 17:15] grant commented on #686
The docs are now added to the `docs/` folder.
Fixed with #706.

[2019-06-26 17:15] #686 closed

[2019-06-26 17:15] grant commented on #685
The docs are now added to the `docs/` folder.
Fixed with #706.

[2019-06-26 17:15] #685 closed

[2019-06-26 17:15] grant commented on #684
The docs are now added to the `docs/` folder.
Fixed with #706.

[2019-06-26 17:15] #684 closed

[2019-06-26 17:16] grant commented on #683
The docs are now added to the `docs/` folder.
Fixed with #706.

[2019-06-26 17:16] #683 closed

[2019-06-26 17:16] grant commented on #682
The docs are now added to the `docs/` folder.
Fixed with #706.

[2019-06-26 17:16] #682 closed

[2019-06-26 17:16] grant commented on #681
The docs are now added to the `docs/` folder.
Fixed with #706.

[2019-06-26 17:16] #681 closed

[2019-06-26 17:16] grant commented on #680
The docs are now added to the `docs/` folder.
Fixed with #706.

[2019-06-26 17:16] #680 closed

[2019-06-26 17:18] grant commented on #679
The docs are now added to the `docs/` folder.
Fixed with #706.

[2019-06-26 17:18] #679 closed

[2019-06-26 17:23] grant commented on #677
The docs are now added to the docs/ folder.
Fixed with #706.

[2019-06-26 17:23] #677 closed

[2019-06-26 17:23] grant commented on #676
The docs are now added to the docs/ folder.
Fixed with #706.

[2019-06-26 17:23] #676 closed

[2019-06-26 17:23] grant commented on #675
The docs are now added to the docs/ folder.
Fixed with #706.

[2019-06-26 17:23] #675 closed

[2019-06-26 17:23] grant commented on #674
The docs are now added to the docs/ folder.
Fixed with #706.

[2019-06-26 17:23] #674 closed

[2019-06-26 17:23] grant commented on #672
The docs are now added to the docs/ folder.
Fixed with #706.

[2019-06-26 17:23] #672 closed

[2019-06-26 17:23] grant commented on #671
The docs are now added to the docs/ folder.
Fixed with #706.

[2019-06-26 17:23] #671 closed

[2019-06-26 17:23] grant commented on #670
The docs are now added to the docs/ folder.
Fixed with #706.

[2019-06-26 17:23] #670 closed

[2019-06-26 17:24] grant commented on #669
The docs are now added to the docs/ folder.
Fixed with #706.

[2019-06-26 17:24] #669 closed

[2019-06-26 17:25] busunkim96 commented on #632
@ktbernoulli Are you in Cloud Functions or in another environment?

[2019-06-26 17:26] grant commented on #678
I don't think this doc was fully imported into
https://github.com/googleapis/google-api-python-client/blob/master/docs/oauth-web.md
so I will leave it open until it is fully merged.

[2019-06-26 18:41] ktbernoulli commented on #632
Hello, after some more investigation, it might have been a latency issue with the GA account I am creating reports from; I am not sure why it would cause a read operation issue though ):
Thank you for your responses so far ~

[2019-06-26 21:19] grant commented on #693
With PR #706, I think we can close this and redirect developers to our new API `docs/` pages! 🎉

https://github.com/googleapis/google-api-python-client/tree/master/docs

Pardon with the delay for moving these docs, and let up know if there's anything else we should do.

[2019-06-29 03:46] loozhengyuan commented on #703
I'm currently facing this exact issue as well. From what I understand, `oauth2client` is [deprecated](https://github.com/googleapis/oauth2client) by Google too.

[2019-06-30 09:30] Spazzlo opened #707 "Google Drive copy operation reporting storage quota errors incorrectly"
When a script is copying a file from a place with a file over 15 gigabytes to a place with enough space to hold that file using a service account without enough space to hold those 15 gigabytes, it errors with a storage quota error

Env Info:
[code]

Here's the code that is causing my issue. I've created a publicly readable 16 gigabyte file, so you don't have to upload 16 gigs of data yourself.
[c

[2019-06-30 09:37] Spazzlo commented on #707
Note: I get this error with google-auth too.

[2019-06-30 11:53] Spazzlo commented on #707
Done some testing, it's actually not your guys' problem, but it's an issue with the api itself.

[2019-06-30 11:53] #707 closed

[2019-07-03 18:26] grant commented on #673
This doc is here: https://github.com/googleapis/google-api-python-client/blob/master/docs/start.md

[2019-07-03 18:26] #673 closed

[2019-07-04 17:19] stevenwu4 commented on #690
When I go to https://github.com/googleapis/google-api-python-client/tree/master/docs, I don't see a `batch.md` file. The hyperlink in https://github.com/googleapis/google-api-python-client/blob/master/docs/performance.md under the `Batch` header (https://github.com/googleapis/google-api-python-client/blob/master/docs/batch.md) results in a 404

[2019-07-04 20:48] ying-va7yyz opened #708 "Old changes made to google sheet files (before 2017) not downloaded by http.MediaIoBaseDownload"
#### Environment details

  - OS: Ubuntu 16.04
  - Python version: 2.7
  - pip version: 19.02
  - `google-api-python-client` version: 1.7.9

#### Steps to reproduce

  1. Find an old file created/modified before 2017 (the one I have was created on Sep 7, 2016, and modified on Sep 8, 2016)
  2. Call http.MediaIoBaseDownload to download the file
  3. Check the downloaded file, it will be the origina

[2019-07-06 20:00] n8felton opened #709 "`socket.timeout: timed out` when using full IPv6 stack."
#### Environment details

  - OS: `macOS 10.14.5 (18F132) Mojave`
  - Python version: `3.7.3`
  - pip version: `19.1.1`
  - `google-api-python-client` version: `1.7.9`

#### Steps to reproduce
Pre-steps:

- Have a full IPv6 stack with an IPv6 address. In my case, I have the following from Spectrum, through a Linksys WRT3200ACM router.
[code]

Error:
1. Follow the steps for the Python Quickstart (h

[2019-07-08 16:20] shollyman commented on #659
Checked this morning, it looks like the backend changes to address the malformed response have been deployed to tasks in all regions.  Cases where requests were getting the 400 response and the {0} body were representative of a backend component where error propagation was not being handled correctly.  Now such conditions should yield an appropriate retryable HTTP error, and a properly formatted r

[2019-07-08 16:37] #659 closed

[2019-07-08 19:46] danicat commented on #659
thank you @shollyman !

[2019-07-10 18:57] jacobtabak opened #711 "Internal App Sharing support?"
I am using `google-api-python-client-1.7.9`

I found [documentation](https://github.com/googleapis/google-api-python-client/blob/715bd7f9ca9a324a05ee05a6476af383e54930f9/docs/dyn/androidpublisher_v3.internalappsharingartifacts.html) for `internalappsharingartifacts` in this repo -  - but I can't figure out how to use it. It seems like the method is missing on my version of the client.

[code]

Her

[2019-07-10 20:44] busunkim96 commented on #711
Apologies for the state of our documentation - you'll probably have an easier time reading it [here](http://googleapis.github.io/google-api-python-client/docs/dyn/androidpublisher_v3.html)

It looks like the method is `uploadbundle` instead of `uploadBundle`, but I'm not sure if that's what's causing the issue.

The following seems to work correctly for me:
[code]

Would you mind showing us a bit

[2019-07-10 20:50] jacobtabak commented on #711
Thank you for the fast response @busunkim96 !

You're right - that's embarassing! It was a casing issue. That solved my first problem but led to another with mimeType that I will try to figure out now.

[code]

Here is the entire script right now.

[code]

[2019-07-10 20:54] jacobtabak commented on #711
Setting `media_mime_type` to `application/octet-stream` seems to have helped. Success! Thank you.

[2019-07-10 20:54] #711 closed

[2019-07-10 20:55] jacobtabak commented on #711
I'll update the script in case anyone else wants to use it.

[2019-07-10 21:29] blairg23 opened #712 "https://www.googleapis.com/discovery/v1/apis/analytics/v4/rest is returning 404ing and causing services that use the discovery module to fail"
https://www.googleapis.com/discovery/v1/apis/analytics/v4/rest

#### Environment details

  - OS: Ubuntu
  - Python version: 3.6.7
  - pip version: 19.1.1
  - `google-api-python-client` version: 1.7.8

#### Steps to reproduce

  1. Perform a GET request to https://www.googleapis.com/discovery/v1/apis/analytics/v4/rest
  2. Profit.

[2019-07-10 21:33] tseaver commented on #712
I can confirm the 404.

[2019-07-10 21:34] busunkim96 commented on #712
Hi @blairg23! Do you know if there was a v4 previously, and when this started to 404? Is it possible you want to use the Analytics Reporting API rather than the Google Analytics API?

See [discovery document](https://www.googleapis.com/discovery/v1/apis).

analytics versions:
v2.4preprod, v3alphapreprod, v3preprod, v2.4, v3

analyticsreporting versions:
v4

[2019-07-10 21:34] blairg23 commented on #712
You are correct, we are using the Analytics Reporting API v4.

[2019-07-10 21:35] busunkim96 commented on #712
In that case it looks like the restUrl is now `https://analyticsreporting.googleapis.com/$discovery/rest?version=v4`. That may be a recent change.

[2019-07-10 21:37] blairg23 commented on #712
We're using the `from googleapiclient.discovery import build` to build the Analytics API service. From there, you can see the following:

[code]

[2019-07-10 21:38] blairg23 commented on #712
This was our working code that is no longer working:

[code]

[2019-07-10 21:41] crwilcox commented on #712
@blairg23 when did this start to 404 for you?

[2019-07-10 21:41] busunkim96 commented on #712
It looks like the v4 has a separate name ('analyticsreporting' instead of 'analytics'). I unfortunately don't have much context on the change.

Please use the name 'analyticsreporting' to build the service if you're using the v4.

[2019-07-10 21:42] blairg23 commented on #712
Today, first event appears to be `Jul 10, 2019 9:31:34 PM UTC`

[2019-07-10 21:43] blairg23 commented on #712
Can confirm: `https://www.googleapis.com/discovery/v1/apis/analyticsreporting/v4/rest` is working. Unsure why the old URL used to be working... will change code and test.

[2019-07-10 21:57] blairg23 commented on #712
My theory is this bug originated due to old Analytics documentation that had that `analytics` build example in it that was copy/pasta'd into our code and just happened to work for a year and a half due to a coincidental bug that allowed the old URL to function with https://www.googleapis.com/discovery/v1/apis/analytics/v4/rest instead of https://www.googleapis.com/discovery/v1/apis/analyticsreport

[2019-07-10 21:57] #712 closed

[2019-07-10 22:14] busunkim96 commented on #709
A few folks have filed issues about socket timeouts recently - thank you for the additional info!

[2019-07-10 22:23] busunkim96 commented on #708
@ying-va7yyz

Thank you for reporting! Did this every work correctly? If so, when did it stop working?

I think this is most likely an issue with the backend API. Please reach out to the [Sheets API support](https://developers.google.com/sheets/api/support) team.

[2019-07-11 17:16] crwilcox commented on #712
Hi @blairg23 Thanks for working through this and happy you have been unblocked.

Can I confirm that this did work before? If so, do you have an idea of how long? Just making sure to gather details while it is still fresh on your mind.

Thanks!

[2019-07-11 17:50] ying-va7yyz commented on #708
Thanks for your reply. This is something I just noticed and am not sure how it behaved in the past. I've submitted a bug report to Sheets API support: https://issuetracker.google.com/137251486

[2019-07-11 20:29] jceresini opened #713 "cloudresourcemanager.project.getIamPolicy recently started throwing 'Missing required parameter "body"'"
Replicated in version 1.7.7, 1.7.8, and 1.7.9 on MacOS, and various flavors of linux with python 3.7

Prior to July 3rd, the following code worked, and returned the IAM policy for a given project:

[code]

Since then, our existing applications using that functionality started throwing an error that the required parameter `body` was missing. At first I thought google made a breaking change to the d

[2019-07-11 20:45] jceresini commented on #713
I forgot to include the now-working code

[code]

Those are simplified versions of what we were using that stopped working, but here is a link to the PR to fix the issue in the actual code that was running that I noticed the issue in: https://github.com/forseti-security/resource-policy-evaluation-library/pull/18

[2019-07-11 21:09] jceresini commented on #713
I modified the method description for getIamPolicy manually and removed the `request` field, and confirmed that "fixed" the required parameter missing error.

The problem is, it also broke it if I apply the fix to my project in the PR mentioned above: https://github.com/forseti-security/resource-policy-evaluation-library/pull/18

So I still think a change in the discovery document caused this, but

[2019-07-11 21:29] busunkim96 commented on #713
@jceresini Thank you for the report! Do you have any information on the time this started happening?

[2019-07-11 22:09] jceresini commented on #713
The best I can do is provide the timestamp of the last log I have that indicated that our application successfully evaluated the IAM policy on a project. That evaluation is event-driven based on a pub/sub feed of changes, so its only as accurate as the frequency of changes. Anyway, the last log is from July 3rd at 18:00:02 UTC. In some cases there are several hours between changes that our applica

[2019-07-12 12:35] babywonderland opened #715 "groupssettings get(): missing attribute value: id"
I'm getting an error trying to get settings for a group:
`googleapiclient.errors.HttpError: <HttpError 400 when requesting https://www.googleapis.com/groups/v1/groups/00nmf14n31fm1c2?alt=json returned "Missing/Invalid attribute value: id">
`

I'm following along with https://github.com/googleapis/google-api-python-client/blob/master/samples/groupssettings/groupsettings.py trying to retrieve settin

[2019-07-12 12:52] babywonderland commented on #715
Okay, I solved my own problem. (Sorry for the noise! I tried to solve this on my own for a while before opening an issue.)

The directory API says to use the group-id wherever possible because the group email can change. The groups settings API apparently does not support using the group-id, so what it calls the "id" is really the group email. And the "missing id attribute" error, somewhat mislead

[2019-07-12 12:52] #715 closed

[2019-07-12 17:13] busunkim96 commented on #715
@babywonderland Thank you for posting your solution! Glad you got it figured out. If you're able to, could you provide this feedback to the [GSuite Admin SDK team](https://developers.google.com/admin-sdk/groups-settings/support)? It looks like they maintain this API.

[2019-07-12 21:48] busunkim96 commented on #713
@jceresini That's very helpful, thank you for tracking that timestamp down.

A change was made to the `GetIamPolicyRequest` object around that time. Properties used to be empty, and now has 'GetPolicyOptions'.

**Current Version (20190708)**
[code]

**Previous:**

[code]

`body` is optional for requests with no parameters, but a parameter was added in a recent update. The change to the discovery d

[2019-07-12 21:55] busunkim96 opened #716 "docs: Automatically republish generated API documentation."
Apiary docs are updated frequently. Reference docs should be re-published when that happens.

It may make sense to do this in combination with a move to googleapis.dev. We will not retain old versions, since this library is always using the current discovery doc.

[2019-07-12 23:15] BrianGoldYT commented on #478
in the link https://google.com we leave it as http and solved. At least that was my case :P

[2019-07-15 06:43] chromafunk commented on #569
I used to proxy via IP chains while I was in China, worked great.

[2019-07-15 17:11] busunkim96 commented on #569
I think you could accomplish this by passing an `httplib2.http` object with the `proxy_info` parameter.

See https://httplib2.readthedocs.io/en/latest/libhttplib2.html?highlight=proxy#httplib2.Http and https://httplib2.readthedocs.io/en/latest/libhttplib2.html?highlight=proxy#httplib2.ProxyInfo

[2019-07-15 19:53] jceresini commented on #713
Thanks for the info, that all makes perfect sense. I think that fact that the client broke is a concern. I would assume others are affected by this. Should it be updated to require the body ONLY if there are _required_ properties in the `request` field in the method description?

Would you accept a PR for such a change?

[2019-07-15 20:44] busunkim96 commented on #713
@jceresini A PR would most definitely be appreciated!

My only concern is that "OPTIONAL" is marked inside the string for `description`. I'm not sure if this is the standard way (across APIs), or if this was done one-off for cloud resource manager. I'll look into that and get back to you.

[2019-07-15 21:05] jceresini commented on #713
Ah, fair point. I didn't realize it was only present in the description of the property. That's kind of a bummer

[2019-07-16 11:30] tiok-cek1 opened #717 "events api insert / update reminders useDefault not working"
when i update an event, reminders to useDefault True, event not updating.

payload contains
[code]

i've tested on insert, also encountered this problem

[2019-07-16 17:08] busunkim96 commented on #717
Hi @tiok-cek1, this sounds like a problem with the underlying events API. Have you had the chance to test this using the REST API or a client in another language?

[2019-07-16 19:21] busunkim96 commented on #713
Other folks were impacted by this change and reached out via the internal issue tracker.

After discussion with folks on the team, the recommendation was to pass an empty body and let the server do the validation. I will create a PR shortly.

[2019-07-16 23:54] busunkim96 commented on #512
Closing this issue as `needs more info` was added over a year ago, and there hasn't been more followup. Please open a new issue and reference this if you encounter this.

Thanks!

[2019-07-16 23:54] #512 closed

[2019-07-17 00:03] busunkim96 commented on #571
@gregroberts Do you by chance have a short sample? Were you using MediaFileUpload?

[code]

Some more information from the issue tracker issue:

- Method: https://developers.google.com/analytics/devguides/config/mgmt/v3/mgmtReference/management/uploads/uploadData

[2019-07-17 00:08] busunkim96 commented on #647
I merged a fix for this -- the change should trickle through to the discovery doc eventually.

[2019-07-17 00:16] busunkim96 commented on #571
There's a short sample [here](https://developers.google.com/analytics/devguides/config/mgmt/v3/mgmtReference/management/uploads/uploadData#examples), if you have not already seen it.

[code]

Currently working on reproducing.

[2019-07-17 00:46] #713 closed

[2019-07-17 01:29] busunkim96 commented on #571
Was able to reproduce 'Unknown Filename' result with following sample:
[code]

[2019-07-17 01:29] busunkim96 commented on #571
from __future__ import print_function
from googleapiclient.discovery import build
from googleapiclient.http import MediaFileUpload
from httplib2 import Http
from oauth2client import file, client, tools

# If modifying these scopes, delete the file token.json.
SCOPES = ["https://www.googleapis.com/auth/analytics"]

def main():
    """Upload custom data to Google Analytics.
    """
    # The file to

[2019-07-17 03:57] tiok-cek1 commented on #717
i've just tried REST API. the same, not working. returned API useDefault false
i tried "overrides", returned API are updated. maybe "useDefault" API bug.

[2019-07-17 08:26] LindaLawton commented on #571
This is a known issue in all of the Google client libraries as far as I know.  [Management API Cost Data Upload .csv Doesn't Have Filename](https://issuetracker.google.com/issues/35353754)

Its a consequence of the client libraries stripping the filename from POST body information

[2019-07-17 15:30] gregroberts commented on #571
No longer have access to the codebase, but the code above is exactly what I was doing.

[2019-07-17 17:03] telenieko opened #719 "README.md link to docs is a self redirect"
Hi,

README.md has a link to "full documentation for this library" that points to https://developers.google.com/api-client-library/python/ but that page is a redirect back to the README.md

I guess the link should be pointing to the README.md in the docs folder. Or be removed and rewrite the paragraph in favour of the Documentation heading that follows that.

[2019-07-17 17:05] busunkim96 commented on #719
Yep! Sorry about the documentation - there's a PR out right now to clean that up. See #702

[2019-07-17 18:16] #575 closed

[2019-07-17 21:04] busunkim96 commented on #719
Closed via #702. The README link now points to the docs/README.

[2019-07-17 21:04] #719 closed

[2019-07-17 21:05] busunkim96 commented on #693
Should be closed with #702. There *will* be more cleanup in the future, but the docs are accessible again. Please see https://github.com/googleapis/google-api-python-client/blob/master/docs/README.md for a list of guides and reference documentation.

[2019-07-17 21:05] #693 closed

[2019-07-17 21:05] busunkim96 commented on #697
Closed with #702

[2019-07-17 21:05] #697 closed

[2019-07-17 21:16] busunkim96 commented on #717
@tiok-cek1 That sounds like something the backend Calendar API team should look at. Could you please file an issue at https://issuetracker.google.com/issues/new?component=191627&template=824103?

Thank yoU!

[2019-07-18 04:48] tiok-cek1 commented on #717
submitted, thanks
https://issuetracker.google.com/issues/137790091

[2019-07-20 00:10] mbonvini opened #720 "discovery.build_from_document fails when running with Python3"
The `discovery.build_from_document` function assumes that `service` is of type `str`, however when running in Python3 instead of `str` it can be of type `bytes`.

Because of this wrong assumption, the function fails on [line 337](https://github.com/googleapis/google-api-python-client/blob/master/googleapiclient/discovery.py#L337) where the bytes string is compared to an actual text string.

The go

[2019-07-23 04:11] ktbernoulli opened #725 "Google Drive REST API does not return all revisions."
Ubuntu 18.04 LTS, Python 3.7.3
 `google-api-python-client` version: 1.7.9
drive API version: v3

Direct Code being Used:
`sheet = '1vZCO2IDzb2PXC5A6y0qljUryoV5eqrB06wAVqpRB5_I'`
`version = drive.revisions().list(fileId = sheet, fields = '*').execute()`
Returns only 6 lines of revisions when the file has history all the way back to April. ):

In contrast, `sheet = '1l2R7v65ZgN721qO27dU-5Tf84226jXuj

[2019-07-23 17:16] busunkim96 commented on #725
Hi @ktbernoull Does this also happen when you use the REST API directly? You can test this by using the API Explorer 'Try this API' on the right side of [this page](https://developers.google.com/drive/api/v3/reference/revisions/list)

[2019-07-23 19:57] ktbernoulli commented on #725
Yes, this happens when I use the explorer, too ):

[2019-07-23 20:22] busunkim96 commented on #725
I'll have to direct you to[Drive Support](https://developers.google.com/drive/api/v3/support) for this, as we don't manage the backend for the API.

We'd appreciate it if you could link the issue you end up opening for any folks who find this in the future.

Thanks!

[2019-07-23 20:22] #725 closed

[2019-07-24 16:08] MaT1g3R opened #726 "google-api-python-client does not honor `no_proxy` environment variable"
#### Environment details

  - OS: Ubuntu 18.04
  - Python version: 3.6.8
  - pip version: 19.1.1
  - `google-api-python-client` version: 1.7.9

#### Steps to reproduce

We have a squid proxy running; The squid is not able to talk to google apis/metadata server.

[code]

We expect the `no_proxy` env var is honored.
This is an issue with [httplib2](https://github.com/httplib2/httplib2), we've alread

[2019-07-24 21:20] #720 closed

[2019-07-26 08:49] alvarogomezuria commented on #571
This is still reproducible. Any workaround available?

[2019-07-26 17:10] busunkim96 commented on #571
@alvarogomezuria You can avoid this by talking to the REST API directly. See https://b.corp.google.com/issues/35353754#comment7

[2019-07-26 23:05] busunkim96 commented on #441
This appears to have been resolved. I do not have access to Doubleclick, but have verified that the server is parsing the body with the sample below.

[code]

Exception:
[code]

----
**Reference**:
* [Library Reference Documentation](http://googleapis.github.io/google-api-python-client/docs/dyn/doubleclicksearch_v2.reports.html#request)
* [Discovery document](https://www.googleapis.com/discovery/v

[2019-07-26 23:05] #441 closed

[2019-07-26 23:31] busunkim96 commented on #435
@berill, you should only have to call `discovery.build()` once. Please store the service object and reuse it for all your requests. `discovery.build` is an expensive request as it fetches the whole discovery document (describing the API).

@berill @4r13 Would either of you remember what type of credentials you were using, or anything else unique about the environment?

It looks like both of you us

[2019-07-26 23:35] busunkim96 commented on #586
See #588.

[2019-07-27 16:03] temoto commented on #726
Hello. Sorry, the problem was caused by my bad code. Fix is merged in httplib2 master.

[2019-07-28 11:44] temoto commented on #726
And now it's released as 0.13.1 on PyPI. Sorry for inconvenience.

[2019-07-29 06:14] alvarogomezuria commented on #571
Thanks for the heads up!
Rather not to talk to the REST API directly. I'll keep an eye here! Hopefully it will be resolved soon

[2019-07-29 13:53] theflu opened #728 "ImportError: cannot import name 'build' from 'googleapiclient.discovery'"
Following the quickstart I get the following errors in new virtual environment.
https://developers.google.com/gmail/api/quickstart/python

Python version: 3.7.4
Windows 10
google-api-python-client-1.7.10
google-auth-httplib2-0.0.3
google-auth-oauthlib-0.4.0

[code]

[2019-07-29 13:56] #728 closed

[2019-07-29 13:58] theflu commented on #728
Naming my script email.py was interfering with pythons built in email module.

[2019-07-29 17:14] busunkim96 commented on #726
@temoto Thank you for the quick fix!

[2019-07-29 17:14] #726 closed

[2019-07-29 18:01] temoto commented on #726
Just to be clear: @MaT1g3R did all the work.

[2019-07-29 18:15] busunkim96 commented on #726
Thank you @MaT1g3R! :tada:

[2019-07-30 18:38] JustinBeckwith opened #729 "Ensure client is reporting Python version"
We should ensure that the version of Python being used is properly reported in the user agent for all requests.  Specifically we want to measure how much Python 2.7 vs 3.x usage we have.  This very well may already exist, but figured we should check to be sure :)

[2019-07-31 08:31] shangbin1983 opened #730 "Connecting to Google Analytics API using Python3.7"
Thanks for stopping by to let us know something could be better!

my code bellow
[code]
If you are still having issues, please be sure to include as much information as possible:

#### Environment details

  - OS:win10 64X
  - Python version:3.7
  - pip version:19.2.1
  - `google-api-python-client` version:

#### Steps to reproduce

  1. run the demo code
  2. Open the browser to complete authoriz

[2019-07-31 16:25] busunkim96 commented on #730
Hi @shangbin1983

It sounds like you're having an issue with oauth2client.

We generally recommend using our newer auth library google-auth. Here is some basic code for running the auth flow with [google-auth](https://google-auth.readthedocs.io/en/latest/) and [google-auth-oauthlib](https://google-auth-oauthlib.readthedocs.io/en/latest/reference/google_auth_oauthlib.flow.html).

If that isn't an o

[2019-07-31 16:27] busunkim96 opened #731 "Update samples to use google-auth, google-auth-oauthlib"
Most of the samples and docs still use oauth2client, which is deprecated. They should use google-auth and google-auth-oauthlib. The [Google Docs sample](https://github.com/gsuitedevs/python-samples/blob/master/docs/quickstart/quickstart.py) is a good example.

[2019-07-31 20:59] #730 closed

[2019-08-01 03:22] shangbin1983 commented on #730
hi,
oauth2client version is oauth2client 4.1.3

[2019-08-01 11:56] thedataboi opened #732 "TypeError: unsupported format string passed to bytes.__format__"
Hello, this is the first time I've ever reported a bug on github. Sorry if I'm not following appropriate etiquette in this post.

I've had an issues with the following script [search_analytics_api_sample.py](https://github.com/googleapis/google-api-python-client/blob/master/samples/searchconsole/search_analytics_api_sample.py).  The error I was getting is as below:
[code]

I managed to find a fix

[2019-08-01 16:31] busunkim96 commented on #730
@shangbin1983 please try using the sample I provided above if you haven't already. Thanks!

[2019-08-01 16:38] busunkim96 commented on #732
Hi @thedataboi, thank you for filing an issue! Would you mind opening a PR with the fix?

[2019-08-01 20:48] bob0the0mighty commented on #635
The documentation says it's possible, but there doesn't appear to be any supporting source.

[2019-08-01 21:03] busunkim96 commented on #635
@bob0the0mighty Are you looking for a sample showing something in particular?

[2019-08-01 21:14] bob0the0mighty commented on #635
I didn't realize it works when calling as the documentation states.

[2019-08-01 21:16] busunkim96 commented on #635
Alright, please feel free to open another issue if the API isn't responding as expected. Thanks!

[2019-08-03 08:43] ilpersi commented on #632
I am getting the very same error when using Batch Request containing requests to the drive_service.files().copy().

After different tests, I've noticed that this depends on the size of the batch: if I run small batches (e.g., five calls at time), I don't get the issue.

For the moment, my work-around is to have a wrapper class around the BatchHttpRequest class that takes care of running the reques

[2019-08-03 14:11] hsyyid commented on #632
@ilpersi doesn't that defeat the point of a batch request? If the size of the request is related it should be handled on Google's side, or they should list any limitations to the size of batch requests in the docs

[2019-08-03 18:21] ilpersi commented on #632
@hsyyid I agree with you and in the I came to the same conclusion: my current program is not using batch requests anymore.

The size tip is a nice one as it makes it easier to reproduce this issue.

[2019-08-04 18:57] zigarn opened #733 ""Got an unexpected keyword argument" with valid argument"
#### Environment details

  - OS: Ubuntu
  - Python version: 3.7.3
  - pip version: 18.1
  - `google-api-python-client` version: 1.7.10

#### Steps to reproduce

[code]

Will generate this stacktrace:

[code]

The problem is that the Resources's methods are built from the description https://www.googleapis.com/discovery/v1/apis/photoslibrary/v1/rest (or https://photoslibrary.googleapis.com/$discov

[2019-08-05 08:32] alvarogomezuria commented on #571
Sorry to insist, but i'd like to know if there is any updates/anyone working on this.
Thanks in advance

[2019-08-05 18:19] busunkim96 commented on #632
@ilpersi Are you also experiencing this in the Cloud Functions environment?

[2019-08-05 21:29] ilpersi commented on #632
@busunkim96 No, I am running the code locally on my Windows laptop.

I saw that this very same issue is also happening, much less frequently, with normal calls (not batch) to the drive.files.copy end point.

[2019-08-05 22:30] busunkim96 commented on #733
Hello! The photos API is maintained separately. Here is their [support page](https://developers.google.com/photos/library/support/how-to-get-help). The Photos API has Java and PHP client libraries, but not one for Python. You can interact with the Photos REST API via `requests` in Python.

If a Python client library is of interest, please let the Photos team know in this issue.

[2019-08-05 22:32] #733 closed

[2019-08-05 22:34] busunkim96 commented on #647
Discovery docs now have maxSize=128GB

[2019-08-05 22:34] #647 closed

[2019-08-05 23:21] busunkim96 commented on #571
Hi @alvarogomezuria. If you have a support contract with Google, please reach out that way for faster resolution. I opened another issue internally to ask the Analytics team about their discovery document. I don't think it is something we can fix on the client library side, unfortunately.

Internal issue 138960059

[2019-08-06 03:24] 2legit commented on #635
Hi, can you let me know how I would be able to navigate from the CSE site, i.e. https://developers.google.com/custom-search/ to the page linked to above? I.e. https://developers.google.com/resources/api-libraries/documentation/customsearch/v1/python/latest/customsearch_v1.cse.siterestrict.html? I've gone through the former without ever comping across any mention of the latter. In this case it woul

[2019-08-06 17:18] busunkim96 commented on #635
@2legit Thank you for the feedback! We've moved around our documentation, so now it lives in this repo. This is roughly the path you'd follow to get from the  Custom Search API documentation to the reference documentation for Python.

* https://developers.google.com/custom-search/v1/libraries ("Libraries and Samples" on the left).
* this repository
* docs/README
* ref docs by API https://github.co

[2019-08-08 23:23] alvaroseparovich commented on #732
Hi @busunkim96 , there is the correction, I ran it here and is every thing OK :smiley:

[2019-08-09 17:03] gustavo-sdo opened #735 "get() method don't retrieve "externalIds" key"
Hey there, i'm trying to see the _'externalIds'_ key registered to my users, but this key is not returned by the get() method of the API...

Here's my code:
[code]
A dict is returned with some keys like _'kind'_, _'id'_, _'name'_, _'suspended'_... but not _'externalIds'_...
Is it a bug?
Is there another way to get this value?

I searched the web and found no solution to this issue.
I also don't se

[2019-08-09 18:11] busunkim96 commented on #735
Hi @gustavo-sdo! It looks like you have a question about the backend API. Please reach out to the [support channels](https://developers.google.com/admin-sdk/directory/support) for GSuite Admin SDK.

[2019-08-09 18:12] tseaver commented on #735
@gustavo-sdo the docs for [retrieving a user as a non-admin](https://developers.google.com/admin-sdk/directory/v1/guides/manage-users#retrieve_users_non_admin) suggest that some fields of the resource may be omitted from the response for non-admin users.  Is it possible that the credentials you are using don't have the appropriate scope for admin access?

[2019-08-09 21:55] #729 closed

[2019-08-12 11:17] malavancs commented on #453
Update the httplib2 to latest version. It will solve the problem.

[2019-08-12 21:45] busunkim96 commented on #735
@gustavo-sdo have you been able to look into whether or not your credentials have admin access?

[2019-08-12 21:52] busunkim96 commented on #732
Could you open a PR with the commit?

When you click "New pull request" on [this page](https://github.com/googleapis/google-api-python-client/pulls) it should bring up the option to merge the changes in  your fork to this repository.

Thank you!

[2019-08-12 22:07] busunkim96 commented on #645
Confirmed with the following (very short) example.

[code]

[code]

[2019-08-12 23:03] busunkim96 commented on #645
The error is getting hidden, but it looks like an issue with the customerId.

[code]

The documentation says this is an optional parameter, but perhaps this error is raised when the customerId cannot be inferred?

https://developers.google.com/admin-sdk/alertcenter/reference/rest/v1beta1/alerts/list

[2019-08-12 23:17] busunkim96 commented on #645
(The error field was getting swallowed. That should be resolved with #739)

It looks like normal 3-legged OAuth does not work with this API. There are instructions on how to set up the service account below. Would you recall if you did all the steps below @SolomonSHY?

https://developers.google.com/admin-sdk/alertcenter/guides/prerequisites#set-up-the-alert-center-api

[2019-08-12 23:25] busunkim96 commented on #646
The error message should have more details with #739.

[2019-08-12 23:40] busunkim96 commented on #627
It looks like gsutil is creating new threads, and they resolved this issue by calling `Random.atfork()` before they spawned a new process. gooogleapiclient does not spawn new processes.

Were you by chance using one `httplib2.Http()` object in multiple threads? Because `httplib2.Http() `objects are not thread safe, each thread must make requests from its own instance of `httplib2.Http()`. Here is

[2019-08-12 23:40] #627 closed

[2019-08-13 00:03] busunkim96 commented on #630
Are any of you folks still encountering this? Does it only occur with the OAuth2 API, or have you seen this happen with other APIs?

[2019-08-13 01:17] jay0lee opened #740 "Allow using max/min parameter values from discovery file"
API discovery files can publish a max/min value for integer parameters. For example, here's a section of the Admin SDK for users.list() maxResults parameter:

    "maxResults": {
           "type": "integer",
           "description": "Maximum number of results to return. Default is 100. Max allowed is 500",
           "format": "int32",
           "minimum": "1",
           "maximum": "500",

[2019-08-13 13:39] gustavo-sdo commented on #735
Hi @busunkim96 @tseaver, thanks for your attention...
I asked our infra guy to test using an admin user and he said this specific key (_externalIds_) doesn't returned to him too :/

I also checked through the [Try this API](https://developers.google.com/admin-sdk/directory/v1/reference/users/get) section in web documentation and there I am not successful either. So I think this is not a problem wi

[2019-08-13 16:44] jay0lee commented on #740
FYI here's a sample script that demonstrates ability to set maxResults="maximum". It only needs an API key that has Youtube API enabled.

[test.py.txt](https://github.com/googleapis/google-api-python-client/files/3498007/test.py.txt)

[2019-08-13 16:58] busunkim96 commented on #735
That's unfortunate. Do you know if any other admin-only keys are missing?

Has the service account has been delegated domain-wide authority? There are instructions on this page.
https://developers.google.com/admin-sdk/directory/v1/guides/delegation

If that does not work, please file an issue on the [Directory API issue tracker](https://issuetracker.google.com/issues/new?component=191635&template=

[2019-08-13 17:52] gustavo-sdo commented on #735
This is the list of all keys returned by api:
['kind', 'id', 'etag', 'primaryEmail', 'name', 'isAdmin', 'isDelegatedAdmin', 'lastLoginTime', 'creationTime', 'agreedToTerms', 'suspended', 'archived', 'changePasswordAtNextLogin', 'ipWhitelisted', 'emails', 'customerId', 'orgUnitPath', 'isMailboxSetup', 'isEnrolledIn2Sv', 'isEnforcedIn2Sv', 'includeInGlobalAddressList']

Of the fields I use to create

[2019-08-13 17:52] #735 closed

[2019-08-13 17:57] alvaroseparovich commented on #732
I'm sorry man
The Pull Request is here #742

[2019-08-13 22:23] asiunov opened #743 "Signature mismatch on get_media for dfareporting"
#### Environment details

  - OS: macOS 10.14.4, linux
  - Python version: 3.7.4
  - pip version: 19.0.3
  - `google-api-python-client` version: 1.7.11

#### Steps to reproduce

Sorry, I cannot share the whole code, but the main idea is:
[code]

I'm getting this error:
[code]

I've tested the same code with version 1.7.10, and it works. I think this may be a regression introduced here, but I'm not

[2019-08-13 22:34] busunkim96 commented on #743
@asiunov Is it possible to know which service you're using?
[code]

[2019-08-13 22:35] asiunov commented on #743
`dfareporting`

[2019-08-13 23:11] asiunov commented on #743
just in case someone needs a workaround, try to downgrade the lib:
[code]

[2019-08-13 23:43] busunkim96 commented on #743
I tested a `.get_media` on the Drive API, as I don't have Campaign Manager set up.

I uploaded a .txt to Drive and downloaded it. I did not see the error above. :thinking:  There may be something different about the DFA Reporting API. I will do some more investigation and get back to you.

[code]

[2019-08-14 00:03] busunkim96 commented on #743
The DFA Reporting backend cannot correctly process requests sent with the X-Goog-Api-Client header. Internal Issue 127940526.

As a workaround, please use continue to use the previous library version. Thanks for reporting this @asiunov!

[2019-08-14 00:24] asiunov commented on #743
@busunkim96 👍
Thank you!

[2019-08-15 05:45] stephen-a2z opened #744 "a typo in the document"
Thanks for stopping by to let us know something could be better!

**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

Please run down the following list and make sure you've tried the usual "quick fixes":

  - Search the issues already opened

[2019-08-15 08:35] tseaver commented on #744
Thanks for the report!

[2019-08-15 16:56] #744 closed

[2019-08-16 08:13] testuser012019 opened #747 "'labelIds' and 'q' (query string) is not honored in Users.messages: list"
Folder and query parameters are ignored for list request (https://developers.google.com/gmail/api/v1/reference/users/messages/list)

Sample code:
response = service.users().messages().list(labelIds=['INBOX'], userId = 'me', q = 'subject:Quote', pageToken = page_token).execute()

OS: Linux (Ubuntu 18), WIdnows 10
Python: 2.7, 3.7.3
Pip: 19.0.3, 19.2.2
google-api-python-client:  1.7.11

Expected to

[2019-08-16 08:17] testuser012019 commented on #747
The same problem for other libraries:
https://github.com/googleapis/google-api-nodejs-client/issues/469
https://github.com/googleapis/google-api-nodejs-client/issues/978

[2019-08-16 09:48] #747 closed

[2019-08-16 20:03] joaopgom opened #748 "Returning 403 when i try to reply some users reviews"
Hi,

The API is returning an error "Forbbiden 403" when i try reply some reviews from google play, apparently i can't reply some users.
The users can block the developers to not get a reply? There's an another reason for this errors for especific reviews?

[2019-08-16 20:10] busunkim96 commented on #748
@joaopgom Could you let us know which API you are using? A code sample would also be very helpful in diagnosing the issue. If you are getting a 403, it sounds like the credentials you have do not have sufficient permissions.

Questions about the Google Play Developer API are best directed to the [Google Play developer support](https://support.google.com/googleplay/android-developer/answer/7218994?

[2019-08-16 20:33] joaopgom commented on #748
@busunkim96 i'm doing basicly this:

`from googleapiclient.discovery import build`
`service = build('androidpublisher', 'v3', credentials=my_credentials)`
`result = service.reviews().reply(packageName=my_package_name, reviewId=my_review_id, body={'replyText': reply_text}).execute()`

I'm replying all reviews the same way, same credentials are past, but almost 5% of my reviews i can't, cause im get

[2019-08-16 21:36] busunkim96 commented on #748
Hiya, that sounds like a backend error.

Please reach out to [Google Play developer support](https://support.google.com/googleplay/android-developer/answer/7218994?hl=en). They have [chat support](https://support.google.com/googleplay/android-developer/contact/pre_chat_survey?cfnti=escalationflow.chat&cft=1) M-F and [email support ](https://support.google.com/googleplay/android-developer/contact/p

[2019-08-16 21:36] #748 closed

[2019-08-18 13:36] youmee opened #749 "How to enable Etag caching support?"
Hello. I just can't realise how to use ETags in requests with this library?

How to pass ETag to `request.execute()` stage or somewhere else.

I want to rid of repetitive requests and save my API quota.

[2019-08-19 16:39] busunkim96 commented on #749
Hi @youmee. You can pass additional headers to the request object.

https://github.com/googleapis/google-api-python-client/blob/0ba1ca4435aab90bea35a155a2875fa0842b8023/googleapiclient/http.py#L753-L775

[2019-08-20 16:38] #749 closed

[2019-08-23 20:33] castnow123 opened #751 "googleapiclient.errors.HttpError: <HttpError 403 when requesting https://www.googleapis.com/content/v2/accounts/authinfo?alt=json returned "Insufficient Permission">"
Hi

I tried for several days to establish a Content API connection via Python for Google Shopping but I am getting permission denied. I have been advised to post the issue here as it seems to be library specific.

1- I set up a special directory to dumpy two json files. /home/castnow2019_gmail_com/shopping-samples/content. I dumped 2 JSONs files:
client-secrets.json  merchant-info.json

2- Created

[2019-08-23 20:54] busunkim96 commented on #751
It sounds like the credentials you are using don't have sufficient permission. Would you be able to provide a code sample?

[2019-08-23 21:00] castnow123 commented on #751
Sure..you mean Python sample code? it is here: https://github.com/googleads/googleads-shopping-samples/tree/master/python

The client-secret.json file gets created automatically by going to this link: https://console.developers.google.com/apis/credentials

[2019-08-24 00:50] busunkim96 commented on #751
@castnow123 Which sample file specifically are you running?

It looks like you are using python 2.7. Do you know which version of the client library you are using?

In addition, please review the instructions [here](https://developers.google.com/shopping-content/v2/how-tos/authorizing) and [here](https://developers.google.com/shopping-content/v2/how-tos/service-accounts) and confirm that you've fo