[2016-11-11 08:54] JulienGenoud commented on #227
ok thanks

[2016-11-14 16:08] asergi opened #307 "PyPI tarball has wrong permissions"
The tarball available on PyPI for version 1.5.5 have all files permissions set to 640 and directories to 750, not allowing them to be read by a non privileged user.
[code]

[2016-11-14 18:18] znorris opened #308 "Version management in Cloud SDK"
I started using the google-api-python-client in Google Cloud SDK, as the app-engine-python component, It appears they're using version `1.0beta7`. That's the version named in the setup.py in their `google-api-python-client` folder.
Is it possible to get them to update? If not, has anyone run into this before and have a workaround?

[2016-11-14 18:29] jonparrott commented on #308
You'll have to file a bug on their public issuer tracker here: https://code.google.com/p/google-cloud-sdk/issues

[2016-11-14 18:29] #308 closed

[2016-11-14 19:52] jntkflow commented on #218
@jonparrott Any timeline on this replacement endeavor? It seems like a great idea and this bug is truly annoying.

[2016-11-14 20:00] ttv20 opened #309 "Upload progress (resumable) on Drive API v3"
I tried to do a resumable upload (with progress report) on Drive API v3 according this guide: [https://developers.google.com/api-client-library/python/guide/media_upload](url)
The guide use Drive API v2 references, but I change this to v3 references
I tried unsuccessfully to do that repeatedly, until I found out the way:
[code]

insted:
[code]

Can you explain me why I had to add this to the code?

[2016-11-14 20:00] jonparrott commented on #218
@jntkflow early next year at the earliest. I recommend using httplib2shim in the meantime.

[2016-11-16 09:46] PritishC opened #310 ""requestMask.includeField" parameter not accepted on People API v1"
**Background**: For some reason, Google's People API does not return email addresses on a plain request to `https://people.googleapis.com/v1/people/me/connections`. According to [this SO thread](http://stackoverflow.com/a/36466702/2842216), we can retrieve the exact fields that we want using the `requestMask.includeFields` request param.

I tried the following code -:

    results = people_service

[2016-11-16 09:52] PritishC commented on #310
I did a bit of digging, and found that L#706 of `discovery.py` performs a map check for all the keyword arguments provided to `list()`.

This `argmap` maps `requestMask_includeField` to `requestMask.includeField`. My bad.

[2016-11-16 09:52] #310 closed

[2016-11-17 13:08] day-aaron commented on #227
I'm throwing in +1 for the api.

[2016-11-24 10:20] saxsir opened #311 "ad-exchange seller api client cound not filter with multiple fields?"
Sample code(python) is below.

    result = service.accounts().reports().generate(
            accountId='myaccount',
            startDate='today-1d', endDate='today',
            metric=['AD_REQUESTS'],
            dimension=['DATE', 'AD_TAG_CODE', 'DFP_AD_UNIT_ID', 'WINNING_BID_RULE_NAME'],
            filter="DFP_AD_UNIT_ID==10000000,AD_TAG_CODE==999999999"],
            maxResults=100).execut

[2016-11-28 18:22] smartfin opened #313 "Authorization for Content API for Shopping"
Hi.

I'm trying to build script, that would every 24 hours pull data from Content API for Shopping and update some tables on own server.

But I faced up with auth problem.
I moved through steps in guide, created client id, and even recieved refresh token via `--noauth_local_webserver` option.

But this token became invalid in few hours and require client to interact with app again.

I have same sc

[2016-11-28 19:01] jonparrott commented on #313
This seems like more of an issue for oauth2client, but we're also the maintainers of that library.

There are two token you can acquire with OAuth 2: an access token which is short lived (1 hour) and a refresh token that can be used to acquire a new access token without prompting the user.

Can you share the code you're using to do authentication? It's likely you just need to add another parameter

[2016-11-28 19:09] Pomax opened #314 "missing requirements.txt"
This example repo is missing the requirements.txt (which you can get from `pip freeze > requirements.txt` that tells us what needs to be installed

[2016-11-29 21:05] smartfin commented on #313
Thanks for your response.

Basically, I'm reproducing it on examples from [https://github.com/smartfin/googleads-shopping-samples/tree/master/python](https://github.com/smartfin/googleads-shopping-samples/tree/master/python)

I cloned repository and created `content-oauth2.json` with credentials.

After first use `products_list.py` I got link to navigate via browser and get refresh token. After th

[2016-11-30 02:34] Sasoon commented on #227
Another +1 for the api

[2016-12-02 02:24] gnumoksha commented on #227
+1

[2016-12-03 22:36] sr-murthy commented on #153
Oh god, this was a long time ago. I'm not able to recall 100% but I think it was that `convert=convert_to_Google_Sheets` argument, i.e. had to remove it.

[2016-12-03 22:36] #153 closed

[2016-12-06 10:05] JohnGale87 commented on #153
For anybody else reviewing this I can confirm that it was the convert flag. Conversion is still possible, but you need to do something like this...

convert = True
original_mimetype = 'text/csv'
body_mimetype = 'application/vnd.google-apps.spreadsheet' if convert else original_mimetype

file_meta = {'name': 'test.csv', 'mimeType': **body_mimetype**, 'parents': [{'id': myfolder_key}]}
chunk_size =

[2016-12-06 11:23] sr-murthy commented on #153
Thanks.

[2016-12-08 19:24] dsoprea commented on #299
Are we sure that this is that simple? I have a project that I'm getting reports of seizing/crashing/weirdness with and I'm seeing these *all over* the log (no other issues):

[code]

These are **ImportErrors**, not just mere log verbosity. Thoughts?

[2016-12-08 19:35] dsoprea commented on #299
It's worth mentioning that my version reference to *google-api-python-client* hasn't changed in over 2.5 years. I can't fathom why I haven't seen this error before and why it appears to be an issue now. But, it *does* appear to be an exception which must be disrupting *something* whether it's specifically related to my user's issue or something silent from the logs is responsible for that.

[2016-12-08 19:39] jonparrott commented on #299
@dsoprea if you silence the logs as above, do you still see the stacktrace?

[2016-12-08 20:01] dsoprea commented on #299
@jonparrott I've asked. Thanks.

[2016-12-09 14:32] yaitskov commented on #207
Looks like the same problem is with encryption headers

def setKeyHeaders(req, aes256KeyHash, aes256Key):
    req.headers['x-goog-encryption-algorithm'] = 'AES256'
    req.headers['x-goog-encryption-key'] = aes256Key
    req.headers['x-goog-encryption-key-sha256'] = aes256KeyHash

[2016-12-10 05:19] impredicative commented on #233
If 3.5 is supported, why is it not listed under Categories at https://pypi.python.org/pypi/google-api-python-client/ ?

[2016-12-14 02:39] griffin2000 opened #315 "Warning generated if MediaFileUpload ctor has extra arguments"
MediaFileUpload ctor takes the optional parameters resumable and chunksize but if any of them are used a weird warning is generated.  It appears to do the right thing regardless of the warning, though.

E.g. this code:
[code]
Will generate this warning (I guess an error that is being stomped?):
__init__() takes at most 2 positional arguments (3 given)

This is python 3.5.1 on Windows 8.1

[2016-12-14 14:42] prakashkumar-git commented on #313
I am also facing the same issue
The credentials have been revoked or expired, please re-run the application to re-authorize

Help please

[2016-12-14 17:46] jonparrott commented on #313
@smartfin @prakashkumar-git  it's difficult to know what's going on because there's a lot of code in those samples. You could try reaching out to smartfin on that github repo and seeing if their auth code is perhaps preventing the refresh cycle from working?

[2016-12-14 19:08] prakashkumar-git commented on #313
Hi  jon , i have try to debug,
the problem is at L66,

https://github.com/smartfin/googleads-shopping-samples/blob/master/python/auth.py#L66
`    if credentials is not None and not credentials.invalid:
      return credentials`

This part stop working, so each time i have comment and comment it .

If possible, Kindly review that why **credentials.invalid** is not doing what is suppose to do.

For

[2016-12-19 17:22] Chris-May opened #318 "googleapiclient has no attribute discovery"
It seems this is a common problem, but none of the suggestions I've read so far resolve this for me.

I've ran `pip install google-api-python-client` in virtualenvs with python 2.7.11, 2.7.12, and 3.5.2

In python consoles in every version, I can't get anything to find the discovery module.

### Via `apiclient`:
[code]

### Via `googleapiclient`
[code]

Running a script in PyCharm's debug mode, th

[2016-12-19 17:24] jonparrott commented on #318
You should probably do:

[code]

[2016-12-19 18:52] Chris-May commented on #318
Pretty much the same story.
[code]

[2016-12-19 18:55] jonparrott commented on #318
@Chris-May it seems you have a file named `calendar.py` that's aliasing the standard-library `calendar` module which is causing a circular import.

I'd recommend renaming `calendar.py` to something else or maybe seein gif `from __future__ import absolute_import` helps.

[2016-12-19 18:55] #318 closed

[2016-12-19 20:30] Chris-May commented on #318
Here's another wrinkle: I downloading the source code from https://pypi.python.org/pypi/google-api-python-client/#downloads into a new 2.7 virtualenv and ran `python setup.py install`.

When it finished, I opened a REPL session, and was able to import `build` from `apiclient.discovery`. Convinced this solved the problem, I edited my script and ran it from the command line. Unfortunately, the error

[2016-12-19 20:32] Chris-May commented on #318
@jonparrott Thanks! I didn't get notified about your comment. That's exactly the problem. Thanks!!!

[2016-12-19 20:32] jonparrott commented on #318
@Chris-May glad we could get it figured out. :)

[2016-12-21 10:28] wizravi commented on #50
Can anyone please answer this question

[2016-12-21 22:06] jonparrott commented on #50
This library does have any provisions for making asynchronous requests.

[2016-12-21 22:06] #50 closed

[2016-12-22 19:56] xmedeko commented on #299
I'm apologize to comment on closed issue, but is there any performance penalty when the file_cache is not used with oauth2client 4.0.0? I.e. should I keep the oauth2client 3.0.0 or may I safely upgrade and ignore the warning? Thanks.

[2016-12-22 23:45] maxrp commented on #299
It seems to be the better way to silence this error, if one does not care about the cache, is to simply specify cache_discovery=False when performing discovery.build() -- this avoids the broken code path.

[2016-12-29 17:09] fazerlicourice7 commented on #93
@cjerdonek You, are A SAVIOR!!!! Thank you so much!

[2017-01-02 00:45] kamii1000 opened #321 "Youtube rate API does not increase like/dislike counter"
I'm trying to like a video on user's behalf but got stuck in increment of like counter.
Like/Dislike counter is not updating. When a video is rated by api request, I get 200 response which means success according to docs. Also, video is available in user's Liked playlist and the like icon is blue on video but the like/dislike counter does not increase. I've waited for 2 days but the counter is sti

[2017-01-02 22:15] giovannicandido opened #322 "UnknowFileType for android apk file"
I'm trying to upload a android apk file.

The exception below is throw:

[code]

The code:

[code]

In file: https://github.com/google/google-api-python-client/blob/master/googleapiclient/discovery.py

Use **mimetypes.guess_type** function. The source code for the function: https://github.com/python-git/python/blob/master/Lib/mimetypes.py

Does not recognize .apk files

[2017-01-03 00:21] giovannicandido commented on #322
Work around:

[code]

Should that be default in this library?

[2017-01-03 14:40] SJonny95 opened #323 "httplib2.sslhandshakerror"
have tried everything I can find to get this to work...

I'm working on a project for my school with Google Vision Api on Raspberry Pi. The python code is:

import argparse
import base64
import picamera

from googleapiclient import discovery
from oauth2client.client import GoogleCredentials
from googleapiclient.discovery import build

def main():

    """Run a label request on a single image"""

[2017-01-03 17:54] jonparrott commented on #323
This error means that httplib2 is unable to verify the certificate for the API you're trying to talk to.

Make sure your OS has an up-to-date version of OpenSSL, or potentially disable certificate verification (highly discouraged).

[2017-01-03 17:54] #323 closed

[2017-01-06 03:20] ShadowLNC commented on #164
## By Design: Line Folding ([RFC2822](https://www.ietf.org/rfc/rfc2822.txt)) (Unrecognised by server)
I've found that this line-folding is by design (for lines with length >78), thanks to this [StackOverflow Question](https://stackoverflow.com/questions/9267848/unwanted-line-break-in-email-header-when-using-email-mime).

This ordinarily would not be an issue, but for the Content-ID header, it cont

[2017-01-06 06:14] #46 closed

[2017-01-08 22:14] xmedeko opened #325 "File caching for the oauth2client >= 4.0.0"
@tmatsuo proposed in #110 to cache ``discovery.build()``, however, #294 has stopped using cache outside of the GAE (appengine) environment (see also #299). E.g. the ``discovery.build()`` is not cached in the CGE environment. Is it possible to bring the file caching back, or provide some example of file cache (subclass of ``googleapiclient.discovery_cache.Cache``)?

[2017-01-09 19:55] jonparrott commented on #325
Sure, mostly what needs to happen is that the current file cache needs to
be updated to not use oauth2client's locked file.

On Sun, Jan 8, 2017, 2:14 PM Ondrej Medek <notifications@github.com> wrote:

[2017-01-11 17:32] andrewbrinck opened #326 "search_analytics_api_sample.py fail to execute"
Hi,

Having trouble getting sample file to execute. I have installed all packages for GSC API. I have created a client_secrets.json and stored it with the search_analytics_api_sample.py file. When I run the command line for $python search_analytics_api_sample.py 'https://www.myurl.com/' '2016-12-01' '2016-12-30' (valid date ranges) I get the attached log.
[pyLogGSC.txt](https://github.com/google/g

[2017-01-11 17:33] andrewbrinck commented on #326
<<LOG START>>

`python : Traceback (most recent call last):
At line:1 char:1
+ python search_analytics_api_sample.py 'https://www.myurl.com/' '2 ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (Traceback (most recent call last)::String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError

  File "search_analyt

[2017-01-11 21:51] wwlian opened #327 "Crash while scoping credentials"
When googleapiclient._auth.with_scopes(...) gets called (e.g., as a consequence of calling googleapiclient.discovery.build(...)) in an environment with google-auth and google-auth-httplib2 installed, the following crash occurs:

This appears to be because googleapiclient._auth.with_scopes(...) attempts to test if the credentials object is an instance of google.auth.credentials.Credentials, but goo

[2017-01-11 22:38] #327 closed

[2017-01-16 14:06] diegojancic commented on #15
Same here. Still happening. I ended up doing `service.files().export(fileId=file_id, mimeType=mimeType).execute(http=http)` but it's not ideal since the response is not buffered. A solution would be appreciated!

For those wanting to use a `MediaIoBaseDownload`, I also did what I describe here: http://stackoverflow.com/a/41643652/72350, which basically works as always for most requests, and just g

[2017-01-18 17:44] ramkumar-sankar opened #331 "First call to GCP routes API hangs at times"
Use a service account.
Boot up a fully loaded system with lot of configurations.
Setup GCP handle
Invoke a GCP API (e.g routes list) - the API hangs

http = httplib2.Http()
credentials = GoogleCredentials.get_application_default()
    if http:
        gcp = GCP_discovery.build('compute', 'v1', credentials=credentials, httt
p=http)
    else:
        gcp = GCP_discovery.build('compute', 'v1', creden

[2017-01-18 18:11] jonparrott commented on #331
@ramkumar-sankar thanks for the bug report, there could be a hundred things causing this. We're adding a timeout in #320 that should mitigate this. Closing for now.

[2017-01-18 18:11] #331 closed

[2017-01-18 21:11] yinleon commented on #226
after 2017/01/05 I started getting this error
```TypeError: Parameter "resourceName" value "" does not match the pattern "^.+$"```
with a line that's been working for months....
```resource.media().download(resourceName="")```
This was fixed by adding a space between the quotes.

Any idea what happened? Can anyone re-create this issue?

[2017-01-19 15:53] sonus21 opened #332 "Accessing fit data using python api"
How can we access fit REST API using this client? I tried builder( "fit", "v1") but it fails.

 I tried using REST API but it didn't work as well, any plan to add fit v1 to this?

See http://stackoverflow.com/questions/41733466/accessing-google-fit-rest-api-using-python for error and question

[2017-01-19 17:55] jonparrott commented on #332
I recommend giving feedback directly in the Fit application if you want access to that API.

We just maintain the client library, not the APIs themselves.

[2017-01-19 17:55] #332 closed

[2017-01-19 17:57] sonus21 commented on #332
So you meant developer has to write feedback in your fit android app ?????

[2017-01-19 18:05] jonparrott commented on #332
Hmm, I may have misunderstood your request. We get a lot of bugs requesting a *new* API. I didn't realize we already have a fit API.

Looking at the [api explorer](https://developers.google.com/apis-explorer/#p/fitness/v1/) it seems you should do `googleapiclient.discovery.build('fitness', 'v1')`.

[2017-01-19 18:51] crunchex opened #333 "v1.6.1, Ubuntu 14.04, Python 2.7.6: Cannot import names under googleapiclient"
Hi, I've installed the google-api-python-client 1.6.1 on my Ubuntu 16.04 system (Python 2.7.12) with the following dependencies:

uritemplate == 3.0.0
six == 1.10.0
oauth2client == 4.0.0
httplib2 == 0.9.2

and everything works great. However, when I replicate this setup on Ubuntu 14.04 (Python 2.7.6), I can't seem to import any names under the top level module:

Python 2.7.6 (default, Jun 22 2015,

[2017-01-19 18:51] sonus21 commented on #332
You are right builder has to be build( 'fitness' , 'v1'),   how someone can use authentication token retrieved during authentication. I look at the drive example but it throws error invalid_grant (u'invalid_grant',). Can't find a way to solve this problem. You folks should consider updating a piece doc. If you want I can paste code here.

[2017-01-19 18:53] crunchex commented on #333
Looks like Github clobbered my interpreter output. Hopefully you can get the idea.

[2017-01-19 18:54] jonparrott commented on #332
@sonus21 I'd recommend following these docs: https://developers.google.com/identity/protocols/OAuth2WebServer

[2017-01-19 21:09] jonparrott commented on #333
@crunchex I'd highly recommend using virtualenv in any case.

But out of curiousity, could you do:

[code]

[2017-01-19 22:11] crunchex commented on #333
@jonparrott I'll have to revisit how virtualenv works.

Here's the output:

Python 2.7.6 (default, Jun 22 2015, 17:58:13)
[GCC 4.8.2] on linux2
Type "help", "copyright", "credits" or "license" for more information.

['/usr/local/lib/python2.7/dist-packages/googleapiclient']

[2017-01-20 14:23] ppfranco opened #334 "Calendar API: cannot insert event with endTimeUnspecified (allDay events?)"
In appengine with google-api-python-client the following code fails with

this is the code:

[code]

However, without any other variations, the following works:

[code]

If this results in a verifiable bug, i suggest - as a temporary measure - at least to substitute the 403 error with a 400 malformed request... I spent over two weeks looking into this ;-(

[2017-01-20 17:20] jonparrott commented on #334
@ppfranco It seems this is an issue with the API itself. We unfortunately do not maintain these APIs, just this client library. I'd recommend reporting through calendar's feedback or via stackoverflow.

[2017-01-20 17:20] #334 closed

[2017-01-22 11:19] voodoodror opened #335 "Queries returns 'rows' as response instead of real data"
Hi,

I have a python script that runs every 10 minute using latest google-api-python-client version (1.6.1).
I can't tell exactly when, but sometimes it just fails as it gets 'rows' as query result instead of real data (which should be just 1 row, USUALLY count query)

After checking with Google Cloud Platform Support and replicating the same problem from their side, it turns out that it's a bug i

[2017-01-22 11:44] alvarogomezuria commented on #335
I'm adding more info:

I've replicated the issue using the [getting_started.py](https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/bigquery/api/getting_started.py).

To do that, I've executed the same query several times. The error seems to indicate that there isn't rows to show but this is not the case as the job succeeded. Looking internally at the job ID everything looks goo

[2017-01-22 18:33] Schweigi commented on #325
Is there a known workaround in the meantime?

[2017-01-22 18:43] Schweigi commented on #325
I created a small workaround by using a in memory cache (see example below). Does anyone know if there should be a regular cache invalidation? Currently the memory cache is cleared on each deployment, I hope that's ok for the time being.

[code]

[2017-01-23 08:15] xmedeko commented on #325
AFAIK the Google production API should not change (the same version of API), so the you do not need to invalidate the cache. However, the [`discovery_cache/__init__.py`](https://github.com/google/google-api-python-client/blob/master/googleapiclient/discovery_cache/__init__.py) defines the limit `DISCOVERY_DOC_MAX_AGE`  as one day.

+1 for a neat, simple `MemoryCache`. IMO it's good when you have a

[2017-01-25 09:32] Jagdeepkumarboyat commented on #116
sudo python setup.py install

[2017-01-25 13:55] jakobholmelund opened #336 "BatchHttpRequest stopped working"
My service using BatchHttpRequest to call Prediction API 1.6 suddenly stopped working yesterday and can't seem to figure out what went wrong. It's been running nicely without a hickup for almost a year, i've updated the libraries every month with no problems. I can't really figure out who to blame, but i think you guys can at least help me out or point me in the right direction. The weird thing is

[2017-01-26 10:26] saaros commented on #283
I believe this is fixed in 94a539406fb18bf59861f64904d1f82b02659b61

[2017-01-26 10:41] dtheodor commented on #283
If this fix results in restarting the resumable upload from byte 0 then yes

[2017-01-26 16:12] jbaublitz opened #337 "Interest in synchronous call emulation against asynchronous APIs?"
I am interested in using this library instead of libcloud for a Google-specific project but have run into an issue with race conditions because of the implementation of the `.execute()` function for `HttpRequest`. There does not seem to be any way to emulate a synchronous call against an asynchronous API at the library level (poll the API in an `HttpRequest` instance function as opposed to in the

[2017-01-26 17:44] jonparrott commented on #337
I'm not sure what you mean here. We don't have any "asynchronous" APIs as far as I know. We have APIs that return operations which you can later poll and get the status of.

In general we're avoiding adding new features to this library unless there is a very strong case.

You might be interested in https://github.com/GoogleCloudPlatform/google-cloud-python if you're looking for a newer API client

[2017-01-26 17:44] #337 closed

[2017-01-26 17:44] jonparrott commented on #283
@dtheodor @saaros if either of you can confirm the fix, I'll close.

[2017-01-26 17:47] jonparrott commented on #336
@jakobholmelund 1.6.0 added support for the new google-auth library, can you try using that and see if it resolves your issue?

[2017-01-26 17:47] #116 closed

[2017-01-26 17:49] jonparrott commented on #335
Interesting, so there's nothing that consistently reproduces this error?

[2017-01-26 20:52] alvarogomezuria commented on #335
I'd say no.
As I said before, I was able to reproduce it executing the same query several times (with a minute in between). However I'm currently trying to hit it again using a similar query [1] (I don't have access to customer dataset anymore) but I am not able to do it. Even if I do something "dirty" like [2], I'm getting the correct result [3] 60 times.

[1] SELECT table_id FROM bigquery-public

[2017-01-26 20:54] jonparrott commented on #335
Is there anything this library should do? If not, can we close this?

[2017-01-26 21:06] alvarogomezuria commented on #335
At this point, I don't know.
The JOB ID at the moment of the failure looked good to me. And it wasn't possible to replicate it using the UI or bq command line.

We can close this. If Dror experiences this issue again, he can re-open it adding more info. Does it look good to you?

[2017-01-26 21:34] jonparrott commented on #335
Thanks, @alvarogomezuria.

[2017-01-26 21:34] #335 closed

[2017-01-27 13:26] jakobholmelund commented on #336
It worked !.. But i had to manually drop google_auth_httplib2.py in my project root and documentation is rather scarse.

`$ pip install google-auth-httlib2`

Does not work

[2017-01-27 17:49] jonparrott commented on #336
@jakobholmelund looks like there's a typo in the package description, should be `pip install google-auth-httplib2`.

Closing this issue.

[2017-01-27 17:49] #336 closed

[2017-01-29 16:24] cclauss opened #340 "The Travis instance for this repo needs to be upgraded"
The Travis instance has old versions of pip, Python 2, and Python 3.  It has no ability to test Python 3.5 and 3.6.  See https://github.com/google/google-api-python-client/pull/339

[2017-01-30 18:55] jonparrott commented on #340
Travis doesn't so much need to be updated as much as we just need to tell travis to provide us with newer interpreters. See https://github.com/google/google-api-python-client/pull/341

[2017-01-30 18:55] #340 closed

[2017-01-30 19:13] cclauss commented on #340
Well done!  Now I understand.

[2017-01-31 10:00] Drino opened #342 "Allow user to set user-agent for api queries"
Currently there is no way to set query user-agent when calling an API method. I want to add a parameter to re-write this field.

[2017-01-31 10:47] assafelovic opened #343 "AttributeError: 'module' object has no attribute 'DEFAULT_MAX_REDIRECTS'"
I've followed the basic Python Quickstart guide for using this api: https://developers.google.com/google-apps/calendar/quickstart/python

Everything went smoothly until running quickstart.py where I get this error:
[code]

I've tried reinstalling httplib2, upgrading and etc. Nothing works. Would appreciate any help thanks!

[2017-01-31 20:43] jonparrott commented on #342
@Drino can we get some context as to why this is needed? You can already set the user-agent at the http level and we have a default user agent set.

[2017-01-31 20:57] jonparrott commented on #343
@assafelovic can you give me the output of `pip freeze`?

[2017-01-31 20:58] jonparrott commented on #343
@assafelovic additionally the output of `python -c "import httplib2; print(httplib2.DEFAULT_MAX_REDIRECTS)"`

[2017-02-01 10:11] Drino commented on #342
You're right. It's not needed.

[2017-02-01 10:11] #342 closed

[2017-02-01 14:06] cisarpavel opened #345 "Can import google lib"
google-api-python-client==1.6.1
oauth2client==4.0.0

Usage based on google python api examples.
Ends with oauth closed issue ImportError: No module named locked_file https://github.com/google/oauth2client/issues/414

[code]

[2017-02-01 17:52] jonparrott commented on #345
@cisarpavel this should be a warning, not an application-stopping exception. What does your calling code look like?

[2017-02-02 09:35] cisarpavel commented on #345
Yeah, sorry, my bug. It's just warning. But I must say, that such chain of exceptions can be confusing in debug log.

[2017-02-02 09:35] #345 closed

[2017-02-07 16:09] jmgirven opened #346 "v1.6.1 HttpError 403 "Insufficient Permission""
I happened to try updating google-api-python-client from 1.5.5 to 1.6.1. It causes my YouTube Data API v3 code to always fail with a HttpError. An example to reproduce is:

    from apiclient.discovery import build
    DEVELOPER_KEY = "<Insert key>"
    youtube = build("youtube", "v3", developerKey=DEVELOPER_KEY)
    youtube.videos().list(id="xGG56MWgbOA", part="id").execute()

This returns a succ

[2017-02-07 16:50] jonparrott commented on #346
@jmgirven interesting. If you pass in `http=httplib2.Http()` to `build` does that fix the issue?

[2017-02-07 17:00] jmgirven commented on #346
It does, yep.

[2017-02-07 17:14] jonparrott commented on #346
Alright. I know what's going on.

We added support for application default credentials in 1.6.0. What's happening is that you're getting default OAuth credentials attached to your requests, but you shouldn't be because you specified an API key. I'll try to get a fix out soon, in the meantime specifying your own http should short-circuit the application default credentials logic.

[2017-02-08 18:13] #346 closed

[2017-02-09 23:26] nqzhang opened #349 "httplib.ResponseNotReady"
**Heads up!**

We appreciate any bug reports or other contributions, but please note that this issue
tracker is only for this client library. We do not maintain the APIs that this client
library talks to. If you have an issue or questions with how to use a particular API,
you may be better off posting on Stackoverflow under the `google-api` tag.

Thank you!

Traceback (most recent call last):
  Fi

[2017-02-10 00:01] #349 closed

[2017-02-10 06:36] mgilson opened #350 "`TypeError` when trying to issue `BatchHttpRequest` when service was built using application default credentials"
This issue is very similar to #211.  My team has an app-engine application that uses batch requests in the Gmail API.  After an upgrade of this client library, we started seeing failures:

[code]

Our usage of this client library looks like the following:

[code]

The `gmail_service` is cached at the application level to avoid needing to do an API call for each request (which is why it ends up wit

[2017-02-10 14:02] TimotheeJeannin commented on #235
Any updates on this issue ?

[2017-02-12 04:38] TheGU commented on #235
I think it already fix in #320.
May be this code
https://github.com/google/google-api-python-client/commit/2243529e68a76f5419b2ba62aae2efef5eba2d98#diff-84a6c030bfdfe3ce2eac14a3369e6114

[2017-02-13 17:29] jonparrott commented on #350
@mgilson thanks for this really detailed bug report. Are you willing to send a PR to fix this issue? If so, I'll be happy to review.

[2017-02-14 05:24] mgilson commented on #350
Sure, I can submit a PR.  I've got a patch ready [here](https://github.com/google/google-api-python-client/compare/master...mgilson:app-default-creds?expand=1), but I don't know anything about your test setup.  I tried downloading `tox` in my virtual environment (`pip install tox`) and running it, but I seem to be running into all sorts of errors when I run it.  The log file looks like this:

[cod

[2017-02-15 19:43] k-funk commented on #246
:(
gdata doesn't support python3: https://github.com/google/gdata-python-client/issues/29 and this library doesn't support any api to picasa/google photos.
Is there any python3 library to get photos, or one in the works?

[2017-02-16 06:20] samuscurious commented on #296
@jonparrott
[install_requires](https://github.com/google/google-api-python-client/blob/master/setup.py#L67) doesn't seem to show incompatibility with 4.0.0.

'oauth2client>=1.5.0,<5.0.0dev'
Wouldn't '4.0.0' fall under '<5.0.0dev'?

Thanks.

[2017-02-16 17:12] jonparrott commented on #296
@samuscurious sorry, I should've been more specific. This library is compatible with oauth2client 4.0.0, but the disk-based cache is not.

[2017-02-18 06:17] samuscurious commented on #296
@jonparrott Oh! Interestingly, the locked_file import issue went away for me after downgrading from 4.0.0. That apparently means the incompatibility part of the versions is true. Don't know what to say.

[2017-02-21 17:31] MaximilianR opened #353 "Printing rather than logging?"
It looks like the python client is printing in addition to logging, when querying from BigQuery? This makes controlling the output much harder, aside from being un-idiomatic.

Printing in white, logging in red:

![image](https://cloud.githubusercontent.com/assets/5635139/23176541/6028b884-f831-11e6-911a-48aa7741a4da.png)

[2017-02-22 14:47] NeoTheThird opened #354 "Youtube video uploads of files larger than 64 GB are refused"
The client refuses to upload files bigger than 64GB. Why is that? The Web interface accepts those files and the API should technically be able to handle it. I tried to replace lines 431 and 433 in `/googleapiclient/discovery.py` with `return int(9223372036854775807)` and it works, but this is just a hack of cause. Is there any reason why this limit should not be raised?

This issue was discovered

[2017-02-22 18:44] jonparrott commented on #354
The limit actually seems to come from the API itself, see https://github.com/google/google-api-python-client/blob/20af04d379e079b7a70fa493336307e11d6f50dd/googleapiclient/discovery.py#L546

@lukesneeringer any ideas?

[2017-02-22 18:46] jonparrott commented on #353
@MaximilianR I think those prints are from the sample code. What code are you running?

[2017-02-22 19:36] MaximilianR commented on #353
You're right, it's in pandas: https://github.com/pandas-dev/pandas/blob/master/pandas/io/gbq.py

Thanks for taking the time

[2017-02-22 19:36] #353 closed

[2017-02-25 21:49] jmcardon commented on #343
+1. Having the exact same issue

[2017-02-28 12:11] xxbinxx opened #355 "Very very old samples."
I am having trouble working with these samples. Please upgrade or provide for newer django versions and for python3 as well if possible.

[2017-02-28 13:19] jberthet opened #356 "Directory API and mail sender encoding"
Hello,

I have a issue with the Directory API and the resulting user record on Google's servers.

I use the API for user account provisioning. Every string sent to the API in the Python code is UTF-8 encoded.

The issue arise when a user try to use GMail service with his account. The name for the mail sender appears with fancy characters instead of accents, both on the web UI for sending the mail

[2017-02-28 18:07] michaelsafyan opened #357 "Change from 1.5.5 to 1.6.2 results in authentication failure."
We have some code that successfully talks to a Google API using v1.5.5 but breaks under v1.6.2 with the following error:

   "Request is missing required authentication credential. Expected OAuth 2 access token, login cookie or other valid authentication credential"

Our build statement looks like:

     return build(
         'monitoring',
         'v3',
         discoveryServiceUrl=discovery_url

[2017-02-28 18:09] jonparrott commented on #357
@michaelsafyan which API are you using that requires both a developer key and credentials?

[2017-02-28 18:09] jonparrott commented on #357
Oh, I see, monitoring. You can just leave out the developer key, the monitoring API does not use it.

[2017-02-28 18:11] michaelsafyan commented on #357
The developerKey is needed for visibility labels.

[2017-02-28 18:12] michaelsafyan commented on #357
Looking in more detail, it looks like the API key is needed on the discovery URL but not on subsequent API calls which only need the HTTP bearer token.

[2017-02-28 18:12] michaelsafyan commented on #357
We can workaround by dropping developerKey and manually appending the API key to the discovery URL (building the discovery URL ourselves rather than relying on the client library to construct the discovery URL), but it would be ideal if this worked correctly without that workaround.

[2017-02-28 18:15] michaelsafyan commented on #357
I should also add, on top of the above, that if both a developerKey and credentials object are supplied but only one of the two is applied, wouldn't credential make more sense? Typically credentials include more authority than a simple API key. It may also make sense to log a warning/error to make this condition easier to debug (it took about two days to figure out the issue was in the client libr

[2017-02-28 18:21] jonparrott commented on #357
Weird, developerKey should only be needed there for non-public (alpha/beta/EAP) APIs.

Yeah, absolutely. This is a bit tricky. :) I agree it should either apply both or error.

[2017-02-28 19:31] michaelsafyan commented on #357
Just to clarify, it is a non-public API (the Monitoring API includes both publicly released portions as well as portions that are restricted behind visibility labels). I'm currently working on a team that is iterating towards an EAP on one of these subsets of the API, and the code that broke is demo client code that uses only the external client library code to demo / test / verify the functioning

[2017-03-02 13:17] mhoffa commented on #93
@cjerdonek Thank you so much!

[2017-03-02 23:23] naoko opened #359 "What's the config body for accelerator (GPU)?"
I'm trying to attach "GPU". per [GCE Doc](https://cloud.google.com/compute/docs/gpus/add-gpus) I thought adding the following to the `body` might work but it doesn't seems to be.
[code]
Any advice would be appreciated.

Thank you

[2017-03-02 23:32] jonparrott commented on #359
This is a much better question for stackoverflow, sorry! We don't maintain the API services, just this client.

[2017-03-02 23:32] #359 closed

[2017-03-03 18:11] graingert opened #360 "aiohttp based asyncio client"
I'd like to use this in a Sanic service in our platfrom, however I'm having to use run_in_executor() to use this library without stalling the eventloop.

It would make life faster and easier if this library would also support asyncio.

[2017-03-06 18:13] jonparrott commented on #360
This is pretty unlikely to happen in this particular library- it's too encumbered by httplib2 and the burden of supporting 2.x it going to make it difficult.

It would be super interesting to see, though. :)

[2017-03-06 18:13] #360 closed

[2017-03-06 18:18] graingert commented on #360
@jonparrott it would be possible to support python 2.x and python 3.x at the same time by using a custom deferred, future or IOAction implementation.

[2017-03-06 18:23] jonparrott commented on #360
@graingert yeah but at that point we'd have a completely different library.

[2017-03-06 18:24] graingert commented on #360
I don't think it would be that different, a lot of the api classes just transform data without performing further IO.

[2017-03-06 18:32] jonparrott commented on #360
It's still a lot more than I think this library could take, and a major version bump would cause lots of issues. We went through this exercise with oauth2client and ended up just needing to write a new library altogether. This library is really old, has a lot of old idioms, and is very tied to the way its http library does things. It's just not something we can commit any time to here.

We're larg

[2017-03-06 18:35] graingert commented on #360
@jonparrott https://github.com/GoogleCloudPlatform/google-cloud-python/issues/3103

[2017-03-09 14:35] afzalSH opened #361 "google endpoints service client built with apiclient.discovery.build always assigned default port 8080 when running locally."
The issue exists only when running locally and we found a hack around with the help of google.appengine.api.app_identity.app_identity.

    service = build(api, version, discoveryServiceUrl=discovery_url, credentials=credentials)
    if(hostname.startswith('localhost:')):
        port_to_replace = app_identity.get_default_version_hostname().split(":")[1]
        service._baseUrl = service._baseUrl

[2017-03-10 00:12] CrawFishFiesta opened #362 "Can't import googleapiclient on python 2.7"
Hello,

I'm using python 2.7 on windows 7 and installed the googleapiclient using the command below:

'pip2 install google-api-python-client'

I tried importing the google api client, but I get the error below:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ImportError: No module named googleapiclient

Thanks.

**Heads up!**

We appreciate any bug reports or other contri

[2017-03-10 18:21] jonparrott commented on #361
Can you share the generated discovery doc?

[2017-03-10 20:08] jbaublitz commented on #337
@jonparrott I'm sorry to post on a closed issue but this is related.

Just to clarify, I am not referring to asynchronous at the HTTP level. The Google APIs seem to be synchronous in terms of HTTP requests but the calls in `google-api-python-client` do indeed seem to be asynchronous as they do not wait for the cloud operation such as network creation to be completed.

[2017-03-10 22:44] CrawFishFiesta commented on #362
Nevermind, I was pip installing the googleapiclient into the directory.

Thanks.

[2017-03-10 22:44] #362 closed

[2017-03-12 14:15] azamouchi commented on #9
Same problem for me when using Drive, i want to check if the download_url match an existing audio file before i start to download, i've tried to make a HEAD request to check that the content-type value correspond to (audio/mpeg), and i still  get this 503 status code.

Any news ?

[2017-03-14 13:33] ChillarAnand opened #366 "API to accessing activity data?"
There are few APIs exposed by google to check historical data [like](https://myactivity.google.com/delete?bulkdelete=1&bulkdelta=1489516199999999&log=all) [these](https://myactivity.google.com/myactivity). Can python client support this?

[2017-03-15 05:16] nekketsuuu opened #367 "Dead link in README.md"
A link for WebTest in [README.md](https://github.com/google/google-api-python-client/blob/12751ca8bf2f72a6a4d240a0115b89308af6efe0/README.md) is broken.  According to [InternetArchive](http://web.archive.org/web/20160801000000*/http://pythonpaste.org/webtest/), it has redirected to [here](http://webtest.pythonpaste.org/en/latest/index.html).

How about changing the URI to [here](https://pypi.pytho

[2017-03-15 06:28] kimdwkimdw opened #368 "Consider to change httplib2 to requests"
[Status]
Currently using "google-api-python-client" with G Suite Admin SDK.
Need support for HTTP_PROXY, HTTPS_PROXY.

"httplib2" doesn't fully support Python3.
ex) https://github.com/httplib2/httplib2/blob/master/python2/httplib2/__init__.py#L904-L919
https://github.com/httplib2/httplib2/blob/master/python3/httplib2/__init__.py#L821-L822

How about considering changing library from httplib2 to re

[2017-03-15 16:20] jonparrott commented on #368
@kimdwkimdw we would love to, but the problem is that httplib2 is just so deeply entrenched in this codebase that it's practically impossible without breaking the interface in ways that would greatly upset our existing users. This is a lesson hard-learned when we tried to do the same thing to oauth2client (which shares the same lineage), which is why we ended up creating a new library (google-auth

[2017-03-15 16:20] #368 closed

[2017-03-17 03:56] amamaenko opened #369 "ZeroDivisionError when calling 'MediaDownloadProgress.progress'"
**Steps to Reproduce**

Have an empty Google Sheets file, and obtain it's id

Then the following code will fail with the ZeroDivisionError

[code]

**Explanation**
The reason is that empty file will return empty 'content-range' header. So in the `MediaIoBaseDownload.next_chunk()` the `self._total_size` will be set to 0.
Further down the line, the method `MediaDownloadProgress.progress' has these l

[2017-03-17 08:31] kimdwkimdw commented on #368
@jonparrott thanks for summarizing the options. The lesson is very impressive.

But, first option is not suitable for my case. (I think google-cloud library cannot cover all google-api-python-client)
Option 2 looks good for me.

[2017-03-17 15:47] nibakai opened #370 "Missing Content-Length and Content-Range from header"
I am using the Google Driver API python library to download file as CSV format.

google_drive_service = get_service()
mimeType = 'text/csv'
request = google_drive_service.files().export_media(fileId='abc', mimeType=mimeType)
fh = io.BytesIO()
downloader = MediaIoBaseDownload(fh, request)
done = False
while not done:
    status, done = downloader.next_chunk()
    print "Download %d%%." % int(status

[2017-03-19 00:35] dbrrt commented on #355
+1

[2017-03-21 19:21] WiliTest commented on #299
maxrp solution worked: `discovery.build('drive', 'v3', http=http, cache_discovery=False)`

[2017-03-23 12:00] rkosegi opened #371 "Logging client can't handle timestamp correctly"
I'm trying to list log entries using this simple code (used [this](https://googlecloudplatform.github.io/google-cloud-python/stable/logging-usage.html) as reference):

[code]
But it fails with following error:

Example log entry from gcloud console:

[code]

How can I list log entries then?

[2017-03-23 12:23] rkosegi commented on #371
It seems that nanos are required to be present, but my log entry has no such info in timestamp.
Could be nanos part in regexp optional?

[2017-03-23 19:24] lukesneeringer commented on #371
Hi @rkosegi, thanks for reporting.
It looks like we are using a regex for parsing, and the API format has changed to include the time zone. We will look into this.

[2017-03-23 19:32] lukesneeringer commented on #370
```print "Download %d%%." % int(status.progress() * 100)```

Integer divison in Python 2 means this will always be 0. Use a float, and convert to int after you multiply by 100.

[2017-03-23 19:32] #370 closed

[2017-03-23 19:33] lukesneeringer commented on #369
Thanks for reporting. We will look into this.

[2017-03-23 19:34] lukesneeringer commented on #367
Hi @nekketsuuu We will check on this.

[2017-03-23 19:36] lukesneeringer commented on #366
Does this exist in another language? We are not sure what exactly you are asking for.

[2017-03-23 19:38] lukesneeringer commented on #361
Closing this for inactivity. Feel free to reopen if there is a follow-up.

[2017-03-23 19:38] #361 closed

[2017-03-23 19:40] lukesneeringer commented on #356
Hi @jberthet,
Have GSuite support followed up with you on this? I am not sure what this refers to,  but they should be able to help you.

[2017-03-23 19:45] lukesneeringer commented on #343
Closing for inactivity. If you are experiencing this problem, please give us a `pip freeze`. :-)

[2017-03-23 19:45] #343 closed

[2017-03-23 19:47] lukesneeringer commented on #333
Is this still a problem? (Closing for inactivity; feel free to re-open.)

[2017-03-23 19:47] #333 closed

[2017-03-23 19:51] lukesneeringer commented on #326
Hi @andrewbrinck
Are you still hitting this?

Unfortunately, it has been ages (sorry about that), and so I am going to close this, but if you are still hitting it, please feel free to re-open it, and we will summon large numbers of Shakespearean monkeys to investigate.

[2017-03-23 19:51] #326 closed

[2017-03-24 10:57] jberthet commented on #356
Hi,

The fact is GSuite sent us here. They said they cannot help us and that the encoding problem came from the Python API.

Regards.

[2017-03-24 15:27] lukesneeringer commented on #356
Ah, okay. Can you show the code that you are using so we can try to reproduce? Right now it is unclear to me.

[2017-03-25 02:00] forrestchang commented on #371
@lukesneeringer @rkosegi I want to fix this bug.

[2017-03-25 02:18] forrestchang commented on #371
@lukesneeringer @rkosegi

I have a question, because I don't use this module. So is gcloud module the same as googleapiclient?

[2017-03-28 14:27] nharpalani commented on #218
Hey @jonparrott, any update on timeline here? It looks like the new google-auth python library now exists?

[2017-03-28 16:28] jonparrott commented on #218
@nharpalani it's looking unlikely that we'll be able to replace httplib2 in this library without massive breaking changes. We're working on a similar effort over on the google-cloud-python package and there's a small chance that work might be transferrable here, but no promises.

Closing for now.

[2017-03-28 16:28] #218 closed

[2017-03-28 17:15] nharpalani commented on #218
Thanks for the update, Jon!

[2017-03-28 20:43] incidentist commented on #15
Still happening as of March 2017, downloading files off Google Drive. The workarounds in this thread worked for me, but MediaIoBaseDownload is still listed as the correct method in the API documentation.

[2017-03-29 12:40] techieashish commented on #371
I will try and fix this bug

[2017-03-29 16:15] sbrieuc opened #375 "BatchHttpRequest and google-auth"
Hi,

I'm using this client library with google-auth to make calls to several Google APIs (Drive mainly), it works fine however it seems that when using a Batch request it doesn't use the credentials of each request in the batch, only the credentials from the first one.

Which means that when I impersonate two different users in two different requests in the same batch, both requests are made imper

[2017-03-29 19:24] jonparrott commented on #375
@sbrieuc is this perhaps a duplicate of #350?

[2017-03-29 19:28] Rawing commented on #15
I'm not very knowledgeable about HTTP and the likes, but can't you just check if the received content is empty?
Something like
[code]

[2017-03-29 19:34] diegojancic commented on #15
@Rawing no, you can't.  I don't remember exactly when I debugged it, but it keeps receiving content, after the end of the file, but because it didn't receive the `Content-Length`, you don't know when it finished. There was no way to tell if content received is correct just looking at the content, that's what the `Content-Length` is for :)

[2017-03-29 22:18] sbrieuc commented on #375
@jonparrott Well it doesn't look like it.

To me issue #350 relates to credentials having no valid access token and using oauth2client. From what I can see in my case the issue is specific with using credentials from google-auth library. With oauth2client credentials it works perfectly.

Looking a bit more in the code, when building a service from a credentials object there are two cases:
[code]

[2017-03-30 03:30] jonparrott commented on #375
Thanks, @sbrieuc. This gives me a good idea of what's going on. It seems to me that google_auth_httplib2 should be modified to support a per-request credentials. I'll look into that.

[2017-03-30 16:32] Rawing commented on #241
Not sure if I should open a new bug for this one, but there's a similar bug when trying to upload 0 byte files:

[code]

Throws

`googleapiclient.errors.HttpError: <HttpError 400 when requesting https://www.googleapis.com/upload/drive/v3/files?alt=json&fields=id&uploadType=resumable returned "Bad Request">`

[2017-03-30 20:17] jonparrott commented on #375
@sbrieuc can you verify that https://github.com/google/google-api-python-client/pull/376 resolves this issue?

[2017-03-31 07:49] sbrieuc commented on #375
@jonparrott I made my comments in #376 but it looks like it will solve the issue.

[2017-03-31 13:36] andrewnester commented on #369
@amamaenko thanks for reporting! @lukesneeringer I just added PR fixing this issue.

[2017-03-31 13:40] andrewnester commented on #367
@nekketsuuu thanks for reporting the issue! @lukesneeringer @jonparrott I've just added PR fixing this.

[2017-03-31 14:41] #367 closed

[2017-03-31 14:41] lukesneeringer commented on #369
Thanks @andrewnester!

[2017-03-31 14:42] #369 closed

[2017-03-31 17:16] jcschneider79 commented on #343
Can this get re-opened?  I am getting the same error. Here's my pip freeze:

`(google_api) joe@Lanfear:google_admin 🏈  pip freeze
google-api-python-client==1.6.2
httplib2==0.10.3
oauth2client==4.0.0
pyasn1==0.2.3
pyasn1-modules==0.0.8
rsa==3.4.2
six==1.10.0
uritemplate==3.0.0
(google_api) joe@Lanfear:google_admin 🏈

[2017-03-31 17:33] Rawing commented on #15
@diegojancic So that means if this bug occurs, the program will write corrupt data to the file indefinitely? That actually makes this super harmful.

[2017-03-31 19:06] diegojancic commented on #15
@Rawing Yes. I was holding the file in memory, so it would make the server crash, but yes, it is that serious!

Check the example attached ([google-api-bug-demo.zip](https://github.com/google/google-api-python-client/files/886625/google-api-bug-demo.zip)). To execute, do the following:

[code]

The output will be something like this:
[code]

The second file is bigger because it contains some photo

[2017-04-06 20:43] frankgould opened #379 "Android Browser Not Launching with OAuth 2.0"
Thanks for being here. I am finishing my Android app and was testing my startup authorization code when I found that the browser is not launching from my python code. It worked a few months ago but recently it stopped working. Below is the logcat saying it is launching the browser but it never appears.

I/python  ( 2947): Your browser has been opened to visit:
I/python  ( 2947):     https://accoun

[2017-04-06 20:45] jonparrott commented on #379
I have no idea, the underlying library just uses the Python standard library `webbrowser` package. So if you upgraded python or moved to a new version of android it's possible that broke it.

[2017-04-06 20:48] frankgould commented on #379
Thanks. I'll take a look over there. Haven't upgraded python or android versions. However, I probably did break something. ;-)

[2017-04-06 20:48] #379 closed

[2017-04-07 09:29] divinedragon commented on #93
Just in case still faces an issue like me, here is my code.

[code]

[2017-04-08 17:52] raj-gupta09 opened #380 "Error while using the api"

[2017-04-08 17:55] raj09101996 commented on #380
I try to use the api using Anaconda, but the error comes
Applicient.discovery
Module Error: No module found discovery.
Please help me to resolve the error.
Thank You

[2017-04-08 18:13] raj09101996 opened #381 "error"
**Heads up!**

We appreciate any bug reports or other contributions, but please note that this issue
tracker is only for this client library. We do not maintain the APIs that this client
library talks to. If you have an issue or questions with how to use a particular API,
you may be better off posting on Stackoverflow under the `google-api` tag.

Thank you!

[2017-04-08 18:13] #381 closed

[2017-04-09 17:11] pdknsk opened #382 "details missing in googleapiclient.errors.HttpError"
Run some code that makes an invalid request.

[code]
Now when you get the exception and its ```content``` the error becomes slightly more verbose.
[code]
Making the same request manually to the REST API returns a significantly more useful response.
[code]

[2017-04-10 16:10] jonparrott commented on #382
Seems like it might just be dropping the "details" section on the floor. I'm happy to review a patch to fix this, or we'll get to it when we can.

[2017-04-11 12:17] entropy1208 opened #383 "Messages.attachments have no attribute "data""
Hey guys, I want to extract data from my Gmail attachments. I am getting the messages but when I try to get a sample attachment I get the following error :-

_**File "/home/entro/.virtualenvs/AETSV/lib/python2.7/site-packages/django/contrib/auth/decorators.py", line 23, in _wrapped_view
    return view_func(request, *args, **kwargs)
  File "/home/entro/projects/myproject/spreadsheets/views.py", li

[2017-04-11 13:40] entropy1208 commented on #383
Oops! I forgot to add .execute() after the get function! My bad!

[2017-04-11 13:40] #383 closed

[2017-04-11 21:57] erictrinh276 opened #384 "HttpError 400 bad request in several apis"
I'm using this api library in Python 3 and can't call several methods like users.messages.send and users.labels.list.
The following is my code to get the list of labels:
[code]
this is labels in json:
`'{"method": "GET", "response_callbacks": [], "_in_error_state": false, "body": null, "methodId": "gmail.users.labels.list", "resumable_progress": 0, "body_size": 0, "resumable_uri": null, "uri": "ht

[2017-04-12 15:06] kpinc opened #385 "Documentation: No information on the data type returned by drive.files().export()"
I can't find any documentation on the data type returned by the drive.files().export() function for various mime types, or at all.  (E.g. Exporting a 'text/csv' seems to return bytearray, not str, despite the "text" in the mime type.)  Perhaps bytearray is returned regardless of mime type, if so this should be documented.  It's hard to use the API correctly without clarity as to the data type(s) r

[2017-04-12 16:28] jonparrott commented on #385
@kpinc when retrieving files from the API, you'll always get back bytes representing that file regardless of mimetype. You can then save those bytes to disk, decode them to unicode if you know they're text, use ByteIO to treat it like an in-memory file, etc.

I'm not sure on the second question, but in general it seems you're expecting the client/API to do more than just return the bytes for the f

[2017-04-12 16:28] #385 closed

[2017-04-12 16:30] jonparrott commented on #384
@erictrinh276 The first obvious issue here is that gmail is a *user resource* API, which means you can't access it directly with a service account (you can use domain-wide delegation if you're using gSuite). You'll need to use the 3LO/User auth flow described here: https://developers.google.com/drive/v3/web/quickstart/python

[2017-04-12 16:30] #384 closed

[2017-04-12 16:45] kpinc commented on #385
Thanks for the reply.

Where is it documented you always get bytes back from the API when you use python (or any other client)?  Specifically with respect to google-api-python-client, where does it say that the bytes you get come back as a particular python data type?  (Not that I want the answer here.  I want an answer in some documentation somewhere.  Are you saying that the API returns an immut

[2017-04-12 16:51] jonparrott commented on #385
@kpinc all of that seems to be documented here: https://developers.google.com/drive/v3/web/manage-downloads

[2017-04-12 17:14] kpinc commented on #385
I'm sorry, I see nothing there close to what I'm asking for.  I see a list of mime types.  I see no information on what specification goes with each mime type.  If I ask for a text/csv spreadsheet am I going to get something separated by commas or semi-colons or one of the half dozen or so other common CSV file formats?  An RFC4180 CSV?  What is it's encoding?  Bytes are all well and good, but i n

[2017-04-12 17:21] jonparrott commented on #385
@kpinc that's a question better suited for stackoverflow, as we wouldn't know here and the API doesn't specify.

[2017-04-12 18:31] erictrinh276 commented on #384
@jonparrott : But I'm authenticating and sending emails from my cron job running daily on my Raspberry Pi.I'm not sending emails on behalf of another user. I'm sending emails from my gmail account.
I use the Wizard to create the credential and it tells me to create a service account.
Options that I chose:
API: Gmail
Where: Other non UI
What data: Application data (belong to my application)
If I ch

[2017-04-12 18:36] erictrinh276 commented on #384
ahh my bad, it opens the browser so i can grant permission.
But what if my Pi OS doesn't have GUI?

[2017-04-12 18:51] tcoffee-google opened #386 "Make method documentation parameter descriptions have deterministic ordering"
Currently, optional method parameters and nested object fields therein appear in nondeterministic order in Pydoc pages, presumably due to dict iteration. Regenerating documentation thereby leads to unnecessary changes in the listings of these parameters and fields, which can both confuse users and create misleading diff noise. Iterating over these parameters and fields in a deterministic order wou

[2017-04-12 19:05] jonparrott commented on #384
@erictrinh276 you can do the initial authorization yourself to obtain an access token *and* refresh token. This refresh token can be used by the Pi to obtain new tokens without you present.

[2017-04-12 19:35] erictrinh276 commented on #384
Thank you for your clarification, @jonparrott

[2017-04-13 14:34] Lunran commented on #343
I got the same error and investigated on the problem.
In my case, it was caused by a file named ''calendar.py" in the same directory.
It's said you should avoid using general names that can be already used for standard python library.

[2017-04-17 14:00] seth4618 opened #387 "Django app cannot be started"
To get started I ran `python manage.py makemigrations` and get

    Traceback (most recent call last):
      File "manage.py", line 3, in <module>
        from django.core.management import execute_manager
    ImportError: cannot import name execute_manager

I am using django 1.10.1

[2017-04-17 14:24] lukesneeringer commented on #387
Hi @seth4618,
Thanks for reporting. This is not an issue with the Google API client library, however, but either with Django itself or (more likely) your system setup. In particular, ensure that you are running that command from the virtualenv in which Django is installed.

[2017-04-17 14:24] #387 closed

[2017-04-25 16:57] prsolucoes commented on #245
Traceback (most recent call last):
  File "test.py", line 117, in <module>
    service.reviews(packageName=PACKAGE_NAME).list().execute()
TypeError: methodResource() got an unexpected keyword argument 'packageName'

Can anyone help me?

[2017-04-25 21:56] mikelambert opened #388 "ServerNotFoundError: Unable to find the server at www.googleapis.com"
When inserting objects to Google Cloud Storage running from Flexible VMs on GCE, I often get this error:
[code]

The code in question:
[code]

Any idea why a GCE Flexible VM would be unable to find the server `www.googleapis.com`?

[2017-04-25 21:56] mikelambert commented on #388
And perhaps the question more related to this client library...is this something that might be fixed by switching to `google.cloud.storage` libraries versus these `googleapiclient` libraries?

[2017-04-25 21:57] jonparrott commented on #388
Are you using a compat runtime?

On Tue, Apr 25, 2017, 2:56 PM Mike Lambert <notifications@github.com> wrote:

[2017-04-25 21:58] mikelambert commented on #388
Yes, I am using a derivation of the `python-compat` runtime. I've migrated over to `env: flex` at least, but am now slowly working through my dependencies to get off `python-compat` entirely.

[2017-04-25 22:07] jonparrott commented on #388
That could be part of the problem. I'd see if you can do an isolated case without compat.

Nah, they both hit the same endpoint.

[2017-04-25 22:25] mikelambert commented on #388
Hahah dammit, I'm always scared the bitrot will bite me before I'm able to migrate off. The errors have recently increased in frequency in the past few days, and so I assumed it might be something on the other end.

Further investigation, the errors appear to be occurring on a single instance (not all instances), and start happening at some point, and continue until the service is repushed (or pre

[2017-04-26 22:41] Capstan opened #389 "http.py _process_response doesn't handle the 0-bytes committed case"
If you get a `308 Resume Incomplete` with no `Range` header, it means that the session is alive, but there are no bytes committed. However, if apiclient sees this, it throws `KeyError: 'range'`

[2017-04-26 22:53] Capstan commented on #389
Doh, already fixed at head.

[2017-04-26 22:53] #389 closed

[2017-04-26 23:38] Capstan commented on #389
Duplicate of issue #312

[2017-04-29 12:23] algeorge opened #390 "pulling out first top data"
How to use fields=kind,items(title,characteristics/length) in this code

[2017-04-29 20:51] pedrocaseiro commented on #13
I just had the same problem and @robmorehead trick worked 💯

[2017-05-01 01:44] krabbypattified commented on #355
+1

[2017-05-03 00:54] waprin commented on #355
Have you guys checked out [python-docs-samples ](https://github.com/googlecloudplatform/python-docs-samples)? It contains most of the up to date samples for Python on GCP. We could stand to be a bit more organized but I wanted to make sure you were aware of those repos.

[2017-05-03 15:39] justinsenseney opened #391 "Put request examples?"
Are there any simple examples for doing put requests to the API using the Python client library?

[2017-05-03 16:37] wliu commented on #15
Seeing the exact same behavior here with MediaIoBaseDownload and google drive documents.. Any update as to a fix or a priority from maintainers here?

[2017-05-03 18:36] jerinshirley opened #392 "Running a Script through DCM Trafficking API - ANY SCRIPT."
I was told by the Google API team that my issue belonged here.

I am just trying to run any of the sample scripts posted here for Python v2.7. I've been using run_report.py. A browser would always open to allow access to the API, but the script would fail after that. I always receive the same error:
httplib.ResponseNotReady

I've tried using --noauth_local_webserver as well and received the same e

[2017-05-04 19:05] KobaKhit opened #393 "Type Resource not Serializeable error in Python 3"
I am trying to write a function that uses the `urlshortener` api. To reproduce the error run below code with your api key in Python3 environment. This error only happens if I try to wrap url shortener google api in a function.

[code]

Below is complete stack trace.

[code]

[2017-05-04 22:20] xcompass opened #394 "Scope is not handled when using build() with http parameters"
According to the [docs](https://developers.google.com/identity/protocols/application-default-credentials#callingpython), When using build(), the scope is injecting automatically. However, it is not the case when using http parameters. It seems the scope handling is bypassed when http is specified. https://github.com/google/google-api-python-client/blob/master/googleapiclient/discovery.py#L358

Tes

[2017-05-04 22:41] jonparrott commented on #394
This is as intended, if you specify http then build doesn't nothing with credentials or the http itself. If you pass in http, it should already be authorized and setup. Otherwise, just pass credentials and let it construct the http itself. If you're using ADC, you can call build without http or credentials.

[2017-05-04 22:41] #394 closed

[2017-05-05 01:00] xcompass commented on #394
Then maybe it should be mentioned in the docs :) I spent quite some time to figure this out.

[2017-05-07 07:55] yuri-wisestamp opened #395 "Need authentication to run BigQuery query"
Trying to execute a query from App Engine, in selfLink getting this response:
[code]

I added the App Engine service account to the tables in the query - didn't help. How can I make the call from App Engine task to BigQuery without being blocked?

[2017-05-09 16:01] woodyspawnshop opened #396 "When num_retries>0 call will not retry on tokens().list().execute() when short term rate limit is blown"
When calling execute on a `service.tokens().list()` requests in rapid succession you will blow short term rate limits and the failing requests should be automatically retried if you supply the num_retries parameter to `execute`. However, these requests are not being retried because the reason phrase returned in the response is set to `quotaExceeded` and the lib is only looking for [two other reaso

[2017-05-09 16:20] jonparrott commented on #396
I don't think we should retry `quotaExceeded` errors, as it's distinctly different from `rateLimitExceeded` for a reason. I'd recommend adding retry logic around your calling code, limiting concurrency, or requesting through support that they raise your rate quota.

[2017-05-09 16:20] #396 closed

[2017-05-09 16:35] woodyspawnshop commented on #396
The rate is arbitrary so changing its value doesn't alleviate this behavior. I could limit the rate of requests to <= that value, if controlled serially, in an effort to never raise the exception but that's essentially implementing a race condition and how is that supposed to scale? If i'm implementing retry logic, why wouldn't the retry logic be included in the lib since it already has retry logi

[2017-05-09 16:37] jonparrott commented on #396
This isn't a basic, straightforward case. As you assumed and your support
case confirmed, quotaExceeded is not a recoverable error. The API is
returning the wrong thing, and we will not implement logic that makes us a
bad actor to work around one API.

On Tue, May 9, 2017, 9:35 AM woodyspawnshop <notifications@github.com>
wrote:

[2017-05-12 02:10] kaliberto opened #397 "Clarify the status of this project in Relationship to oauth2client,OAuthLib, google-auth"
As of release 4.10, the oauth2client is being deprecated. The replacement tools, OAuthLib and google-auth both use newer HTTP libraries that are not supported by google-api-python-client. Is there a plan to update this project to support urllib3 or requests? Or is this functionality going to be rolled into google-cloud?

[2017-05-12 02:13] jonparrott commented on #397
This project supports google-auth through the supplementary library [google-auth-httplib2](https://pypi.python.org/pypi/google-auth-httplib2). There are no plans to move this library to use anything other than httplib2, and it's pretty inextricably integrated into this library. Although @dhermes' work on google-resumable-media probably made the prospect significantly easier.

[2017-05-12 02:13] #397 closed

[2017-05-12 02:47] kaliberto commented on #397
@jonparrott is there a reason why the isn't part of google-auth? The pypi page doesn't link to a readme that explains what the heck it is, it sends you to the main google-auth documents. I kept staring at the transports available in google-auth thinking I was an idiot, till I realized google-auth-httplib2 wasn't documented there.

Putting a deprecation notice on an authentication library, without

[2017-05-12 03:04] jonparrott commented on #397
Because long term we do not plan to support httplib2.

I'm working on fixing that, along with the documentation for google-auth-oauthlib.

I hear you, but we can't afford to continue to mislead users by not marking an abandoned library as well, abandoned. This might seem a bit like the cart leading the horse, but oauth2client deprecation had to happen as an impetus for transitioning a lot of the d

[2017-05-12 06:25] omaray opened #398 "Add a section in the README about Cloud APIs"
Given that many users will end up on this README, we need to let them know that for Google Cloud APIs, they need to visit the [google-cloud-python](https://github.com/GoogleCloudPlatform/google-cloud-python) repository instead. We can add a section towards the top in the main README that says the following:

### Google Cloud Platform APIs
If you're working with **Google Cloud Platform** APIs such

[2017-05-12 16:35] #398 closed

[2017-05-12 17:35] RamizSami opened #399 "Error while revoking in Python3"
When trying to revoke the permissions through the client. I get this error:
Cannot mix str and non-str arguments.

I was using this [](https://developers.google.com/api-client-library/python/auth/web-app) documentation to achieve this. I am using this line of code from the link above:
`credentials.revoke(httplib2.Http())`
And the same line is generating the above error

[2017-05-12 17:41] #399 closed

[2017-05-16 13:40] froosty commented on #360
I came across this question when I was looking an asynchronous library for Google Analytics. My message is off topic a little bit, but maybe it helps to someone. We created an asynchronous client for Google Analytics (measurement protocol) and it can be found here: https://github.com/wikibusiness/aioga. It very simple for now, but in nearest future, we plan to expand it.

[2017-05-16 17:51] wavenator opened #400 "instanceGroupManagers can not insert a multi-zone instance group"
`compute.instanceGroupManagers().insert` does not accept a region in its `zone` input parameter, nor accepts a `region` parameter.
I know it is a new feature in Google Cloud instance groups so it is probably in progress.

Thanks!

[2017-05-17 07:02] xmedeko commented on #325
@jonparrott what about to change file lock to the `multiprocessing.RLock()` in the original `locked_file.py`? Would be it sufficient solution to accept back to the repo?

[2017-05-17 07:04] jonparrott commented on #325
I think it's likely possible to do this without any sort of locking.

On Wed, May 17, 2017, 12:02 AM Ondrej Medek <notifications@github.com>
wrote:

[2017-05-17 07:08] xmedeko commented on #325
You mean a file cache, shared among multiple processes, without any locking? How to prevent data corruption, when 2 process write to the same file?

[2017-05-17 07:09] jonparrott commented on #325
Likely using a folder containing a file for each cached discovery doc. No
locking needed. Worst case scenario two processes write the same file twice.

On Wed, May 17, 2017, 12:08 AM Ondrej Medek <notifications@github.com>
wrote:

[2017-05-19 20:26] ohlaylaohoh commented on #100
Hi there, I added the PYTHONPATH to bashrc but didn't work. Any idea why?

[2017-05-26 01:46] jonparrott commented on #100
@ohlaylaohoh I really don't recommend using the PYTHONPATH thing. Please use virtualenv.

[2017-06-03 11:09] zamai commented on #93
Wow, 2 years passed since  Apr 20, 2015. But I'm still running into the same issue.
Maybe it's time to update docs?
Thanks, @cjerdonek for your initial investigation and @divinedragon for the example.

[2017-06-07 08:51] pacohh opened #403 "Admin SDK Reports API channels.stop() 404 because of wrong API URL"
### Problem
[code]

Raises a `googleapiclient.errors.HttpError: <HttpError 404 when requesting https://www.googleapis.com/admin/reports/v1/admin/reports_v1/channels/stop? returned "Not Found">`

### Problem notes
I think the problem here is that this endpoint has a different URL format to the standard endpoint URL format, the correct URL for this endpoint is `https://www.googleapis.com/admin/repor

[2017-06-07 16:48] jonparrott commented on #403
I have no idea on this one. @lukesneeringer @bjwatson any clues?

[2017-06-08 09:05] PacoHobi commented on #403
If anyone has the same problem. A quick and dirty workaround is:

[code]

[2017-06-09 21:52] senthilmk commented on #270
Is this fixed? I am still seeing this error...

Using google-api-python-client 1.6.2 with oauth2client 4.1.1

[2017-06-09 21:56] senthilmk opened #404 "Error importing discovery from the client API"
I am hitting the eror

**"from oauth2client import util
ImportError: cannot import name util"**

when I use the following imports:

**from googleapiclient import discovery
from oauth2client import client
from oauth2client import tools
from oauth2client.file import Storage**

Apparently this issue was fixed and closed, but I am seeing this in my IDE, so was not sure if this is deprecated and other

[2017-06-09 22:16] jonparrott commented on #404
What version of oauth2client and google-api-python-client do you have installed?

[2017-06-09 22:28] senthilmk commented on #404
Using google-api-python-client 1.6.2 with oauth2client 4.1.1

[2017-06-09 22:29] jonparrott commented on #404
Can you give the full stacktrace?

[2017-06-09 22:31] senthilmk commented on #404
Traceback (most recent call last):
  File "**/gmail/gmail-sampler.py", line 5, in <module>
    from googleapiclient import discovery
  File "**/lib/python2.7/site-packages/googleapiclient/discovery.py", line 57, in <module>
    from googleapiclient.errors import HttpError
  File "**/lib/python2.7/site-packages/googleapiclient/errors.py", line 26, in <module>
    from oauth2client import util
Impor

[2017-06-09 22:34] jonparrott commented on #404
So that's expected: https://github.com/google/google-api-python-client/blob/master/googleapiclient/errors.py#L28

I can't see why it wouldn't be catching that importerror and importing the >= v3 name.

[2017-06-09 22:35] senthilmk commented on #404
and your suggestion to debug this would be??

[2017-06-09 22:37] jonparrott commented on #404
I really sort of at a loss. Can you compare the file you have for `errors.py` with the one [here](https://github.com/google/google-api-python-client/blob/v1.6.2/googleapiclient/errors.py#L26)? The different in line numbers leads me to think that your app might somehow be picking up a different, older version.

[2017-06-09 22:42] senthilmk commented on #404
Alrite. let me take a look and get back to you...Thanks

[2017-06-09 22:45] #404 closed

[2017-06-14 14:24] acaldich opened #405 "Google Drive API - Export Function - Where is the downloaded file ?"
Hi there,

I have a issue with the Google Drive API.
I ran the attached script (download.py) on the Terminal, and it is written "Download 100%". I guessed the file had been downloaded on my computer. However, I cannot find it neither in the Downloads repository, or in any folder at all ...

Do you know what is the exact path / the exact name of files downloaded through Google Drive API ?

Thanks i

[2017-06-15 07:07] soyamagic commented on #226
@yinleon
I get same error.
If possible, I'd like to know the reference that explains the method
[code]

[2017-06-15 17:04] GarrettHoffman opened #407 "Perspectives API Working with Curl but not googleapiclient"
I am trying to make post requests through the `googleapiclient` to the google Perspectives API like in the example here: https://github.com/conversationai/perspectiveapi/blob/master/api_reference.md

The same request is working through a curl command on the command line but connection`service = discovery.build('commentanalyzer', 'v1alpha1', developerKey=API_KEY)` is timing out.

Here is the error

[2017-06-20 00:51] snarfed commented on #350
this bit me recently when i upgraded to oauth2client 4.1.1 and google-api-python-client 1.6.2. patching #351 into my local lib fixes it. i'd love to see that PR merged so it gets into the next release!

[2017-06-20 00:55] #375 closed

[2017-06-20 00:55] jonparrott commented on #350
Resolved by #376.

[2017-06-20 00:55] #350 closed

[2017-06-20 22:59] kkdang opened #408 "Documentation not correct for "import" function for variants"
Line 142 of google-api-python-client/googleapiclient/discovery.py
Reads:
_The name with a '\_' prefixed if the name is a reserved word._
Should read:
_The name with a '\_' appended if the name is a reserved word._

Also, the [suggested code in the docs](https://cloud.google.com/genomics/reference/rest/v1/variants/import)  for python is not correct about how to call this method.

The example line r

[2017-07-05 19:26] chaitu1124 opened #409 "DCM report scheduled in GUI and downloading from Google App Engine - read only error"
Hi All,

I have scheduled the report in GUI and trying to pull it from Python API and want to store the file in google cloud storage and running these python scripts in google cloud app engine.

I tried  to modify the code to run in google app engine.

I modified the code as following (setup function code in dfareporting_utils.py script)

  CSF=os.path.join(os.path.dirname(__file__),

[2017-07-08 09:00] sonlac commented on #382
@jonparrott Thanks in advance for a review.

[2017-07-12 03:20] weitaiting opened #415 "Update google-api-python-client in light of OAuth2Client Deprecation"
Google's OAuth2Client library was recently deprecated in favour of google-auth and oauthlib. (See the [README.md](https://github.com/google/oauth2client) at google/oauth2client)

However, OAuth2Client is still used in google-api-python-client.
([See here](https://github.com/google/google-api-python-client/search?utf8=%E2%9C%93&q=oauth2client&type=))

Will it be necessary to update all instances wh

[2017-07-12 10:16] dojeda opened #416 "Dataproc API client fails to cancel due to wrong discovery of parameters"
We (@adrianAhne and I) have found a small bug on the Python client code.

When using the Google API Python client to cancel a job, the Python code fails because it expects a body. However, the API documentation clearly states that there is no body to this request (https://cloud.google.com/dataproc/docs/reference/rest/v1beta2/projects.regions.jobs/cancel ). I do not know if the discovery process is

[2017-07-13 16:19] jonparrott commented on #415
oauth2client is deprecated, but not gone. Its frozen, but will still receive bug fixes for critical issues. This library supports both oauth2client and the newer library, so there's no action needed here.

[2017-07-13 16:19] #415 closed

[2017-07-17 05:04] dylburger opened #417 "Web app documentation contains insecure use of Flask session cookies"
This issue refers to the [documentation](https://developers.google.com/api-client-library/python/auth/web-app) for this client library and not the library itself - if this isn't the right place to raise this, happy to be directed elsewhere!

The [Flask example](https://developers.google.com/api-client-library/python/auth/web-app#example) for the web app flow has a section that gave me pause:

[2017-07-17 16:02] #382 closed

[2017-07-17 16:20] jspalink opened #418 "translations().translate() incorrectly creates request body"
I'm attempting to use the services.translation().translate() call, but was running into problems with the request that is generated being formatted incorrectly.  I've solved the issue for myself with a subclassed HttpRequest that alters the body parameter.

[code]

[code]

`x.body` is set to `{"data": {"q": ["hola mundo", "hallo welt"], "target": "en"}}`

My existing solution alters my subclassed

[2017-07-19 08:35] bobintornado opened #419 "Dependency question: why google_auth_httplib2 is required for HAS_GOOGLE_AUTH = true?"
Why `google_auth_httplib2` is required to flap `HAS_GOOGLE_AUTH = True`?

`google-auth-library-python` and `google-auth-library-python-httplib2` are two different repos.

I am trying to use google auth, but it took me a while to realize that I need to include these both pacakges.

[2017-07-19 16:20] jonparrott commented on #419
The package description for [`google-auth-httplib2`](https://pypi.python.org/pypi/google-auth-httplib2) sums it up as:

The httplib2 transport was not included in the core `google-auth` library specifically because we do not want to support its long term usage. This library is the exception - the is inextricably tied to httplib2 and we are supporting this library long term. What this means in prac

[2017-07-19 16:20] #419 closed

[2017-07-20 03:26] bobintornado commented on #419
@jonparrott

I see. So the reason for httplib2 not included in `google-auth` is `we do not want to support its long term usage`.

So it long term the plan is to flip `HAS_GOOGLE_AUTH = True` without `google_auth_httplib2`?

[2017-07-20 03:32] jonparrott commented on #419
No, because we do not plan to replace httplib2 in this library as doing so
would cause too many breaking changes for our users.

On Wed, Jul 19, 2017, 8:26 PM Bob Cao <notifications@github.com> wrote:

[2017-07-20 03:40] bobintornado commented on #419
Got it.

Appreciate the information.

[2017-07-21 19:06] daocsm opened #420 "KeyError 'rows' when using task scheduler"
I have been working on an easy way to pull all the impression data from Google Search Console.
I have created a python script based off of the supplied example from Google.
Everything was working perfectly! so I created a bat file to run all my clients data at once, each day and used windows task scheduler to run the bat file.
The issue is, whenever task scheduler runs the .bat file, I get this er

[2017-07-24 06:51] darkash commented on #311
If i remember correctly, you need to supply the filter in a list of string, not a single string like your sample code
change this line
`"DFP_AD_UNIT_ID==10000000,AD_TAG_CODE==999999999"]`
to
`["DFP_AD_UNIT_ID==10000000", "AD_TAG_CODE==999999999"]`

[2017-07-24 06:57] darkash commented on #420
Usually if KeyError happens, it's usually caused by your API request is too much on same IP in a short time or the server on Google side have trouble

but assuming that your bat file runs all the client on the same time at once, I guess it's the first case as it also happens on my side as well

Try supplying userIP or quotaUser parameter
https://developers.google.com/analytics/devguides/config/mgm

[2017-07-25 17:23] snarfed opened #421 "cut a release?"
hi all! first off, thanks for building and maintaining google-api-python-client. we appreciate it!

any chance you all could cut a new release sometime soon? the last one is almost 6 mos old now. i'm hoping to cut a new release of a library of my own (https://github.com/snarfed/granary) that depends on gapc, but it needs a bug fix (#350, #376) that hasn't been released yet.

thanks in advance!

[2017-07-26 13:20] floatingpurr opened #422 "Batch request returns HttpError 404 for every call"
I have a little application based on google-api-python-client but the batch request has not been working anymore for a couple of days (error 404).

For example, the following code worked until a few days ago

    from apiclient.http import BatchHttpRequest
    from apiclient.discovery import build
    import json

    DEVELOPER_KEY = "foobar"
    YOUTUBE_API_SERVICE_NAME = "youtube"
    YOUTUBE_AP

[2017-07-27 09:42] sp-philippe-oger commented on #204
I found this: https://google.github.io/google-api-python-client/docs/epy/googleapiclient.http.RequestMockBuilder-class.html

[2017-07-27 19:39] crunchex commented on #333
@lukesneeringer this is still a problem as I am back on the project that requires this library.

So again comparing my two systems with different versions of Ubuntu, on 16.04:

Python 2.7.12 (default, Nov 19 2016, 06:48:10)
Type "copyright", "credits" or "license" for more information.

IPython 2.4.1 -- An enhanced Interactive Python.
?         -> Introduction and overview of IPython's features.
%

[2017-07-28 20:02] jof opened #423 "HTTP Connection Pipelining Support"
Howdy Developers, I've got a quandary/question and wondering what is possible.

I'm developing an application for bulk uploading of large media files into Google Cloud Storage. However, my upload source is on the far end of a "long fat pipe" (high bandwidth, high latency). I am using this library's excellent support for simply writing objects into my bucket.

However, what I am finding is that I n

[2017-07-28 20:08] jonparrott commented on #423
You should look into using the newer [`google-cloud-storage`](https://github.com/googlecloudplatform/google-cloud-python) library. The next release will use `requests` as the http transport and will have connection pooling by default.

[2017-07-28 20:09] jonparrott commented on #423
Oh - and the shorter answer - this library is inextricably tied to httplib2. There's no way we can support connection pooling and pipelining without breaking all of our users here. If you must use this library, I'd suggest checking out `httplib2shim`.

[2017-07-28 20:09] #423 closed

[2017-07-28 23:20] jof commented on #423
Thank you for the lightning-quick reply @jonparrott
`google-cloud-storage` looks a lot more like what I want!
Unfortunately, there doesn't seem to be clear pipelining support inside of `google-cloud-storage` either.

For future potential searchers, this is pretty verbose and feels a bit ugly, but here's an example of how I forced this to work for me:
[code]

When I do this, I can confirm with wire

[2017-08-01 06:15] kongakong commented on #405
There is no python file attached to your post.

I will venture to guess you are using `io.ByteIO` as in the example. If so, you need to switch to `io.FileIO` to persist the file

[2017-08-01 06:39] kongakong opened #424 "What is the equivalent of 'GET https://slides.googleapis.com/v1/presentations/<ID>' in python code?"
I want to retrieve data of the a google slide. The REST API call will be in the form of `GET https://slides.googleapis.com/v1/presentations/{ID}?key={YOUR_API_KEY}`.

Here is the code I used to replicate the same effect:

[code]

I got the exception: `TypeError: methodResource() takes exactly 1 argument (2 given)`

I tried the alternative way:

`p = slide_service.presentations().get(fileId)`

And

[2017-08-01 07:57] kongakong commented on #424
Figured it out. It should be

`p = slide_service.presentations().get(presentationId=fileId)`

[2017-08-01 07:57] #424 closed

[2017-08-01 13:20] amureki commented on #415
@jonparrott

I assume, then it should not require both of them, but at least one. Because now it always requires oauth2lib

So, for example, we moved to google-auth lib everywhere we could, but since we are using [google-api-python-client](https://github.com/google/google-api-python-client) we still have to have oauth2client dependency and maintain it, because of this imports here:
https://github.

[2017-08-01 16:01] jonparrott commented on #415
Right. Well, you can actually use them together (you can use oauth2client for one call to `build` and google-auth for some other call to `build`).

I'd be happy to accepts PRs that reduce non-auth dependencies on oauth2client so that it could possibly be made an optional dependency.

[2017-08-02 07:25] amureki commented on #415
@jonparrott got it, thank you for nice answer!

That's a good opportunity for OSS contributors to make it real.
I will try to have a look at my free time into it, maybe I could help! :)

[2017-08-08 00:04] RjLi13 opened #426 "ImportError: No module named google.cloud"
Apologies if this question has been answered, but I installed the google-api-python-client using pip install. When I do a pip list, I see the google-api-python-client listed in packages installed, yet when I open the python terminal, it complains google / google.cloud are not modules that exist. I tried uninstall and reinstall but I get the same error. What's happening? If it matters I'm under a c

[2017-08-08 15:33] katsar0v opened #427 "ImportError: No module named 'oauth2client.contrib.locked_file'"
During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/katsarov/miniconda3/envs/kpi_dashboard/lib/python3.5/site-packages/googleapiclient/discovery_cache/file_cache.py", line 33, in <module>
    from oauth2client.contrib.locked_file import LockedFile
ImportError: No module named 'oauth2client.contrib.locked_file'

Traceback (most recen

[2017-08-08 15:56] jonparrott commented on #427
@katsar0v this is not en error, just a warning. See #345.

[2017-08-08 15:56] #427 closed

[2017-08-08 15:58] jonparrott commented on #426
@RjLi13 this is the library for `googleapiclient`. If you're looking for the libraries that provide `google.cloud`, see [here](https://github.com/googlecloudplatform/google-cloud-python).

This is confusing because we actually have two sets of client libraries. You can read more about that here: https://cloud.google.com/apis/docs/client-libraries-explained

[2017-08-08 15:58] #426 closed

[2017-08-09 08:32] katsar0v commented on #427
ImportError is warning? Ok

[2017-08-10 00:42] thehesiod commented on #360
@jonparrott @froosty let me know if you ever find an async client.  We have a lambda that users google APIs so doing as many calls as possible in parallel would be nice.  Looks like there are some oauth clients so that can help.

[2017-08-11 15:51] tarasinf opened #428 "Can't INSERT into Google Fusion Tables by server-to-server interactions"
I try to work with Google Fusion Table using OAuth 2.0 for Server to Server (two-legged) by the next code:

[code]
Everything is OK when I read from the table, but when I try to insert some data:

[code]

I got the error:
`googleapiclient.errors.HttpError: <HttpError 403 when requesting https://www.googleapis.com/fusiontables/v2/query?alt=json&sql=INSERT+INTO+***table-id***+%28Location%2C+Number%2

[2017-08-14 21:10] stevenmcastano opened #429 "people().connections().list() returns nothing"
I have put the correct resource name in, as well as field masks. The call I'm making is:

[code]

which returns nothing, but the same call in the same function to get me contact groups:

[code]

returns exactly what I'd expect. Is anyone else seeing this behavior? Have I missed something?

[2017-08-15 18:58] pnatraj commented on #113
Created a bug for the same https://issuetracker.google.com/issues/64718267

[2017-08-17 09:11] isokrates commented on #42
I realise I'm a bit late to the party here (nearly three years late...), but I think I'm having the same/a similar issue with the `oauth2client` library. Would one of you mind explaining this to me? In the python interpreter, `from oauth2client import client` works fine, but when I try the same thing in my Flask application, I get:

`from oauth2client import client`
...
`File "/usr/local/lib/pytho

[2017-08-17 16:14] jonparrott commented on #42
@isokrates you probably need to upgrade six.

[2017-08-17 16:17] craigcitro commented on #42
@isokrates Just before the line that's raising the import error, do

    print('six: ' + six.__file__)

and you'll find out where your other copy is.

[2017-08-18 07:50] arivanandan opened #430 "Get new access token from client after refresh"
In "offline" mode when

`credentials.authorize(httplib2.Http())`

is called, it refreshes the access_token. Is there any way to get this new access_token?

Pretty much the same as what's being talked about here: https://github.com/google/google-api-php-client/issues/901

[2017-08-18 10:51] lshchur opened #431 "django_sample - how do I run it?"
Hi guys,

I'm having troubles with using the django_sample project.
After I run the server and log in as a superuser, it redirects me to the base URL and throws following error:
`
Environment:

Request Method: GET
Request URL: http://127.0.0.1:8000/

Django Version: 1.3
Python Version: 2.7.12
Installed Applications:
['django.contrib.admin',
 'django.contrib.auth',
 'django.contrib.contenttypes',

[2017-08-18 10:58] isokrates commented on #42
@jonparrott my regular version of `six` is up to date (1.10.0), but you're probably right that there's another version somewhere that is not...

@craigcitro this is a great tip—thanks very much! I will do as you suggest :) how do I then upgrade that version?

[2017-08-18 14:50] craigcitro commented on #42
@isokrates Depends on where it's installed, how it got installed, etc.

But based on past experience, I'd but 70% odds on `sudo easy_install -U six` fixing the problem.

[2017-08-18 15:07] isokrates commented on #42
Cool. Thanks again for your help! :)

[2017-08-18 16:09] jonparrott commented on #430
You can get notified when a new token is obtained via https://oauth2client.readthedocs.io/en/latest/source/oauth2client.client.html#oauth2client.client.Storage

[2017-08-18 16:09] #430 closed

[2017-08-20 02:49] ebragas commented on #226
I was having the same exact issue @yinleon. Adding the space between quotes also fixed it.

[2017-08-21 08:29] arivanandan commented on #430
Thanks for your time.

client.Storage.get() expects the Storage object, I believe? I am not using one and I think the authorize function refreshes and stores the credentials in the http object passed to it.

[2017-08-21 09:40] arivanandan commented on #430
I tried to create a store with
`oauth2client.client.Storage`
but store.get() is not implemented yet?

Anyway, I ended up doing a refresh of the credentials outside and storing it
`
from oauth2client import client
credentials = client.OAuth2Credentials.from_json(self.credentials)
credentials.refresh(httplib2.Http())
auth = credentials.authorize(httplib2.Http())
self.credentials = credentials
`

[2017-08-22 02:44] arycloud opened #432 "Cloud Billing for python api client"
I'm working on a project where I'm using google cloud api python client, I have done with project creation successfully but now I need to enable billing for that project using api, I have searched a lot but couldn't find any solution for python to enable billing for a project.

is there something available for that purpose?

Thank you!

[2017-08-24 17:00] snarfed commented on #421
friendly nudge! without this, i'd need to switch my library to pip install google-api-python-client from github instead of pypi, which i'd really rather not do. :P

[2017-08-24 17:28] #421 closed

[2017-08-25 09:06] tejastank commented on #313
Same issue:

with django use google analutics API.

In localhost working all fine, ask for google permission to access "google analytics" permission in automatically in browser new tab.

But same code I put on server it give me below message.

What should I had to do ?

To short out issue on server, what should I had to do ??

[2017-08-25 09:11] tejastank commented on #379
@frankgould do you have any idea  on below issue?

Same issue: I run code in my localhost(worksfine) and live on VPS-Server(issue of --noauth_local_webserver).

with django use google analutics API.

In localhost working all fine, ask for google permission to access "google analytics" permission in automatically in browser new tab.

But same code I put on server it give me below message.

What sho

[2017-08-25 09:55] superciccio14 commented on #422
No relevant updates about that issue. The problem is still present.
I don't know if it is a problem of the Python library or a back-end one.

[2017-08-25 11:04] mistergoodson commented on #343
I'm getting this error. Output of `pip freeze`:

[code]

Thought it was my file being called `calendar.py` (as @Lunran suggested) but the issue still persists.

[2017-08-28 17:30] aaronshaf commented on #354
@NeoTheThird Turns out your workaround did not work for me. Stopped at 64gb.

[2017-08-29 00:34] snarfed commented on #421
hi! was closing this intentional? i'm not seeing a new release. (feel free to ignore me if you're working on it!)

[2017-08-29 00:35] jonparrott commented on #421
Yep, a new release should be published.

On Mon, Aug 28, 2017, 5:34 PM Ryan Barrett <notifications@github.com> wrote:

[2017-08-29 04:16] snarfed commented on #421
sorry, i'm probably missing something obvious, but i don't see the new release on either https://pypi.python.org/pypi/google-api-python-client or https://github.com/google/google-api-python-client/releases ...?

[2017-08-29 16:16] jonparrott commented on #421
Oh no, I'm so sorry. I thought I had merged the PR and created the tag. It should be done now (https://github.com/google/google-api-python-client/releases/tag/v1.6.3) and it should upload to PyPI shortly.

[2017-08-29 16:34] snarfed commented on #421
no worries! thank you!

[2017-08-30 11:30] 4r13 opened #435 "Batch requests do not refresh token"
Traceback seems very similar to https://github.com/google/google-api-python-client/issues/211, but it happens on version 1.6.3

  File "/Users/beast/Library/Python/2.7/lib/python/site-packages/cloud_utils-1.0.11-py2.7.egg/cloud_utils/list_instances.py", line 122, in gcp_filter_projects_instances
    batch.execute()
  File "/Users/beast/Library/Python/2.7/lib/python/site-packages/oauth2client/_help

[2017-09-01 13:07] NicolasLM opened #436 "Document which library replaces googleapiclient"
The README explains that this library is being deprecated, however it is not clear what is the recommended way to interact with non-GCP APIs.

[2017-09-01 13:25] snoepkast opened #437 "Deprecation of oauth2client dependency"
According to the readme google/oauth2client is deprecated. They suggest switching to [google-auth](https://google-auth.readthedocs.io/) or [oauthlib](http://oauthlib.readthedocs.io/).

This probably means that this package and all of the docs should also be refactored into using these new packages?

[2017-09-05 06:42] starmood opened #439 "Report API did not return some field"
Hi,

We are using Report API to get user's quota usage report.
But recently, we found from python client, the return result does not include some fields such as "accounts:gmail_used_quota_in_mb".
I am not sure if it's Google API issue or python client issue. But when I use "APIs Explorer", it does return all fields, including "accounts:gmail_used_quota_in_mb"

[2017-09-12 20:17] jmarshall9120 opened #441 "Doubleclick Search Requests use Unescaped JSON"
I've also notified the API team of this.  Not sure if it's more relevant to them or this library.

The problem is that the Double Click search API only accepts unescapped JSON in the request body for http requests.

The documentation [here ](https://developers.google.com/doubleclick-search/v2/how-tos/reporting/asynchronous-requests) shows an example like such:

[code]
The request fails because of

[2017-09-14 19:01] stevedalton opened #442 "Checking 403 reason assumes decoded data is a dict"
When checking for the 403 'reason' [here](https://github.com/google/google-api-python-client/blob/master/googleapiclient/http.py#L115), there's an implicit assumption the data is already a dictionary.  That's not always true: for example, here's some decoded data from the Google Monitoring API:

    [{
      u'error': {
        u'status': u'PERMISSION_DENIED',
        u'code': 403,
        u'error

[2017-09-16 23:11] tuanchauict commented on #100
Use `python3` (3.5) and install `google-api-python-client-py3` works for me (also need to change these in `tools.py` of the library

[code]

[2017-09-22 07:26] ajhsieh commented on #226
Same issue, same workaround as @yinleon and @ebragas

[2017-09-23 13:53] suparnavg opened #445 "Get the error getsockaddrarg: AF_INET address must be tuple, not socket"
Hello! Thanks for reading and thank you for your help in advance

I'm trying to implement the basic google calendar example here:  https://developers.google.com/api-client-library/python/start/get_started

Following the excellent instructions given, in an empty directory, I've created a new file and copied the code provided. I've also got a client ID and client secret from the Google API Console.

[2017-09-26 14:58] rasmi commented on #416
This is also the case when calling [projects.models.versions.setDefault](https://cloud.google.com/ml-engine/reference/rest/v1/projects.models.versions/setDefault):
[code]
It seems that body must be passed even if it is empty. In other methods, body is simply omitted if it is not required, but in setDefault, omitting the body parameter gives an error:
[code]

[2017-09-26 19:48] bantini commented on #445
@suparnavg What is the environment that you are working on (OS, Python version, etc.)

[2017-09-26 23:48] InnovatorYan commented on #15
Using google-api-python-client-1.6.4, still met the same issue, my code is like:
...
downloader = MediaIoBaseDownload(fh, request)
while done is False:
            status, done = downloader.next_chunk()
            print(downloader._total_size)
            print(status.total_size)
            print("Download %d" % int(status.progress() * 100))
...
here the "total_size" is always "None" which leads

[2017-09-27 08:34] gmarchi commented on #93
Still same issue in 2017! Thank you so much @cjerdonek

[2017-09-27 09:43] suparnavg commented on #445
Hi @bantini I'm using Django 1.11 (should have mentioned it in the question itself!)

Not sure why this was happening, but I decided to park this approach altogether and try something else

[2017-10-05 20:07] luabr commented on #93
Still same issue in October 2017!

here is a full working script for sending messages with attatchments (you just need to fill out the arguments for create_message_with_attatchment):

`from __future__ import print_function
import httplib2

from email.encoders import encode_base64
from apiclient import discovery
from oauth2client import client
from oauth2client import tools
from oauth2client.file i

[2017-10-10 17:09] amit-am opened #447 "intermittent failures of google-api-python-client"
I'm using google-api-python-client library's "compute" Resources specially
and i'm using APIs to talk to Disks, Virtual Machines & Snapshots of each.

My code uses this library with 'compute' resource connection using 'discovery.build' like below:

`compute = discovery.build(
                "compute", "v1", credentials=credentials)
`
This becomes my connection objects, used across multiple operat

[2017-10-10 20:01] #194 closed

[2017-10-12 11:16] XuryaX opened #448 "Cannot Import Google Lib using buildout"
I read the quickstart tutorial here for google spreadsheets

    https://developers.google.com/sheets/api/quickstart/python

I am reading a private google spreadsheet, when I run this script in virtualenv with python3.4, it runs good without any errors or exceptions.
But when I integrate this on my app, I get the following errors.
I am using buildout to install the google api python client along w

[2017-10-13 16:06] henryrizzi commented on #448
I believe that this error trace is just a warning, and shouldn't affect anything being run. It just looks like something broke.
believe it's happening here:
https://github.com/google/google-api-python-client/blob/master/googleapiclient/discovery_cache/__init__.py

[2017-10-17 17:55] bantini commented on #448
@XuryaX I am trying to replicate the issue. Can you share how your environment was set up, how you are using the library, etc. preferably with some code?

[2017-10-17 18:00] bantini commented on #447
@amit-am Can you share some of the code that you have been using?

[2017-10-22 13:15] telenieko opened #449 "PUBSUB_EMULATOR_HOST is Ignored"
Hi,

The [PubSub Emulator documentation](https://cloud.google.com/pubsub/docs/emulator) says:

Note that there's no specification on what are the client libraries, so one could understand that any google sponsored libraries would work.

But that is not the case. This library (which is the best for consuming google services from Python btw) ignores the PUBSUB_EMULATOR_HOST variable.

Now, there is

[2017-10-23 04:46] amit-am commented on #447
@bantini : could you please elaborate which code?

I have lot of wrapper code
And many of the above problems seem to have disappeared after i handled multi-threading in my code for Google's python library.

So multi-threading related issue you can skip & let me know when you're planning to have multi-threaded handling in google-api-python-client

[2017-10-25 19:11] kevinhb opened #450 "Docstring refers to nonexistent class MediaDownloadStatus"
https://github.com/google/google-api-python-client/blob/af6766918a50ae3266037e1c30efe8cdacbc8f25/googleapiclient/http.py#L657

This method actually returns a MediaDownloadProgress object

[2017-10-27 20:52] bantini commented on #450
@kevinhb Thanks for pointing this out. I hope the merge solved your problem.

[2017-10-27 20:52] #450 closed

[2017-10-29 11:50] hugovk commented on #203
This can be closed.

Python 2.6 was dropped in https://github.com/google/google-api-python-client/pull/319. 🎉

[2017-10-29 15:35] #203 closed

[2017-10-30 11:40] robhaswell commented on #449
Possibly related to https://github.com/GoogleCloudPlatform/google-cloud-python/issues/3886

[2017-10-30 16:41] robhaswell commented on #449
See: https://github.com/GoogleCloudPlatform/google-cloud-python/issues/3886#issuecomment-340488983

[2017-10-31 20:26] bantini commented on #447
@amit-am Unfortunately, as this library is in maintenance mode only, we won't be adding any new features.

[2017-11-03 21:11] bantini commented on #448
Thank you for filing this issue. We asked some clarifying questions a week or more ago and never heard back from you. We are unable to proceed with this issue until then, so we are closing it. Please feel free to re-open this issue with more information.

[2017-11-03 21:11] #448 closed

[2017-11-03 21:13] #447 closed

[2017-11-03 22:17] bantini commented on #445
Closing this issue since you have opted for a different approach. However, feel free to reopen it if you come across this again.

[2017-11-03 22:17] #445 closed

[2017-11-03 22:50] bantini commented on #432
@arycloud Check this link.

https://cloud.google.com/billing/v1/libraries#python

Also, go through the Pydocs for further details.

https://developers.google.com/resources/api-libraries/documentation/cloudbilling/v1/python/latest/cloudbilling_v1.projects.html

[2017-11-03 22:50] #432 closed

[2017-11-03 23:13] bantini commented on #449
@telenieko Are you using the GoogleCloudPlatform library or this google-api-python-client?

[2017-11-06 13:00] telenieko commented on #449
Hi @bantini ,

I use both, GoogleCloudPlatform has lots more dependencies than google-api-python-client so I try to use this one instead of the shiny new GoogleCloudPlatform.

For this particular issue I brought it up on both sides ([see there](https://github.com/GoogleCloudPlatform/google-cloud-python/issues/3886#issuecomment-339246210)).

The other one is now fixed, but here the issue remains an

[2017-11-07 16:46] JoeCodeswell opened #452 "Simplify Python Quickstart code"
The current Python Quickstart code contains:

    try:
        import argparse
        flags = argparse.ArgumentParser(parents=[tools.argparser]).parse_args()
    except ImportError:
        flags = None

I don't see any use of it and it is taking up valuable "line realestate".

I suggest you delete this section.

Thanks.

Love and peace,
Joe Dorocak aka JoeCodeswell

[2017-11-09 18:57] sendvibe commented on #299
jonparrott's answer almost worked for me.... you just have to fix the typo:

import logging
logging.getLogger('googleapiclient.discovery_cache').setLevel(logging.ERROR)

[2017-11-11 07:52] maheshgmv opened #453 "SSLHandshakeError: [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:661)"
I'm getting SSL error after oauth2 authentication

Warning (from warnings module):
  File "C:\Python27\lib\site-packages\oauth2client\_helpers.py", line 255
    warnings.warn(_MISSING_FILE_MESSAGE.format(filename))
UserWarning: Cannot access analytics.dat: No such file or directory

Your browser has been opened to visit:

    https://accounts.google.com/o/oauth2/auth?scope=https%3A%2F%2Fwww.google

[2017-11-12 08:22] linar-jether commented on #437
+1
Any other usage docs for using `google-auth` or `oauthlib` with the api client libraries?

[2017-11-14 02:00] perrycannon opened #454 "SYNTAX ERROR FOR RETURN {'raw': statement"
I am receiving this error
   return {'raw': base64.urlsafe_b64encode(message.as_string().encode('UTF-8')).decode('ascii')}
         ^
SyntaxError: invalid syntax

I have used different versions of the return statement to return the message with the same result.
[qsEmailTest.txt](https://github.com/google/google-api-python-client/files/1469313/qsEmailTest.txt)

Thank you for helping
Perry

[2017-11-17 16:21] bantini commented on #453
@maheshgmv Can you share the code that you are using for authentication?

[2017-11-17 16:22] bantini commented on #454
@perrycannon Can you share the code that you are using that is causing this error?

[2017-11-19 20:55] perrycannon commented on #454
Sorry for the delay. I will post my code.
 from __future__ import print_functionimport httplib2import os
from apiclient import discoveryfrom apiclient import errorsfrom oauth2client import clientfrom oauth2client import toolsfrom oauth2client.file import Storage
import base64from email.mime.text import MIMEText
try:    import argparse    flags = argparse.ArgumentParser(parents=[tools.argparser]).p

[2017-11-20 11:45] xmedeko commented on #437
This lib still has a pip dependency to `oauth2client` and the code dependency, too, e.g. in the `errors.py`. Please, remove these dependencies and update the doc.

[2017-11-20 12:39] amureki commented on #437
See comments here: https://github.com/google/google-api-python-client/issues/415

Seems like contributors are up for help with this one, if you have time and wish for it.

[2017-11-20 18:29] bantini commented on #454
@perrycannon I think you missed a closing parenthesis in the line:

[code]

[2017-11-21 21:27] andrewzhaosc opened #456 "update the docs"
the docs here are extremely outdated
https://developers.google.com/api-client-library/python/reference/pydoc

[2017-11-23 06:02] alaikis opened #457 "when i get access_toekn with code use client,i get ssl error"
requests.exceptions.SSLError: HTTPSConnectionPool(host='accounts.google.com', port=443): Max retries exceeded with url: /o/oauth2/token (Caused by SSLError(SSLError("bad handshake: Error([('SSL routines', 'SSL3_GET_SERVER_CERTIFICATE', 'certificate verify failed')],)",),))

[2017-11-23 06:03] alaikis commented on #457
![image](https://user-images.githubusercontent.com/30462479/33160409-12c17618-d057-11e7-8f2c-a8f99ebfba3f.png)

[2017-11-26 19:49] perrycannon commented on #454
Thank you for your help. I had to install httplib2, and apiclient. I had to correct the son file name for the credential.

Now I get this error

Traceback (most recent call last):
  File "/home/pi/qsEmailTest.py", line 126, in <module>
    main( 'perryjames.cannon@gmail.com', 'perrycannon@yahoo.com', 'Test mail subject', 'Test mail body' )
  File "/home/pi/qsEmailTest.py", line 121, in main
    te

[2017-11-27 15:57] bantini commented on #453
Closing this issue because there was no response for over 7 days. Feel free to reopen this issue if the problem reappears.

[2017-11-27 18:25] saicheems opened #458 "TypeError raised if returned error not in expected format"
https://github.com/google/google-api-python-client/blob/master/googleapiclient/http.py#L115

^ We need a check for cases where 'reason' is not under the expected structure.

[2017-11-27 18:26] saicheems commented on #458
@bantini

[2017-11-28 07:43] maheshgmv commented on #453
@bantini i'm using **hello_analytics_api_v3.py**  code for authentication.

[2017-11-30 23:06] ender672 commented on #436
It appears to be [google-auth-library-python](https://github.com/GoogleCloudPlatform/google-auth-library-python).

The python examples in the documentation for many google APIs still reference google-api-python client, so you will have to get familiar with google-auth-library-python.

[2017-12-03 16:09] dogwood008 commented on #343
Hi there, I faced the same problem on Python 3.6.1, but it resolved when changed into Python 2.7. I'm happy if this helps you.

[2017-12-04 19:24] bantini commented on #458
Also mentioned in #442 as well

[2017-12-06 02:16] mashallAryan opened #461 "Specifying a time range for results in google custom search api"
I would appreciate if you could take a look at [ this post ](https://stackoverflow.com/questions/47665573/specifying-a-time-range-for-results-in-google-custom-search-api) ans give an answer

[2017-12-06 19:33] bantini commented on #457
@alaikis Can you share the code for the implementation that is causing the problem?

[2017-12-06 19:35] #454 closed

[2017-12-06 20:20] bantini commented on #436
[google-cloud-platform](https://github.com/GoogleCloudPlatform/google-cloud-python) will eventually be the one to use for all google services.

[2017-12-07 21:04] ecarradal opened #462 "SyntaxError in "django-sample" when tried to run the sample"
Hello :D
I have this issue when I tried to run the sample
[code]

[2017-12-11 21:10] bantini commented on #462
@ecarradal I am assuming you are using Python 3.6? Which version of Django are you using? Also, is it a Mac/PC/Linux machine?

[2017-12-14 03:36] fivejjs commented on #453
I got the same error

urllib2.URLError: <urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:661)
[code]

[2017-12-14 21:28] bantini commented on #458
The latest commit should handle it.

[2017-12-14 21:28] #458 closed

[2017-12-14 21:29] bantini commented on #442
The latest commit should handle it.

[2017-12-14 21:29] #442 closed

[2017-12-14 21:29] #436 closed

[2017-12-14 21:32] bantini commented on #439
@starmood Can you share the code that you are using?

[2017-12-14 21:44] bantini commented on #429
@stevenmcastano Can you share the code that you were using?

[2017-12-18 19:57] bantini commented on #462
Closing this because there was no response for 7 days, so I am assuming the issue has been resolved. Feel free to reopen this if the problem persists.

[2017-12-18 19:57] #462 closed

[2017-12-18 19:59] bantini commented on #457
Closing this because there was no response for over a week, so I am assuming the issue has been resolved. Feel free to reopen this if the issue persists.

[2017-12-18 19:59] #457 closed

[2017-12-18 20:37] bantini commented on #453
This is working fine for me. I would suggest the following:

1. Your system clock.
2. Your Python version. Older versions of 2.7 lack SNI support.
3. Your version of openssl, older versions can lack SNI support.
4. Your version of requests and certifi.
5. You can try installing requests[security] to see if it automatically fixes it.

[2017-12-18 21:31] cubicova17 commented on #453
Also getting the same mistake:
1. Clock is in sync
2-5 All were the same for the last months - but the lib stopped working today(approx. 4 hours ago).
Any other ideas how to trace the error?

[2017-12-18 21:42] bantini commented on #453
@cubicova17 Which version of the library, and Python are you using?

[2017-12-18 21:49] cubicova17 commented on #453
- Python 2.7.13
- google-api-python-client==1.5.1
also I noticed that previously we used
`pyOpenSSL==17.2.0`
but now some of our dependencies updated lib version to
`pyOpenSSL==17.3.0`
perhaps this can cause the problem.

[2017-12-20 16:49] Bobspadger opened #463 "This Library is now in maintenance- what its the accepted successor for google content api / shopping"
Quick question - is there a preferred library for using the Content/Shopping api in python if this is now no longer being worked on?

The link to google-cloud-python does not seem to make any reference to this API

Thanks :)

Alex

[2017-12-20 22:14] bantini commented on #453
@cubicova17 Can you try updating google-api-python-client to the latest version (1.6.4)?

[2017-12-31 19:47] keepfocused commented on #243
Here is the solution:
Gmail API - "Users.messages: get" method has in response message.payload.body.data parted base64 data, it's separated by "-" symbol. It's not entire base64 encoded text, it's parts of base64 text. You have to try to decode every single part of this or make one mono string by unite and replace "-" symbol.

[2018-01-01 13:30] mehdirazajaffri commented on #93
Google should update its documentation.

[2018-01-02 18:58] bantini commented on #439
Closing because there was no response, so assuming that the user has found a solution. Feel free to reopen the issue if the problem persists.

[2018-01-02 18:58] #439 closed

[2018-01-02 19:02] bantini commented on #429
Closing this issue because there was no response, so assuming that the user has found a solution. Feel free to reopen this issue if the problem persists.

[2018-01-02 19:02] #429 closed

[2018-01-05 06:14] bantini commented on #422
@floatingpurr Is the problem still present?

[2018-01-05 18:28] harshil9p commented on #15
The problem mostly happens to me when I am trying to download docs/sheets/ppt using mediaIoBaseDownload and it's necessary because to use that when downloading big files.

So here's something I that works for me

[code]

[2018-01-06 00:15] bantini commented on #418
@jspalink What if you use this instead?
[code]

[2018-01-08 13:03] dmvieira commented on #54
Can you please share a code that solves it?

[2018-01-08 20:19] bantini commented on #453
Closing this issue, because it couldn't be replicated with the latest version.

[2018-01-08 20:19] #453 closed

[2018-01-08 20:49] bantini commented on #463
Please continue to use this library until [google-cloud-python](https://github.com/GoogleCloudPlatform/google-cloud-python) releases its version of the Content/Shopping API.

[2018-01-08 20:49] #463 closed

[2018-01-11 16:17] berill commented on #435
Also happening in 1.6.4.

Invoking twice the code below:
[code]

will result in:
[code]

A possible workaround is to disable cache_discovery on service discovery:
[code]

[2018-01-14 00:50] adeboor commented on #357
I'm having trouble understanding why the client changed this way, as the change is breaking my ability to call Google Drive's API. Credentials and API keys can serve the same purpose, but they also can serve different purposes for some APIs, like Drive's: the API key associates the request with a GCP project, telling the API what quotas to apply, while the credentials determine the user whose perm

[2018-01-16 19:03] jonparrott commented on #357
@adeboor this was a misunderstanding on my part. I'll send a PR and make a release to fix this.

[2018-01-16 21:07] bantini commented on #422
Closing it for now because there was no response for over a week. Please reopen this issue if the problem persists.

[2018-01-16 21:07] #422 closed

[2018-01-16 21:09] bantini commented on #418
Closing this because there was no reply for over a week. Please reopen the issue if the problem persists.

[2018-01-16 21:09] #418 closed

[2018-01-16 21:48] adeboor commented on #357
Thanks Jon. It turns out one can work around the issue by passing in an http instance authorized with one's credentials, so not critical.

[2018-01-16 22:22] bantini commented on #15
Should be handled by the latest commit.

[2018-01-16 22:22] #15 closed

[2018-01-16 22:29] bantini commented on #24
Closing this because this library is in maintenance mode and we are not adding new features at this moment. Please feel free to reopen this issue if there is a major problem.

[2018-01-16 22:29] #24 closed

[2018-01-16 22:37] diegojancic commented on #15
Tested it and works using the latest version. Thank you!

[2018-01-16 22:44] bantini commented on #28
Closing this issue because there has been no more discussion on this. Please feel free to reopen the issue if the problem re-appears.

[2018-01-16 22:44] #28 closed

[2018-01-16 22:54] bantini commented on #41
oauth2client library is now deprecated. Hence, closing this issue.

[2018-01-16 22:54] #41 closed

[2018-01-17 15:37] floatingpurr commented on #422
@bantini at this moment all seems working fine. I had reported a problem which started from July 2017 and persisted till late August. I guess it was a Google backend issue.

[2018-01-17 17:43] #357 closed

[2018-01-17 19:35] asergi commented on #307
This was fixed quite some time ago but not closed. Closing now.

[2018-01-17 19:35] #307 closed

[2018-01-17 20:43] bantini commented on #69
Closing this issue as the latest library is compatible with Python 3. Also, as this library is in maintenance mode, we are not adding any further tutorial on this. However, feel free to open an issue if you have any problem.

[2018-01-17 20:43] #69 closed

[2018-01-17 20:50] bantini commented on #35
Closing this issue as it seems that the problems have been resolved. Feel free to reopen it if anything else comes up.

[2018-01-17 20:50] #35 closed

[2018-01-17 20:53] bantini commented on #56
Closing this because the guide seems to be updated. Feel free to reopen the issue if anything comes up.

[2018-01-17 20:53] #56 closed

[2018-01-17 20:59] bantini commented on #60
Closing it as we have instructions to use pip with the libraries everywhere.

[2018-01-17 20:59] #60 closed

[2018-01-17 21:05] lanec opened #468 "400, 404 Errors with Python SDK"
I'm experiencing a couple of issues with the API as I move emails between our application and the users inbox.  These issues manifest when I send to a Gmail account from another Gmail account.  However, these issues don't seem to manifest when working with an email generated by Google itself.  I am uploading the sample emails as JSON format to allow others to reproduce the issue.

1. I use the "ge

[2018-01-18 21:38] bantini commented on #150
Closing this issue because the Google Drive API has been updated to v3. Please feel free to open another issue if the problem is detected in the new API.

[2018-01-18 21:38] #150 closed

[2018-01-18 21:40] bantini commented on #152
The example has been updated. Thanks for bringing it up.

[2018-01-18 21:40] #152 closed

[2018-01-18 22:12] bantini commented on #142
Thanks for the PR @e00E

[2018-01-18 22:12] #142 closed

[2018-01-18 23:04] bantini commented on #136
@mbettan Are you still facing this issue? Alternately, does this library solve your problems?

https://github.com/GoogleCloudPlatform/google-cloud-python

[2018-01-19 00:12] bantini commented on #72
Anyone still facing the problem today? If so, can you share the code and the environment (OS, library version, etc.)?

[2018-01-19 00:15] bantini commented on #71
Hope the PR resolved the issue. Closing it for now. Feel free to reopen it if the problem appears.

[2018-01-19 00:15] #71 closed

[2018-01-19 00:19] bantini commented on #97
Closing this issue assuming that it has been resolved. Feel free to reopen it if the problem appears.

[2018-01-19 00:19] #97 closed

[2018-01-19 17:53] #284 closed

[2018-01-20 16:22] Barathwaja opened #472 "Add example of Sheet API v4"
Added the example of Sheets API with google-auth latest library, check PR #471 .

[2018-01-22 14:31] moshthepitt opened #473 "google_sync_submissions call task func"
Look at how we use _call_func_async and whether it can be better, specifically wrapping the entire block of code that calls the three tasks in a try catch block

[2018-01-22 14:32] #473 closed

[2018-01-23 22:33] ThatsAMorais commented on #240
I am confronting the same issue which I parameterize as follows:
 * Client must be the initiator and uploader, because we need the file to be placed in a bucket near or in that client's region for the lowest-latency user experience possible.
 * Client must be the initiator, because it has the file.
 * Server must generate the signatures required as part of the URLs, along with the URL containing t

[2018-01-23 23:22] bantini commented on #126
Closing because this issue has been resolved.

[2018-01-23 23:22] #126 closed

[2018-01-24 04:46] ThatsAMorais commented on #240
I believe my problem may be unique and i should have made another issue for it.

I made a mistake in my previous post. I was linked to this documentation on Resumable Uploads from the signed url documentation: https://cloud.google.com/storage/docs/xml-api/resumable-upload. However, that flow is not signature-based, it uses a Bearer token; the POST Object docs depict an approach that is signature-b

[2018-01-24 05:01] jonparrott commented on #240
I believe "create_signed_url" or "create_policy_document" is what you're
looking for.

(Sorry for terseness, I'm traveling. Hopefully one of the other maintainers
can help as well)

On Tue, Jan 23, 2018, 8:46 PM Alex Morais <notifications@github.com> wrote:

[2018-01-24 19:26] ThatsAMorais commented on #240
Thanks for pointing me to `Bucket.generate_upload_policy`! Should be helpful for what I'm doing.

Is it advised to trust clients with sending this signed POST, getting session-id URIs to which to post, etc? The conditions in the policy document generated by the server should be able to limit what that client can do/upload with that right?

[2018-01-24 19:27] jonparrott commented on #240
Exactly

On Wed, Jan 24, 2018, 11:26 AM Alex Morais <notifications@github.com> wrote:

[2018-01-24 20:12] hobzcalvin commented on #213
This is ridiculous. Why??? How is this not documented somewhere? Am I missing something?

[2018-01-24 21:03] ThatsAMorais commented on #240
To make this POST+policy request initiate a resumable upload, can I include `x-goog-resumable: start` in the form fields? Is it implicitly resumable?

Its interesting because there's a separate doc for resumable that uses the Bearer token flow, initiated by a POST with follow-up PUT session URIs. However, constructing this POST enables me to have the client initiate the upload, but its not clear w

[2018-01-24 21:30] jonparrott commented on #240
I'm don't think you can do resumable with the policy document / post method. From the docs, it seems that you can set `x-goog-meta-*` stuff in the POST request but not `x-goog-resumable`. However, I could be wrong.

I think if you want to do resumable, you'll need to have the server start the resumable upload using create_signed_url.

I'm going to close this issue as the original feature request i

[2018-01-24 21:30] #240 closed

[2018-01-24 21:32] jonparrott commented on #213
This is documented here for now: https://developers.google.com/identity/protocols/OpenIDConnect#prompt

We are actively working to improve our auth docs, we are aware that it's difficult to find documentation about both the high-level libraries and the low-level protocol. Stay tuned.

[2018-01-24 21:32] #213 closed

[2018-01-24 21:47] ThatsAMorais commented on #240
If the server starts the resumable upload then the client will be uploading across regions in the case where the API server is in a different region from the client making the upload request.

[2018-01-24 22:02] hobzcalvin commented on #213
@jonparrott I would not say that documents this issue: it makes no reference whatsoever to refresh tokens. The `access_type` description says `offline` must be specified to get a refresh token, but no mention of `prompt` there. The Refresh Tokens section says "Be sure to store the refresh token safely and permanently, because you can only obtain a refresh token the first time that you perform the

[2018-01-24 23:55] ThatsAMorais commented on #240
It is clear to me now that gsutil supports a `-m` value of `RESUMABLE`, which generates a signed URL that is resumable. The documentation for this is incredibly misleading.

Basically, just as you would generate a Signed URL to be PUT, you change the method (in the signature) to be POST, and include the x-goog-resumable header in the signature and on the request.

[2018-01-25 18:48] ThatsAMorais commented on #240
I am going to update your docs if possible with the POST flow, and send a PR. The `generate_signed_url` method in the SDK should support POST as a method such that it adds the resumable header, and I can create a PR for that, too.

[2018-01-25 18:50] jonparrott commented on #240
That sounds awesome, thanks @ThatsAMorais!

[2018-01-25 22:08] bantini commented on #47
As this library is in maintenance mode, we won't be adding any new features. However, please check the Play Console Help. The monthly reports might be of some help.

https://support.google.com/googleplay/android-developer/topic/3450942?hl=en

[2018-01-25 22:24] ThatsAMorais commented on #240
No problem at all! https://github.com/GoogleCloudPlatform/google-cloud-python/pull/4789

Can you point me to this documentation if its open source? I'll add some for this if I can.

[2018-01-25 23:11] bantini commented on #155
@latas2000 Did you manage to solve the issue? If not, can you share the code that you were using? Also, can you mention the OS, the python version, and the library version?

[2018-01-29 20:30] bantini commented on #225
Thank you for the PR @ittus. Closing this issue now. Feel free to reopen it if the problem persists.

[2018-01-29 20:30] #225 closed

[2018-01-29 22:35] bantini commented on #136
Closing this issue assuming the new library solved the problem.

[2018-01-29 22:35] #136 closed

[2018-01-29 22:36] bantini commented on #72
Closing this issue assuming it has been resolved. Feel free to reopen it if the problem comes up again.

[2018-01-29 22:36] #72 closed

[2018-02-01 21:32] bantini commented on #58
Is anyone still facing this problem with the latest version of the library?

[2018-02-01 21:41] bantini commented on #52
Is anyone still facing these problems with the latest version of the library?

[2018-02-01 21:57] bantini commented on #65
For anyone who comes back to this issue, this post might help:
https://stackoverflow.com/questions/29883085/how-do-i-turn-off-email-notifications-when-transferring-ownership

[2018-02-01 21:57] #65 closed

[2018-02-01 23:06] bantini commented on #94
Closing this issue assuming the solution provided worked. Feel free to reopen the issue if it comes up.

[2018-02-01 23:06] #94 closed

[2018-02-02 19:29] #158 closed

[2018-02-02 20:05] #190 closed

[2018-02-02 21:14] #221 closed

[2018-02-02 21:28] bantini commented on #226
Closing this because the workaround solved the problem.

[2018-02-06 12:26] priyadhoundiyal commented on #431
You'll need to run the following commands
[code]
before running
`python manage.py runserver`

[2018-02-06 12:29] priyadhoundiyal commented on #431
Seems like you're missing the CredentialsModel table in your database.
Try running
[code]
before running
`python manage.py runserver`

[2018-02-07 13:52] prakashraman opened #476 "google-api-core distribution not found"
Hi,

I have installed the library using

[code]
Into my virtual env. Everything is working just fine. Although when I push to production and have my build server install packages from the **requirements.txt** file, I get the error.

[code]

Although, I can see that the package has been installed (or so the build logs say).

Production Env: Using Seed + Serverless

Any help would be great!

[2018-02-07 17:31] jonparrott commented on #476
Can you give us the contents of your requirements.txt?

Can you give more details on how you deploy to the production environment? This sort of issue can happen when `pkg_resources` doesn't have access to package metadata, which can be caused by strange environments that don't use a real python (virtual) environment, like GAE standard.

[2018-02-07 19:43] prakashraman commented on #476
Hi Jon

So I am using "[Serverless](https://serverless.com/)" (AWS Lamba) - although for the CI infrastructure/tool I am using "[Seed](https://seed.run/)". Below is my requirements.txt

[code]

[2018-02-07 20:37] jonparrott commented on #476
Can you share anything about how your application is packaged up for deployment?

[2018-02-12 05:04] Barathwaja opened #477 "Developer metadata modules displays 404 - Sheets API"
The Developer Metadeta having sub links , all of them directs to 404 page.

for example, [creating developer metadata](https://developers.google.com/sheets/api/eap/reference/rest/v4/spreadsheets/request#createdevelopermetadatarequest).
How to create a metadata and tell the use of it clearly.

Thank you !!

[2018-02-13 22:54] bantini commented on #477
@Barathwaja Thanks for bringing it up. Can you describe how you got to that page from the main documentation page?

[2018-02-14 04:11] Barathwaja commented on #477
@bantini , the main documentation page is adding developer metadata, [click here for main url ](https://developers.google.com/sheets/api/guides/metadata#creating_new_metadata). In that page there are sub modules like create , update, delete , search .. If you click any of the hyperlinks say Reading Single metadata item in that click spreadsheet.metadata.get it redirects to 404 like that if you cli

[2018-02-14 19:39] bantini commented on #58
Closing this for now, assuming the latest version solves this. You can reopen this issue if the problem comes up.

[2018-02-14 19:39] #58 closed

[2018-02-14 19:42] bantini commented on #103
Closing this because of the workaround for 58, and there are no complaints with the latest version of the library.

[2018-02-14 19:42] #103 closed

[2018-02-14 19:55] bantini commented on #155
Closing this assuming the latest version solves this issue. Feel free to reopen this if it comes up again.

[2018-02-14 19:55] #155 closed

[2018-02-14 19:56] #47 closed

[2018-02-16 22:58] bantini commented on #186
This worked for me:
[code]

[2018-02-19 07:32] KathyShen commented on #453
Hi I'm facing the same issue. Got error message:

_urllib2.URLError: <urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate ve
rify failed (_ssl.c:661)>_

Checked my python and lib versions, don;t think it's the version issue. Anyone can suggest what are the potential reason?
-- Python 2.7.13
-- google-api-python-client 1.6.5
-- pyOpenSSL 17.5.0

[2018-02-19 07:32] KathyShen opened #478 "urllib2.URLError: <urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate ve rify failed (_ssl.c:661)>"
**Heads up!**

We appreciate any bug reports or other contributions, but please note that this issue
tracker is only for this client library. We do not maintain the APIs that this client
library talks to. If you have an issue or questions with how to use a particular API,
you may be better off posting on Stackoverflow under the `google-api` tag. If you
are reporting an issue or requesting a featur

[2018-02-19 07:33] KathyShen commented on #478
Hi I'm facing the same issue. Got error message

urllib2.URLError: <urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate ve
rify failed (_ssl.c:661)>

Checked my python and lib versions, don;t think it's the version issue. Anyone can suggest what are the potential reason?
-- Python 2.7.13
-- google-api-python-client 1.6.5
-- pyOpenSSL 17.5.0

[2018-02-19 21:11] advance512 commented on #213
Discovering this was painful.

[2018-02-20 03:28] andrew-impell opened #479 "98!"
**Heads up!**

We appreciate any bug reports or other contributions, but please note that this issue
tracker is only for this client library. We do not maintain the APIs that this client
library talks to. If you have an issue or questions with how to use a particular API,
you may be better off posting on Stackoverflow under the `google-api` tag. If you
are reporting an issue or requesting a featur

[2018-02-20 03:28] #479 closed

[2018-02-20 17:38] knusperkrone opened #480 "Timeout option for HttpRequest"
Hi,
I wanted to use the android publisher API, to automatically upload my app.
So what I am doing:

[code]

When I call execute() on the apk_request, that request results in an ```socket.timeout```, because of the 6 second, default timeout.

Sadly the HTTPRequest constructor does not have some **kwargs for the wrapped httplib2-object so I could pass down ```timeout=XXX```.

Workaround:
[code]

[2018-02-20 21:11] jonparrott commented on #480
You should be able to set the [global socket timeout](https://docs.python.org/3/library/socket.html#socket.setdefaulttimeout).

[2018-02-20 21:11] #480 closed

[2018-02-20 21:11] jonparrott commented on #478
Can you connect to `google.com` or `googleapis.com` with any other programs on that server (excluding web browsers)?

[2018-02-21 04:22] KathyShen commented on #478
No, the server couldn't connect to the web. Are there any alternatives? Is it required for the API to work?

[2018-02-21 09:16] KathyShen commented on #478
I could Ping  google.com from the cmd

[2018-02-21 17:01] jonparrott commented on #478
ping is not the same as being able to establish a secure connection. The server needs to be able to access **https**://googleapis.com.

[2018-02-24 10:45] tomturner commented on #431
The django_sample is out of date as it designed for Django 1.3. I got it to work by upgrading the django project to django 1.11 it wasn't easy. I might create a pull request

[2018-02-26 17:50] theferrit32 commented on #213
@jonparrott does forcing a new login/consent by the user invalidate prior refresh tokens for that user even if the prior refresh token was not used?

In addition are there any plans to either move away from the `access_type=offline` parameter or add as an alternative the mechanism specified in the OpenID specification, which is adding the scope `offline_access` to the authorization request?  `acce

[2018-02-26 19:07] jonparrott commented on #213
Not sure, but I think not. I think the refresh token is only invalidated if the user revokes access through accounts.google.com

Not that I'm aware of.

[2018-02-28 14:36] kbennoune commented on #213
I just tested with an old and new token/refresh_token combination and the old pair continues to be valid when refreshing.

[2018-02-28 23:20] craigcitro opened #481 "`googleapiclient.http.DEFAULT_CHUNK_SIZE` should be larger by default."
The default chunk size of 512kb is too small, and leads to slower-than-needed transfers, eg googlecolab/backend-container#1.

Users can of course set the value larger as they'd like, but I suspect increasing it would lead to a better experience for users who don't know that there's a knob for them to twiddle.

[2018-02-28 23:21] jonparrott commented on #481
Sounds reasonable. Send a PR?

[2018-03-01 17:28] #481 closed

[2018-03-01 20:06] michaelsafyan opened #483 "Feature request: make it easier to cache a 3-legged auth credential"
There is an API that requires a 3-legged auth flow like:

[code]

When this is run in an interactive script like:

[code]

... this results in redundant authentication each time the script is run as in:

[code]

I'd really like a function like `get_credential_from_secrets` to be provided that automatically caches the credential. Bonus points for being smart about when to obtain the auth code via t

[2018-03-01 20:09] jonparrott commented on #483
The auth library used in your sample, `oauth2client`, is deprecated in favor of google-auth. Using 3LO with google-auth means using `oauthlib`/`requests-oauthlib` and there are lots of resources out there for dealing with storage for those libraries.

`oauth2client` does have `Storage` classes that can be used.

[2018-03-01 20:09] #483 closed

[2018-03-01 20:34] michaelsafyan commented on #483
The documentation here:
https://developers.google.com/api-client-library/python/

Still references oauth2client. Can you ensure that the docs there are up-to-date?

[2018-03-01 20:35] michaelsafyan commented on #483
Also note that documentation here:
https://developers.google.com/api-client-library/python/samples/samples

... likewise refrences "flow_from_clientsecrets".

[2018-03-01 21:26] jonparrott commented on #483
Yes, I'm aware of this.

On Thu, Mar 1, 2018 at 12:35 PM Michael Safyan <notifications@github.com>
wrote:

[2018-03-05 08:04] dsoprea commented on #478
I'm getting reports of some users getting this error for one of my projects. Upon further investigation, it looks like the certificate of the server was probably very recently changed (within three weeks) and, very oddly (though not very relevantly), it looks to expire after just three months (May). It doesn't seem likely, but, if there was some way, some place that this could be cached, then this

[2018-03-05 15:05] MichaelJW commented on #478
I'm getting the same error but on my local machine, not on a server. I've set `disable_ssl_certificate_validation=True` in the internal `http = httplib2.Http()` call as a temporary fix.

Is there anything I can do to help diagnose the issue? @jonparrott, you asked about being able to connect to google.com and googleapis.com using other programs (excluding web servers), so I tried using openssl to

[2018-03-05 17:13] jonparrott commented on #478
Far and above the most common culprits here are outdated versions of OpenSSL and outdated CA certificates.

I would *highly* recommend trying with Python 3.6.2 from the official installer on windows (which will include a recent version of SSL). Barring that, you can try installing `urllib3[secure]` and using [`httplib2shim`](https://github.com/GoogleCloudPlatform/httplib2shim).

[2018-03-05 17:13] jonparrott commented on #478
You can also try installing `requests[security]` and seeing if you can make any request to `https://googleapis.com` from Python.

[2018-03-06 10:28] karanpanchal-crest commented on #388
@mikelambert
Is the problem of "Unable to find the server" issue is resolved in your environment?
If yes, can you please share the solution to the issue.
I am not able to figure out the reason behind the issue, The issue in my environment is as follows:
"Server is not responding to the client once or twice a week. On changing the Start time in my environment, the issue gets resolved."
**NOTE: "Sta

[2018-03-06 10:48] mikelambert commented on #388
I am not sure exactly what I did to fix it. I do know that I currently create a new service each time I get/put an object. (In my case, I don't get/put them that often, so it is fine.) I suspect creating a new service anew with each request would probably help, but I understand that may not be a great solution for all use cases.

However, are you using the python-compat runtime too? ie app.yaml ha

[2018-03-06 11:34] karanpanchal-crest commented on #388
Nope. Though I have built my product on the python language, I am not using python-compat runtime. But the issue occurs when my code tries to execute a connection request.

[2018-03-08 14:33] jonasman commented on #448
I get the same with this libs:
google-api-python-client==1.6.5
google-auth==1.4.1
google-auth-httplib2==0.0.3

[2018-03-08 14:36] jonasman commented on #345
and how do we fix the warning?

[2018-03-09 12:15] Tadly commented on #476
Getting the same error.
I'm getting this project as dependency of another one (dialogflow) but I can reproduce the problem.

I'm bootstrapping my dependencies into a specific dir so lets replicate that
[code]

This will now throw an exception:
[code]

This however works:
[code]
Seems like the import order of `pkg_resources` is important which I can not control in my case.

Any suggestions?

[2018-03-09 14:34] jchappell82 commented on #478
Just a comment that might help folks with this issue - I had this issue today on Ubuntu 16.04 and macOS, and the actual solution for me was that I had `httplib2` pinned to an older release in the project I was working on.

A quick `pip install --upgrade httplib2` (which only upgraded `httplib2`, no other dependencies) and then repinning my project to that version (`0.10.3` as of this morning - and

[2018-03-10 01:43] dlrust commented on #453
@KathyShen I was also getting this error which started a few days ago from the googleapis.com URL

I'm on python 2.7.10

I upgraded the following packages to these versions in my project. I'd check to see if you have any of these listed in your requirements pointing at specific older versions

[code]

[2018-03-11 11:05] Barathwaja commented on #477
Is this fixed or not??

[2018-03-13 18:46] MrMichaelWill opened #484 "feature request - support of catalog api"
https://cloud.google.com/billing/v1/how-tos/catalog-api is not currently in https://developers.google.com/api-client-library/python/apis/

I assume that means it is not implemented as a part of the google-api-python-client ?

How hard would it be to implement it?

Is there a good code example in any of the existing implementations to learn how to do so?

[2018-03-13 19:24] jonparrott commented on #484
The generated documentation isn't always up to date. This is showing up in the [api explorer](https://developers.google.com/apis-explorer/#search/cloudbilling.services.list/m/cloudbilling/v1/cloudbilling.services.list) so it should work here:

[code]

[2018-03-13 19:24] #484 closed

[2018-03-13 20:11] MrMichaelWill commented on #484
Not sure what you mean by not up to date. The cloud billing api is listed, I was talking about the catalog api instead, that would allow me to see prices for instances and services and such.

[2018-03-13 20:14] MrMichaelWill commented on #484
Also your code snipped gets me

Traceback (most recent call last):
  File "test3b.py", line 5, in <module>
    response = cloudbilling.services().list().execute()
  File "/usr/local/lib/python2.7/site-packages/oauth2client/_helpers.py", line 133, in positional_wrapper
    return wrapped(*args, **kwargs)
  File "/usr/local/lib/python2.7/site-packages/googleapiclient/http.py", line 844, in execute

[2018-03-13 20:40] jonparrott commented on #484
The "Catalog API" is just a sub-resource in the cloud billing API.

Looks like that API just needs an API key, so just be sure to pass one with the `developerKey` argument to `build`.

[2018-03-13 21:59] MrMichaelWill commented on #484
Thank you Jon, appreciated.

I am wondering, since I can do the following for the compute api, can I do
something similar for the cloudbilling api as well?

compute = googleapiclient.discovery.build('compute', 'v1')

response = compute.zones().list(project='my-super-project').execute()

This works without me hardcoding or providing a key explicitely as a
parameter because of having issued a gcloud

[2018-03-13 22:03] jonparrott commented on #484
You can, it's just for some reason the cloud billing API doesn't expose its scopes, so you'll need to make sure the credentials have the cloud-platform scope:

[code]

[2018-03-13 22:22] MrMichaelWill commented on #484
Fails already earlier:

import google

import googleapiclient.discovery

credentials, _ = google.auth.default(scopes=['
https://www.googleapis.com/auth/cloud-platform'])

Traceback (most recent call last):

  File "test4b.py", line 3, in <module>

    credentials, _ = google.auth.default(scopes=['
https://www.googleapis.com/auth/cloud-platform'])

AttributeError: 'module' object has no attribute '

[2018-03-13 22:40] jonparrott commented on #484
You'll need to install google-auth and google-auth-httplib2.

On Tue, Mar 13, 2018 at 3:22 PM MrMichaelWill <notifications@github.com>
wrote:

[2018-03-14 16:27] akaars opened #485 "400 HTTP error when deleting google instance"
Trying to delete google instance via googleAPI - the code which worked for me for the last year.
Now I receive the following error while trying to execute the _compute.instances().delete().execute()_:

`   File "/home/ilya/.local/lib/python2.7/site-packages/googleapiclient/http.py", line 844, in execute
    raise HttpError(resp, content, uri=self.uri)
googleapiclient.errors.HttpError: <HttpError 4

[2018-03-14 16:34] jonparrott commented on #485
Hi @akaars, this does not appear to be an issue with this client library. I would recommend asking your question on Stackoverflow. The people who look after this repo do not typically have deep insights into server behavior.

[2018-03-14 16:34] #485 closed

[2018-03-14 20:18] MrMichaelWill commented on #484
Done that, still not working:

import google
import google.auth
import googleapiclient.discovery

credentials, _ = google.auth.default(scopes=['https://www.googleapis.com/auth/cloud-platform'])
cloudbilling  = googleapiclient.discovery.build('cloudbilling', 'v1', credentials=credentials)

servicesList  = cloudbilling.services().list().execute()
print servicesList

Traceback (most recent call last)

[2018-03-15 11:55] akaars commented on #485
You're absolutely right, my mistake, sorry for the disturbance.
The library behaves 100% as expected.

[2018-03-15 23:30] thehesiod commented on #138
btw, this also applies to batch calls, it gets slightly more complicated there as I believe and sub-request can throw a 5xx

[2018-03-16 06:21] thehesiod commented on #138
btw I think retry for regular `execute` is now implemented with `num_retries` parameter

[2018-03-21 04:48] thehesiod commented on #138
ugh, this ALSO applies to oauth, I've seen a 502 on token refresh

[2018-03-22 13:01] dmvieira commented on #54
Here is working with environment variables:

`http_proxy=http://proxy_ip:proxy_port`

and

`https_proxy=http://proxy_ip:proxy_port`

[2018-03-23 04:49] oj8k commented on #453
Traceback (most recent call last):
  File "/usr/bin/gdfstool", line 125, in <module>
    main()
  File "/usr/bin/gdfstool", line 120, in main
    _handle_mountpoint(args)
  File "/usr/bin/gdfstool", line 72, in _handle_mountpoint
    option_string=option_string)
  File "/usr/lib/python2.7/site-packages/gdrivefs/gdfs/gdfuse.py", line 863, in mount
    gdrivefs.gdtool.account_info.AccountInfo().get_

[2018-03-24 10:44] ShubhamShah123 commented on #405
Facing the same issue. Please provide the solution regarding the issue its urgent.

[2018-03-26 20:14] jay0lee opened #487 "library is using a deprecated batch endpoint"
The libary currently has www.googleapis.com/batch hardcoded as the endpoint for batch API requests unless caller manually sets batch_uri. See:

https://github.com/google/google-api-python-client/blob/master/googleapiclient/http.py#L1089

per [Google Developers blog post](https://developers.googleblog.com/2018/03/discontinuing-support-for-json-rpc-and.html) this universal endpoint is being turned d

[2018-03-27 20:56] jonparrott commented on #487
Turns out this library is doing the right thing, but only if you construct the `BatchHTTPRequest` using `service.new_batch_http_request`. This method is documented in the docs [here](https://developers.google.com/api-client-library/python/guide/batch).

I've sent a PR to add a helpful warning if you construct `BatchHTTPRequest` manually and specify the legacy URI. This is the best compromise I can

[2018-03-27 20:59] jay0lee commented on #487
The docs also need updating, they're still importing the old camel case call:

https://developers.google.com/api-client-library/python/guide/batch

[2018-03-27 21:00] jonparrott commented on #487
Yeah but it's not using it. Easy to fix.

[2018-03-28 17:21] #487 closed

[2018-03-30 18:21] soumak77 commented on #476
I was having the same issue.  After upgrading pip via `pip install --upgrade pip`, the error went away.

[2018-04-07 17:52] phgachoud commented on #299
as per [this](https://stackoverflow.com/questions/40154672/importerror-file-cache-is-unavailable-when-using-python-client-for-google-ser) answer disable it adding `cache_discovery=False` in `discover.build(api, version, http=http, cache_discovery=False)`

[2018-04-17 20:13] djfritz commented on #453
Seeing the same thing with the latest google appengine release, python 2.7.13

[2018-04-17 22:36] StevenGann commented on #93
@luabr You are my hero. I spent the whole bloody day trying to fix Google's code.

It's a shame Google doesn't care about developers.

[2018-04-17 22:58] jonparrott commented on #93
I apologize that this has slipped under the radar so long. I'm really glad that @luabr's solution has been able to help those who've found this issue.

Unfortunately, the people who maintain this library do not maintain those samples. The good news is that we're all at the same company, so I've filed a bug internally with them to update their documentation and samples (internal issue number 781913

[2018-04-17 22:58] #93 closed

[2018-04-19 15:53] depp05 opened #491 "Can't save Credentials"
I am following the [tutorial](https://developers.google.com/youtube/v3/quickstart/python) provided for the Youtube Data API

The following code :
[code]

Produces the following error :

[code]

The storage of credentials is taken from this [Guide](https://developers.google.com/api-client-library/python/guide/aaa_oauth)

I think the `Credential` object provided by this library does not provided `to

[2018-04-19 16:28] jonparrott commented on #491
Can you give me the `type` of the credentials object here?

[2018-04-19 16:31] jonparrott commented on #491
Oh, nevermind, I see what's going on.

You can't use oauth2client's storage with google-auth. google-auth credentials are relatively straight forward to persist, see: https://github.com/GoogleCloudPlatform/google-auth-library-python-oauthlib/blob/master/google_auth_oauthlib/tool/__main__.py#L80

[2018-04-19 16:31] #491 closed

[2018-04-19 17:53] depp05 commented on #491
@jonparrott Thank you for such prompt reply.

If you don't mind me asking, where should one raise a request to update the samples and related docs?
I have been searching for an solution for a few days, and all the examples always went back to `oauth2client` Storage. It would be really useful for newbies like me, if this was either documented properly, or proper samples were at least provided.

[2018-04-19 17:54] jonparrott commented on #491
For this specific case, you can use the star rating widget at the top of the page to both rate the page and send feedback.

[2018-04-19 17:59] depp05 commented on #491
@jonparrott Thank you for your guidance.

[2018-04-19 20:34] zdavatz commented on #453
same problem here with Python version Python 2.7.12
[code]

[2018-04-20 02:41] mattwhisenhunt commented on #453
@zdavatz is your environment appengine too?

[2018-04-20 06:32] zdavatz commented on #453
No. I am now using https://github.com/jeduan/playup to publish my APK from commandline. Works well.

[2018-04-21 18:22] thehesiod opened #494 "_retry_request not catching socket.timeout"
the current retry logic says: `# Retry on SSL errors and socket timeout errors.`, and it catches socket.error looking for timeouts there, however timeouts in python are reported via `socket.timeout`

[2018-04-22 05:26] thehesiod commented on #494
ok looks like the reason why is that socket.timeout is a subclass of socket.error however it's errno is None

[2018-04-23 16:18] jonparrott commented on #494
Happy to accept a PR to add `socket.timeout` to the retry list [here](https://github.com/google/google-api-python-client/blob/master/googleapiclient/http.py#L173).

[2018-04-23 18:31] thehesiod commented on #494
I'll extract a PR from my other uber PR that got closed ;)

[2018-04-25 16:48] mattwhisenhunt commented on #161
Have you seen https://ga-dev-tools.appspot.com/hit-builder/ ? I hope it will help.

[2018-04-25 16:48] #161 closed

[2018-04-25 16:55] mattwhisenhunt commented on #452
Thanks for the heads up Joe. I have passed it along.

[2018-04-25 16:55] #452 closed

[2018-04-25 17:04] mattwhisenhunt commented on #163
Looks like this issue was resolved. I will add another "you're in the wrong place" answer: Have you seen the awesome GCP client being built at https://github.com/GoogleCloudPlatform/google-cloud-python

[2018-04-25 17:04] #163 closed

[2018-04-25 17:06] mattwhisenhunt commented on #198
Thank you for your bug report. This client library is currently in maintenance mode. We are fixing necessary bugs and adding essential features to ensure this library continues to meet your needs for accessing Google APIs. After careful consideration, we have decided not to fix this bug since there is an acceptable work-around. If you disagree, please feel free explain why you believe fixing it is

[2018-04-25 17:06] #198 closed

[2018-04-25 17:11] mattwhisenhunt commented on #395
Are you still looking for a solution to this issue? In the time since you created it https://github.com/GoogleCloudPlatform/google-cloud-python has become the preferred client (for new code) for the BigQuery API.

I am here to help.

[2018-04-25 17:15] mattwhisenhunt commented on #175
That second point seems to say that is just can't be done programmatically. Is that the method you are successfully calling in API Explorer?

[2018-04-25 17:24] #285 closed, assigned to mattwhisenhunt

[2018-04-25 17:28] mattwhisenhunt commented on #281
@c0b it is being maintained, now more-so than in the past. We have limited resources dedicated to it so feature requests such as this one are low priority at the moment.

[2018-04-25 17:31] #282 closed

[2018-04-25 17:32] #283 closed

[2018-04-25 17:36] mattwhisenhunt commented on #428
Try adding `https://www.googleapis.com/auth/fusiontables.readonly` as a second scope.

[2018-04-25 18:05] mattwhisenhunt commented on #75
This issue may no longer be relevant due to its age. If that is not the case let us know and we will re-open.

[2018-04-25 18:05] #75 closed

[2018-04-25 18:43] mattwhisenhunt commented on #408
Fixed by #497

[2018-04-25 18:43] #408 closed

[2018-04-25 19:16] kamii1000 commented on #321
Unfortunately, there was no answer at that time. I don't know if there is any now.
And yes, I think you are right, this is a design decision by API team to stop spamming.

[2018-04-25 19:47] mattwhisenhunt commented on #321
I'm going to close this issue. Give us a holler if you need anything else.

[2018-04-25 19:47] #321 closed

[2018-04-27 19:49] santoshkumar241 commented on #343
@dogwood008 Thanks a lot, it worked

[2018-04-27 20:39] #494 closed

[2018-04-27 20:42] #416 closed

[2018-05-01 03:15] #355 closed

[2018-05-02 08:23] harel opened #501 "How to use the client library with the new google-auth?"
Considering oauth2client is now deprecated, and does not work with Django 2.x, and that the recommended oauth library is google-auth, how does one use it with this client? It seems the docs are not updated to account for that and the client does not work with the new Credentials object.
Any ideas?

[2018-05-02 16:08] jonparrott commented on #501
This client work with google-auth automatically if it's installed. It accepts credentials objects from both oauth2client and google-auth and will continue to do so indefinitely.

[2018-05-02 16:08] #501 closed

[2018-05-03 13:38] xxbinxx commented on #355
Will look into it,  thanks for the update.
I think you should show a link to [python-docs-samples](https://github.com/googlecloudplatform/python-docs-samples) inside [google-api-python-client](https://github.com/google/google-api-python-client)

[2018-05-04 02:58] thehesiod opened #502 "missing auth retry in _retry_request"
I just hit the following error out of the blue

[code]

with valid credentials, so it seems like a google backend auth issue.  This brought to light that retries for auth errors are missing

simple fix is adding to the exception cases:
[code]

[2018-05-04 16:17] jonparrott commented on #502
Hrm, so oauth2client already retries (and refreshing the token) requests when auth fails. This error happens when it can't refresh the token when retrying and we can't safely retry this - in the failure case we'd end up with infinitely retrying.

This is working as intended, although I'm curious if this same issue appears when using google-auth?

[2018-05-04 16:17] #502 closed

[2018-05-04 16:27] thehesiod commented on #502
well the next retry it worked so obviously it can in fact retry it.  I don't see how you'd get infinite retries when there's a fixed number of retries.  Further, nowhere in that stack does it try to do a retry on this  particular exception.

[2018-05-04 16:31] jonparrott commented on #502
That's because this exception is raised by a part of the stack that *is in the process of retrying*.

[2018-05-04 18:36] thehesiod commented on #502
it's not _retrying_, its _refreshing_ and expired token

[2018-05-04 22:15] thehesiod commented on #502
sorry, missed that impl where it's retrying as well, which means something very strange is going on

[2018-05-04 22:17] thehesiod commented on #502
actually, I don't see "sleep" happening in the logs so I bet `_should_retry_response` is causing it to not retry

[2018-05-04 22:33] thehesiod commented on #502
hah, indeed the check in `_should_retry_response` will only retry 'userRateLimitExceeded' and 'rateLimitExceeded' reasons for the error, which doesn't cover token refresh

[2018-05-07 20:44] charlesreid1 opened #503 "Add more useful link"
This would be a more useful link to add to the README: https://developers.google.com/api-client-library/python/

[2018-05-08 17:12] mattwhisenhunt commented on #477
Thanks for bringing this up. I have passed it along.

[2018-05-08 17:12] #477 closed

[2018-05-08 17:17] mattwhisenhunt commented on #86
https://developers.google.com/android-publisher/api-ref/reviews

[2018-05-08 17:17] #86 closed

[2018-05-08 17:31] mattwhisenhunt commented on #391
https://developers.google.com/tasks/v1/reference/tasklists/update#examples

[2018-05-08 17:32] mattwhisenhunt commented on #472
Thank you for your feature request. This client library is currently in maintenance mode. We are fixing necessary bugs and adding essential features to ensure this library continues to meet your needs for accessing Google APIs. We have decided not to proceed with this enhancement. If you disagree, please feel free to re-open this issue and explain why you believe it is essential for users of this

[2018-05-08 17:32] #472 closed

[2018-05-09 07:44] Offirmo commented on #429
See https://stackoverflow.com/questions/38680216/people-connections-list-not-returning-contacts-using-python-client-library

[2018-05-18 18:16] charlesreid1 opened #506 "client_secret.json vs client_secrets.json"
I've noticed a lot of inconsistency in example code given in various API documentation (I have looked at Calendar API, Directory API, Sheets API, YouTube API, and Drive API. I'm API-ed out). All of it uses this library, but some are using `client_secret.json` and others are using `client_secrets.json`. This repo seems to use `client_secrets.json` consistently so I don't understand why `client_secr

[2018-05-18 19:38] mattwhisenhunt commented on #506
The name of the file is not important, its the content that counts. Depending on what language you are using and what environment your deploying to, you won't even have that json file.

https://github.com/youtube is an official source and it appears their api-samples repo is a helpful collection code samples to interact, specifically, with Youtube. I don't think those samples are limited to exampl

[2018-05-18 19:38] #506 closed

[2018-05-18 21:44] kaansoral commented on #453
This was happening to me too, I was using the sdk1.9.40 - updating my sdk to 1.9.70 fixed things

[2018-05-18 23:31] charlesreid1 commented on #506
Thanks for the explanation. Another cause of confusion was that the name of the json file is specified in [`sample_tools`](https://github.com/google/google-api-python-client/blob/master/googleapiclient/sample_tools.py) so it isn't clear where that comes from (or that it's arbitrary). The `sample_tools` import shows up in the samples like the [calendar sample](https://github.com/google/google-api-p

[2018-05-19 18:48] graulito commented on #453
@kaansoral can you elaborate? You're talking about the gcloud app Python extensions right?
Not really sure how those extensions fit into all this

[2018-05-19 20:02] kaansoral commented on #453
Oops, I was talking about the App Engine Linux Python SDK

[2018-05-22 13:25] pmesgari opened #507 "certificate verify failed"
Getting this error, all libraries are upgraded, the system clock is fine, the code is:
[code]
The output of pip freeze is:
[code]

[code]

[2018-05-22 15:53] #507 closed, assigned to theacodes

[2018-05-22 16:20] pmesgari commented on #507
Hi @theacodes , I am not using requests explicitly anywhere in my code, if there is a problem with requests, I suspect it is google api client using it underneath, wouldn't it then be relevant to post the issue here?

[2018-05-22 21:34] alexandermichels opened #508 "TypeError: __init__() got an unexpected keyword argument 'syntax' in http_pb2.py"
Hello, I'm trying to use Google Cloud's Text-To-Speech and I am getting this traceback when I try importing texttospeech from google.cloud. I installed the SDK using [Google's Quickstart for Debian/Ubuntu and Python](https://cloud.google.com/sdk/docs/) and the Python libraries using pip. I've tried upgrading using pip and still get this error, I've used the import in different Python scripts and g

[2018-05-23 20:04] lucadealfaro commented on #453
Also seeing this.

[2018-05-26 15:52] bionichuman opened #509 "get() expected a dict or protobuf message, got <class 'list'>. ERROR. HELP!"
I keep getting this error and dont know how to fix it.

get() expected a dict or protobuf message, got <class 'list'>.

I have all the auth I thought was needed.

[2018-05-28 05:02] jleroy opened #510 "Invalid message body size"
I retrieve the following cp936-encoded message using the Gmail API:

[code]

I want to check that the decoded data size match the "size" field returned by the API (using Python 3):

[code]

Output:

[code]

This code works with `UTF-8` or `ISO 8859-1` encoded messages, but not with more complex encodings like `gb2312` or `cp936`. However, the [API documentation](https://developers.google.com/gmail

[2018-05-30 14:11] baxtery opened #511 "Translate Key in python (Jupyter notebook)"
currently in the example u use  a developerKey to call the translate API but this is (i assume) not possible anymore.

[code]

is there any other way to call the json file that the api generaters?

[2018-05-30 19:03] alexanderwhatley opened #512 "Memory leak in file download from google drive"
I'm running the following code in google colab to download a large file (approximately 2.5 GB).
[code]

I am using the following script to determine memory usage:
[code]
However, it appears that there is a memory leak in the api client. I print the amount of memory usage at the very beginning, before running anything:
[code]
After running the download script, which as you can see deletes all of th

[2018-05-31 01:36] xirdneh commented on #418
For future references, this works:
`service.translations().list(
    source='es',
    target='en',
    q=[u'algo en español']
)`
For some reason `service.translations().translate()` does not.

[2018-05-31 15:04] toddrme2178 opened #513 "tests directory not in sdist"
I am trying to package google-api-python-client for openSUSE, and we like to run the tests to make sure our particular combination of packages works together.  However, google-api-python-client doesn't have the `tests` directory in the sdists, so we can't run the tests.  Would it be possible to include the files and folders needed to run the tests in the sdist?  Thank you!

[2018-05-31 22:10] #513 closed

[2018-05-31 22:11] #437 closed

[2018-06-01 11:01] jtattermusch opened #516 "Recently released package 1.7.0 is bad? "RuntimeError: Previous version of google-api-python-client detected""
We started getting an error  right after 1.7.0 was pushed to pip:

[code]

in out script this happens after we pip install the freshest version of  google-api-python-client.

see  https://github.com/grpc/grpc/issues/15600

Seems that something is bad with the package, can you fix or unpublish?

[2018-06-01 14:04] manikandan-enability opened #517 "Upload image to google drive"
How to upload images from variable instead of uploading from directory?

For example

imZ=cv2.imread('photo1.jpg')

In imZ the photo1.jpg image data will be available. Now I need to upload imZ as image in google drive instead of " MediaFileUpload('photo1.jpg',mimetype='image/jpeg') " .

[2018-06-01 17:12] theacodes commented on #516
It's weird that your scripts are using the source dist instead of the wheel, which wouldn't hit this codepath at all.

Releasing a version to remove this check, as it's no longer necessary at all.

[2018-06-03 06:10] idanya opened #520 "google-auth package conflicts with app engine library"
Starting from version 1.7, the google-auth package is in use.
This package using the namespace `google.*` which is the same as the app engine library.

Imports we have used up until now like: `from google.appengine.ext import ndb`, now causing an ImportError because of the new google-auth package.

Is there a way to use 1.7 while working with app engine lib?

[2018-06-03 18:34] theacodes commented on #520
HI there, are you using the instructions to do vendoring/copying? https://cloud.google.com/appengine/docs/standard/python/tools/using-libraries-python-27

If so, this should just work - `google-auth` is tested against app engine standard.

[2018-06-04 01:20] epall opened #521 "Discovery checks for removed oauth2client dependency"
In 9eb303e10cc9d6aa09137d1d68a0673e5aa5b4b0, 3 days ago, the dependency on `oauth2client` was dropped (yay!), but it seems that the Discovery API client is still checking for oauth2client in [apiclient/\_\_init\_\_.py](https://github.com/google/google-api-python-client/blob/081d2a336393a5d497339e462875294cfd8c81ea/apiclient/__init__.py#L7-L16) and claiming I need to upgrade my installation of `goo

[2018-06-04 05:43] idanya commented on #520
I do use vendoring. `google-auth` creates a `google` directory inside "lib", then, when I import appengine components it tried to get them from this new directory instead of the app engine's one..

[2018-06-04 08:04] pauloxnet commented on #521
Same issue for me. Thanks for your PR. I hope a 1.7.2 version will be released soon with your fix.

[2018-06-04 10:59] jtattermusch commented on #516
Looks like if we remove the `==1.6.7` pin, things are still broken with 1.7.1 package.

Install 1.7.1:
[code]

And the error:
[code]

https://source.cloud.google.com/results/invocations/8ea5e422-bc99-46ab-88e3-a2c066e688b7/targets

[2018-06-04 13:22] dblakemore commented on #521
Just tracked through the code to find I am having the same problem. Anchored version the old version for now to keep my code working.

[2018-06-04 16:08] #521 closed

[2018-06-04 17:03] epall commented on #521
I think we're all still going to have a bad time with this merged, because `apiclient` still depends on `oauth2client`. My solution was to add a direct dependency on `oauth2client` to my `Pipfile`.

[2018-06-04 17:21] theacodes commented on #521
It shouldn't, so if you do find that it would be useful to report it.

Good call, for now - always pin dependencies, but I would recommend moving to google-auth asap.

[2018-06-04 18:03] epall opened #524 "oauth2client removed from setup.py deps but still imported"
Building on #521, dropping `oauth2client` from `setup.py` in #499 is causing problems importing `apiclient.discovery`:

[code]

[code]

[2018-06-04 18:06] epall commented on #524
It looks like [googleapiclient/sample_tools.py](https://github.com/google/google-api-python-client/blob/master/googleapiclient/sample_tools.py) is rife with dependence on `oauth2client`, and it gets imported unconditionally into `apiclient`. I'm not sure how best to remedy this.

[2018-06-04 18:14] theacodes commented on #524
Thanks for this. `sample_tools` already sends a helpful message about oauth2client, but it seems the old alias package try to import it without checking. I would definitely recommend using `googleapiclient` over `apiclient` as the later is a deprecated alias, but we should certainly fix it to work.

[2018-06-04 18:35] epall commented on #524
Thanks for the tip on switching to `googleapiclient`. I copypasted the [quickstart code for the Sheets API](https://developers.google.com/sheets/api/quickstart/python), which uses `oauth2client` directly and imports `apiclient`. I reported this as Documentation Feedback over there.

[2018-06-04 21:03] antoniomika commented on #400
Ran into a similar issue with this, putting this here for the next person that comes looking:

You need to use the `regionInstanceGroupManagers()` resource instead of `instanceGroupManagers()`. More information available here: https://developers.google.com/resources/api-libraries/documentation/compute/v1/python/latest/compute_v1.regionInstanceGroupManagers.html#insert .

[2018-06-05 05:28] idanya commented on #520
I am using `unittest`. Everything runs in a clean virtual environment after pip installing all deps with `pip install -r requirements.txt -t lib/`.
Setting `PYTHONPATH` to include appengine directory (`/usr/local/google_appengine` which is a sym link to the actual installation directory).

It all worked very well up until version 1.7.

[2018-06-05 09:56] dblakemore commented on #521
Working for me now when pinned to 1.7.3. Thanks

[2018-06-05 15:05] netmorais opened #527 "Api Client to Create a New App"
Dear

I do not know if this is the proper channel for asking the question. I'm new to using the Google Play Console. Looking at the features of the Google Play Custom App Publishing API Client Library for Python I noticed that it is possible to "automate" several phases of Publishing.

All the examples I've known so far, using the Api Client, start with an App that was previously created using the

[2018-06-05 16:30] mattwhisenhunt commented on #527
Just scanning API Explorer briefly it looks to me like that API endpoint is
only for private/enterprise apps.

On Tue, Jun 5, 2018 at 8:05 AM netmorais <notifications@github.com> wrote:

[2018-06-05 16:48] theacodes commented on #520
Setting PYTHONPATH is probably what's going wrong here. You'll need to do something like [this](https://github.com/GoogleCloudPlatform/python-repo-tools/blob/master/gcp_devrel/testing/appengine.py#L34-L36) to get it all playing nicely together.

Closing this for now, but happy to help if you need additional guidance.

[2018-06-05 16:48] #520 closed

[2018-06-06 05:45] migdall opened #528 "Google Cloud Storage Not Uploading Files on Local Development Server"
When trying to test uploading of images on the local development server I am running into this issue.

So far this is not affecting the versions of the app deployed online, just the local environment.

This uploading images code was working fine and then now its not working.

I tried gcloud init and gcloud auth but the error persists.

[code]

[code]

I am uploading the images to Google Cloud Stor

[2018-06-06 14:18] ryantuck commented on #480
a working example of how setting the global socket timeout would solve this issue would be helpful. will update this issue if i find one.

[2018-06-06 15:17] ryantuck commented on #480
Results for this issue are surprisingly sparse on google! Here's how I made this work (for uploading large files to google drive):

[code]

I did originally try experimenting with setting the socket default timeout value in an interactive repl and then `import`ing a custom google drive wrapper around the `service` object, which did *not* seem to affect the default timeout, for what it's worth. Hop

[2018-06-07 15:28] ryantuck commented on #218
Is there any workaround for this? I'm guessing redefining `client` right before each new API call might do it?

[2018-06-07 22:29] bashir2 opened #529 "_retry_request does not catch ServerNotFoundError"
It seems to me that `http._retry_request` does not catch `ServerNotFoundError` when it calls `http.request` [here](https://github.com/google/google-api-python-client/blob/b0b1c1d4a68ae0a40d64c2570425a355362803ba/googleapiclient/http.py#L162). IIUC, this exception might be raised from httplib2 [here](https://github.com/jcgregorio/httplib2/blob/010b4e399c04a199e7ca25995286f3db0337500d/python2/httpli

[2018-06-08 17:30] theacodes commented on #529
This is generally a terminal error, as DNS lookup failures tend to be pretty fatal. Where are you seeing this and how does retrying help?

[2018-06-08 18:20] bashir2 commented on #529
Hmm, can't a temporary network connection issue cause DNS resolution failures?

The actual error I was debugging is coming from a VM on GCP trying to reach out to some Google Cloud APIs so this is entirely internal to GCP (although reported by an external user). I have copied the full traceback below:
[code]

[2018-06-08 18:36] bashir2 commented on #529
That I don't know :-) but this was a long running job (>20 hours) and I suppose we should account for possible network issues even for GCP instances.

Re. your concern, if we retry and the issue is actually permanent, this will eventually fail, correct? I mean we won't mask any permanent issue.

[2018-06-08 21:53] theacodes commented on #529
I mean, sure, let's do it. Send a PR?

[2018-06-11 16:03] mrc0mmand commented on #512
I think I came across a similar (or possibly the same) issue, but with GSheets.

Environment:
[code]

Here's a simple reproducer (without a `.client_secret.json`):
[code]

For measurements I used `memory_profiler` module with following results:
## First and second iteration
[code]

## Last iteration
[code]

There's clearly a memory leak, as the reproducer fetches the same data over and over again,

[2018-06-11 20:11] mrc0mmand commented on #512
I went a little deeper, and the main culprit seems to be in the `createMethod` function when creating dynamic method `batchUpdate`:
[code]

(This method has a *huge* docstring.)

Nevertheless, there is probably a reference loop somewhere, as the `gc.collect()` call manages to collect all those unreachable objects.

[2018-06-11 21:41] mundaneken commented on #299
OMG, I could kiss you guys. I've been shoving beans up my nose for days trying to find the cause of the empty rows. Confirmed: change scope and re-auth fixes the problem.

[2018-06-15 10:07] rueyjye opened #530 "Service account with IP restrict"
I'm using service account with delegated credentials executing Apps Script API to run a function on Google Apps Script from a Python script via Google's Python client library, and it just works fine.

Then, I am trying to add some IP restriction for it, to make sure it can only execute by the specific IP.

I have tried to add a firewall rule in VPC, which deny all ingress from 0.0.0.0/0 and set th

[2018-06-18 14:54] mcdonc commented on #9
Attempt to triage this.

I think the downloadUrl field in Drive metadata has gone the way of the dodo since this issue was originally reported. I'm fuzzy on the release history of the various API revisions, but it appears that in 2016, folks seemed to be using API v2, which does not appear have the downloadUrl field, and since then we have moved on to v3, which did not revive it.

I'm going to try

[2018-06-18 18:13] mcdonc commented on #9
If I'm understanding the issue correctly, responses using analogous calls with the HEAD method seem to now return 200.

[code]

Results in:

[code]

[2018-06-18 18:52] mcdonc commented on #52
Triaging.

I'm afraid that this is a limitation of Python on 32-bit systems.

Python sequences on 32-bit systems (a string is a sequence, mulitple unicode characters defined with u'abc' is a sequence, etc. in Python) are limited to 2**31 entries.  As a result, strings in 32-bit Python are limited to 2GB.

On 64-bit systems, this limitation is removed (not really removed, but the resulting size lim

[2018-06-18 20:07] mcdonc commented on #52
No hand-rolling required to do progressive downloads.  Suggest to the PyDrive people that they use MediaIoBaseDownloader instead of trying to read the entire file into memory using the .get API.

[code]

[2018-06-18 20:13] mcdonc commented on #85
Triaging:

I'm afraid I can't make sense of this without seeing the implementation of loadAssync.  Really can't do much with this without.

[2018-06-19 01:45] mcdonc commented on #85
Another theory is a typo in the project id...

[code]

[2018-06-19 01:48] mcdonc commented on #90
Triaging.

This bug appears to be misfiled.  There is nothing that implements or uses anything named django_orm.Storage in the client library.

[2018-06-19 12:59] mcdonc commented on #9
Note that my rationale for asserting that downloadUrl no longer exists is:

[code]

Produces:

[code]

[2018-06-19 14:09] xmedeko commented on #325
FYI to use the locked_file from oauth2client 3.0.0 without that package (it's not required since 1.7.3), just use the gist https://gist.github.com/xmedeko/e5293707e075d18c9dde8a574d2670e5 and call the `shim()` once.

[2018-06-19 14:51] mcdonc commented on #104
Triaging.

I verified that the description of the symptom is accurate via:

[code]
"Raw file" field is indeed "unknown".

Not sure about whether this is a feature or a bug.

[2018-06-19 18:30] troymaclure opened #531 "Docs for Google Drive API need update, and more examples."
To make it short, the doc in python for the version 3 of the API, at least regarding Google Drive, is lacking. The same apply for other langages.

There is 1 example on github, from 2012, for the API v2, and that's it. The only update was for a typo in the readme.

The official doc in google developer pages for V3 doesn't say much despite the number of pages and is lacking example too. You have to

[2018-06-19 20:37] tseaver commented on #9
The [Drive REST V3 migration guide](https://developers.google.com/drive/api/v3/migration) shows that the `downloadUrl` field is to be replaced with a query string, `?alt=media`, added to the [`files.get` URL](https://developers.google.com/drive/api/v3/reference/files/get) for the file.

[2018-06-19 20:45] tseaver commented on #90
There is a [`DjangoOrmStorage` class in oauth2client](https://github.com/google/oauth2client/blob/0d1c814779c21503307b2f255dabcf24b2a107ac/oauth2client/contrib/django_util/storage.py#L20) which might be related.

[2018-06-19 20:53] tseaver commented on #122
The current [Python api-samples example for uploading video](https://github.com/youtube/api-samples/blob/master/python/upload_video.py) uses the "resumable upload" version of the API, which allows an interrupted upload to be completed after backoff.

[2018-06-19 20:56] tseaver commented on #135
Fixed in 6394b660.

[2018-06-19 20:56] #135 closed

[2018-06-19 20:56] tseaver commented on #194
Fixed in 6394b660

[2018-06-19 21:17] mcdonc commented on #104
The v2 API is gone, apparently:

https://youtube-eng.googleblog.com/2015/04/bye-bye-youtube-data-api-v2.html

[2018-06-19 21:39] JustinBeckwith commented on #527
Let's take a look in here, and see if it exists!
https://www.googleapis.com/discovery/v1/apis/

[2018-06-19 21:43] JustinBeckwith commented on #509
Thanks for the issue!  Can you please share:
- The code snippet that causes the error
- The complete stack trace when you get the error.

[2018-06-19 21:49] JustinBeckwith commented on #461
It looks like you got an answer on StackOverflow :) Please do let us know if this is still an issue!

[2018-06-19 21:49] #461 closed

[2018-06-20 14:15] JustinBeckwith commented on #405
We should probably update the sample to output the file name after download :)

[2018-06-20 14:16] JustinBeckwith commented on #395
Greetings!  If this is still an issue, please do let us know!

[2018-06-20 14:16] #395 closed

[2018-06-20 14:18] JustinBeckwith commented on #390
Greetings!  We need a little more information.  To help us out, we'll need:
- Which API you're trying to use
- The code you've already tried
- The specific error or output you're getting

If you can give us those... great!  We'd be happy to re-open the issue.

[2018-06-20 14:18] #390 closed

[2018-06-20 15:21] JustinBeckwith commented on #196
Greetings!  If this is still a problem, please do let us know!

[2018-06-20 15:21] #196 closed

[2018-06-20 15:24] JustinBeckwith commented on #175
Greetings!  If this is still an issue, please do let us know!

[2018-06-20 15:24] #175 closed

[2018-06-20 15:26] JustinBeckwith commented on #140
Greetings!  This issue is getting a little old, and we're not sure if it's still a problem.  We're going to close it out for now.  If this is still giving you trouble... please do let us know!

[2018-06-20 15:26] #140 closed

[2018-06-20 15:27] #122 closed

[2018-06-20 15:28] JustinBeckwith commented on #90
Greetings!  This issue is getting pretty old :)  If this is still an issue... please do let us know!

[2018-06-20 15:28] #90 closed

[2018-06-20 15:29] JustinBeckwith commented on #85
Greetings!  For BigQuery, we recommend using this library instead:
https://github.com/GoogleCloudPlatform/google-cloud-python/tree/master/bigquery

Hope this helps!

[2018-06-20 15:29] #85 closed

[2018-06-20 16:00] mcdonc commented on #235
#320 does indeed solve this, and there are docs checked in to the package which describe the use of socket.setdefaulttimeout() to override the default timeout.  However, those docs are not the most current published version, AFAICT.  https://google.github.io/google-api-python-client/docs/epy/googleapiclient.http-module.html does not match what's checked in to the repo.

[2018-06-20 16:10] theacodes commented on #405
This sample is owned by @grant.

[2018-06-20 17:43] grant commented on #405
@theacodes Can you link the code sample that is owned by me?

[2018-06-20 17:48] theacodes commented on #405
Not sure as the OP never attached the code. :(

[2018-06-20 18:05] grant commented on #405
Well, how do you know I own this sample? There is no `download.py` in any supported G Suite sample that I can find. Maybe it's OP's script, or deleted in this repo?

I've looked in these places:

- https://github.com/google/google-api-python-client/tree/52101a521e0d67591c462a957547d8f143d68427 (here at the time of the posting)
- https://github.com/gsuitedevs/python-samples
- https://github.com/gsu

[2018-06-21 13:41] mcdonc commented on #254
This bug is filed against the wrong repository, I believe.  It should be in https://github.com/google/gdata-python-client .  I think there may be an official way to move it there, but it's not immediately obvious how to do that.

[2018-06-21 14:01] mcdonc commented on #254
This issue was moved to google/gdata-python-client#65

[2018-06-21 14:01] #254 closed

[2018-06-21 14:02] mcdonc commented on #254
I used https://github-issue-mover.appspot.com/ to move the issue

[2018-06-21 15:46] mcdonc commented on #288
I could not replicate this bug using:

- Ubuntu Linux 18.04
- Python 3.5.5 (virtualenv)
- pyOpenSSL-18.0.0
- oauth2client-4.1.2
- google-api-python-client master

[2018-06-21 19:31] mcdonc commented on #288
I'm going to close this issue due to an inability to reproduce, but if you need more help, please comment, and we can reopen.  Thanks!

[2018-06-21 19:31] #288 closed

[2018-06-21 19:33] mcdonc commented on #9
I'm going to close this due to the API changing fairly comprehensively since the bug was filed, and because I can't reproduce it in the new API variants.  But if it pops up again, please comment and we can reopen.  Thanks!

[2018-06-21 19:33] #9 closed

[2018-06-21 19:34] mcdonc commented on #52
I'm going to close this issue, as it's actually in the hands of the PyDrive folks to implement something like I showed above.  If you need more help, though, please comment and I'll be happy to respond.

[2018-06-21 19:34] #52 closed

[2018-06-21 19:36] mcdonc commented on #100
I'm going to close this, as there are two solutions named above (and the PYTHONPATH one is even in the official docs), however, if you need more help, please comment, and I'll try to provide it.  Thanks!

[2018-06-21 19:36] #100 closed

[2018-06-24 03:45] bashir2 commented on #529
PR #532 sent; @theacodes can you please take a look?

[2018-06-26 18:00] mcdonc commented on #403
The analysis by @PacoHobi is correct, although the solution proposed in the OP may or may not be correct.  There is a unit test that asserts the current behavior, which is to treat slash-prepended URLs as if they should just be appended to the base URL, and when the code is changed to treat the URL as if it already contains the base when it starts with a slash, the test fails.

https://github.com/

[2018-06-27 16:19] mcdonc commented on #403
Pretty sure this is going to need to go to the backend team, as it appears that slash-prefixed URLs are meant to be relative to the base URL, not the host or any other url.

[2018-06-27 16:53] mcdonc commented on #417
I think what's required here is just a warning that Flask's session cookies are, indeed, signed, but not encrypted, and can be easily decrypted by anyone who has access to the request traffic that contains the cookies.

[2018-06-28 15:44] mcdonc commented on #508
This issue was moved to GoogleCloudPlatform/google-cloud-python#5548

[2018-06-28 15:44] #508 closed

[2018-06-28 17:43] mcdonc commented on #510
I suspect this is somehow related to the difference of the length of a decoded bytestring (in Python 3, it would be "str") and the encoded variant (bytes).  The docs indeed seem to say that the length is of the number of bytes needed to encode the value, not the number of codepoints produced after decoding.  I'm not sure if the docs are wrong, or if the result is, or neither.

It would be useful i

[2018-06-28 23:41] jleroy commented on #510
@mcdonc I can't post the payload here as it contains some sensitive data. But I can send it to you in private?

[2018-06-29 03:30] mcdonc commented on #510
@jleroy Absolutely.  Please send to chrismgoog@gmail.com

[2018-06-29 11:34] alexanderkjeldaas opened #534 "RESTLESS vulnerability?"
I couldn't find this in the issue tracker

https://www.danieldent.com/blog/restless-vulnerability-non-browser-cross-domain-http-request-attacks/

"Both the Python & Go SDKs provided by Google Cloud are vulnerable to variant 1 of this attack."

[2018-06-29 11:52] mcdonc commented on #534
I suspect this may be a won't-fix, given the last paragraph of Daniel's blog entry.

[2018-06-29 12:42] mcdonc commented on #512
The issue in the OP and the followup about Gsheets are related, inasmuch as both seem to cause more memory than desirable to be consumed, but they have independent causes.  Or, at least, the MediaIOBaseDownload.next_chunk() codepath never causes the createMethod function to be called.

@mrc0mmand would you be kind enough to open a separate issue about the Gsheets memory issue?

[2018-06-29 12:50] mrc0mmand opened #535 "Possible memory leak when using Google Sheets API"
There seems to be a memory leak when using the google-api-client with GSheets.

Environment:
[code]

Here's a simple reproducer (without a `.client_secret.json`):
[code]

For measurements I used `memory_profiler` module with following results:
## First and second iteration
[code]

## Last iteration
[code]

There's clearly a memory leak, as the reproducer fetches the same data over and over again,

[2018-06-29 12:51] mrc0mmand commented on #512
@mcdonc Sure thing, see #535.

[2018-06-29 13:39] alexanderkjeldaas commented on #534
You mean this? "Google has declined to fix the above vulnerability through their security vulnerability reporting program. As of publication, no expected fix date is available."

I understand that it might not qualify for a vulnerability as it's not Google's data that will be compromised, but it's rather customers data stored outside of Google that can be attacked by Google.

Still, should be fixe

[2018-06-29 14:36] mcdonc commented on #512
@alexanderwhatley

For the record, I created the following script in order to attempt to replicate your findings:

[code]

I ran this under Python 2.7.15 and got the following result against a 2.5GB file:

[code]

I got a similar result under Python 3.5.

Do you think you can run it on your system and see if you get the same results?

[2018-06-29 15:19] mcdonc commented on #535
I've been able to replicate this with a variant of your script, thanks!

I *think* it may be possible to cache the result of createMethod such that we don't create a new closure for every call, which would make the memory leak less dramatic (probably not noticeable), and faster.  But before I do that I'll try to identify the actual cycle.

[2018-06-29 18:04] alexanderwhatley commented on #512
@mcdonc I don't have access to your files so I can't run your code, but as I showed above, I had the same issue as you.

[2018-06-29 22:09] chrish10e opened #536 "Batch request for group members results in <BatchError "Invalid value for Content-ID: ..."
Occurs in line 1191 of `http.py` - exact message is:

`googleapiclient.errors.BatchError: <BatchError "Invalid value for Content-ID: response- <cf4d6eb8-8f95-4fe1-ad82-2252fa9e8197+my-group@mydomain.com>">

If I insert `header = header.replace('response- ','')` at line 1175 the issue goes away.

[2018-07-02 11:48] mcdonc commented on #510
@jleroy had this to say in private communications:

[code]

[2018-07-02 11:56] mcdonc commented on #510
I suspect that changing this on the backend, even though it's unexpected, would cause a bit of chaos, as others have undoubtedly figured this out and work around it by decoding from UTF-8 and encoding to the message encoding, comparing the length of the reencoded bytestring to the size purported in the payload body.  Although it's subobptimal, now that we understand it, I might suggest that we jus

[2018-07-02 12:01] mcdonc commented on #534
FWIW, internal discussions amongst team members after I posted the above has not been unanimously in agreement with my take above.  I still believe that this is cause for minor concern, but I am only a collaborator.  I'm going to leave it up to Google folks to close or pursue this issue.

[2018-07-02 12:22] mcdonc commented on #512
@alexanderwhatley thanks for the response.

What I was getting at, though, is that I don't see an issue.  The problematic result in your original analysis is, I believe:

[code]

I haven't been able to get a result like that.  Instead, memory is reclaimed by the end of the script.

Do you think you might be able to change the fileId of my script to a large file in your drive area and replicate you

[2018-07-02 12:24] mcdonc commented on #536
Hi @chrish10e

Do you think you can provide a bit of code that replicates this error for us?

[2018-07-02 12:31] alexanderkjeldaas commented on #534
yes.  It's important that the client code treats the server as not trusted.  *Especially* when Google is the author on both sides.

[2018-07-02 12:42] jleroy commented on #510
I don't think that updating the documentation is a good solution because there is no way to know the target encoding without retrieving and parsing the message's "Content-Type" header.

Maybe adding a "size_utf8" field is a better solution.

[2018-07-02 12:50] mcdonc commented on #510
I think that's a reasonable suggestion.  I'll try to figure out how to get
it to the backend team.

On Mon, Jul 2, 2018 at 8:42 AM, Jonathan Leroy <notifications@github.com>
wrote:

[2018-07-02 13:09] mcdonc commented on #510
@theacodes can you help me get a suggestion to add a 'size_utf8' to the payload body to the GMail backend team?  I *think* the rationale here is that de-base64-encoding to check the length of the encoded message is much slower than just being able to rely on a value in the payload, maybe @jleroy can confirm.

[2018-07-02 13:21] mcdonc commented on #534
I've (presumptously, sorry Thea) assigned @theacodes to this issue to make a call about what to do here.

[2018-07-02 16:10] theacodes commented on #534
All of our APIs are accessed through HTTPS. If an attacker is able to compromise that we're already in endgame territory. Closing.

[2018-07-02 16:10] #534 closed

[2018-07-02 17:48] chrish10e commented on #536
Yes here you go:

`GROUPS_API = 'https://www.googleapis.com/auth/admin.directory.group.readonly'

# Create Service

store = file.Storage('my_store.json')
creds = store.get()

if not creds or creds.invalid:
    flow = client.flow_from_clientsecrets('my_client_secrets.json', GROUPS_API)
    creds = tools.run_flow(flow, store)

service = build('admin', 'directory_v1', http=creds.authorize(Http()))

#

[2018-07-02 18:11] alexanderkjeldaas commented on #534
HTTPS is out of scope for the threat described here.

On Mon, Jul 2, 2018 at 6:10 PM, Thea Flowers <notifications@github.com>
wrote:

[2018-07-02 18:39] mcdonc commented on #536
Awaiting credentials from Google for GSuite so I can confirm the issue.

[2018-07-03 08:21] furqanrahamath94 commented on #478
This helped resolve my issue:
**Thanks to the blog by Yifan Peng  : http://blog.pengyifan.com/how-to-fix-python-ssl-certificate_verify_failed/**

I added the below code:
[code]

[2018-07-04 06:46] rohithmn3 commented on #175
Hi @ksurya ,
I am also facing the same issue;
The below command fails:
`gcloud projects add-iam-policy-binding linuxacademy-3 --member user:rohithmn3@gmail.com --role roles/owner`

Is there any alternative for this; if yes, How to add this in my Python Code.
Please help me here..!

Regards,
Rohith

[2018-07-04 08:15] rohithmn3 opened #537 "Unable to grant owner access to User members"
I couldn't able to add new member in GCP(iam) with the role owner using the gcloud command The below command fails:
`gcloud projects add-iam-policy-binding linuxacademy-3 --member user:rohithmn3@gmail.com --role roles/owner`

With the below Error:
[code]
But, the same command works well for other roles like: viewer, browser...! It just doesn't work for "owner". Is there any alternative for this; i

[2018-07-04 11:20] ofersadan85 commented on #93
Just reporting that this issue still exists as of July 2018, spent hours trying to fix something that doesn't really need more than 3 minutes of docs corrections to help the users and developers who rely on you... isn't it ridiculous that the people writing the documentation are not the same people maintaining the library with all it's changes and issues? This is again the same feeling I had devel